[2013-05-17 17:31] mykmelez commented on #521
Hi @gorghoa, no, that isn't normal! And I see it too on my Ubuntu 12.10 64-bit VM:

[code]

cc: @rpl & @ochameau, who might know what's going on and how to address it.

[2013-05-17 17:34] mykmelez commented on #473
Thanks for getting back to me! That issue with subsequent runs of the Simulator makes it sound like a problem with loading the addon on Firefox startup. What version of Firefox are you using?

You can install the preview build by clicking this link:

https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi

[2013-05-17 17:39] mykmelez commented on #246
@ochameau What do you recommend we do about this? Should we apply a hotfix to our version of the SDK, or should we wait for 1.15 to be released? Or perhaps the SDK developers would release a 1.14.1 hotfix update?

@ssj4maiko That might be #475, which we fixed in the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.

[2013-05-17 17:40] mykmelez commented on #380
@tobbi I pushed preview builds ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) yesterday with the fix in #518. Can you try them out and let me know if they work for you on Nightly?

[2013-05-17 17:45] mykmelez commented on #246
Reopening to track the remaining issue with the Simulator when using private windows.

[2013-05-17 17:49] mykmelez commented on #518
We fixed this in d272d1405ed7b3ffdb956439abf7b4f119f84ee0, and the fix is in the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)).

[2013-05-17 17:49] #518 closed, assigned to nobody

[2013-05-17 17:51] mykmelez commented on #475
We fixed #518, and the fix is in the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)), so I think this issue is now resolved. Please try installing the latest preview build, and reopen

[2013-05-17 17:51] #475 closed, assigned to nobody

[2013-05-17 18:05] ssj4maiko commented on #246
Just updated from it and now it works again.

[2013-05-17 18:14] ltedone commented on #475
It doesn't work for me, I'm using Nightly 24.0a1 (2013-05-17); I unistalled the version 3.0, rebooted my pc and then installed the version above; after the installation I can use the simulator and there is the entry in the tools menu, but if I close the browser and then open it the menu entry is not visible

[2013-05-17 18:19] mykmelez opened #535 "simulate rotation whether or not app allows orientation change"
The Simulator's Rotate button simulates orientation, but users expect it to simulate rotation, and they're frequently confused by it, especially when it doesn't work in apps that don't allow orientation changes:
- #482 @ochameau: "I thought that rotate button was just broken and it took me some time to understand that rotation is possible only when being in some apps."
- #500 @Gioyik: "The orienta

[2013-05-17 18:27] mykmelez commented on #385
@white-gecko Hmm, it sounds like you are experiencing #423, which is an Iceweasel-specific issue.

[2013-05-17 18:41] mykmelez commented on #475
Is there any chance you've configured Firefox to "never remember history" in its preferences? If so, then you might be running into #431.

[2013-05-17 18:49] ltedone commented on #475
No Myk, it remembers history, I checked in my preferences

[2013-05-17 18:55] emilis commented on #521
I can confirm this on an Ubuntu 12.10 64-bit laptop.

[2013-05-18 09:39] white-gecko commented on #385
@mykmelez ok, thank you I thought the only difference is the name and the icon

[2013-05-18 14:08] Bonstra opened #536 "Simulator crashes on startup when battery absent on Linux"
When I attempt to start the simulator (4.0pre2) on my ArchLinux x86_64 laptop with Firefox 21, the simulator window appears, shows the "based on mozilla technology" image, and immediately shutdowns without showing the dashboard (it shows the animations with the three circles, and the window closes).

However, with almost the same setup, the simulator runs fine on my desktop computer in my office.

[2013-05-18 15:20] mkody opened #537 "Emulator Crash when website try to download an image on the device"
Hello,

I'm using the lastest development version from the Firefox OS addon on Mac OS 10.8.2 with Firefox beta 22.0.
When I've tried to click on "View Full Size" on my Facebook profile picture (m.facebook.com), it open a tab, close it after some seconds and B2G.app crash. I think Facebook is making us download the picture, which is possibly not available yet for B2G?

[2013-05-18 20:42] rpl commented on #521
@mykmelez I'm on Ubuntu 13.04 64-bit, it presents the same behavior, and I see this log on every b2g start:

[code]

it seems to be already reported here:
- https://bugzilla.mozilla.org/show_bug.cgi?id=833117

and in the comments its behavior is reported as cpu intensive (or crash for some user),
but it should happen only on glib >= 2.35 (and on my Ubuntu 13.04 I've glib 2.36)

[2013-05-18 20:59] rpl commented on #521
@mykmelez I see the same error in the logs related to the Firefox instance started by "make run", but it doesn't present the same behavior, so I'm not sure if it could be really a symptom of the same issue reported on bugzilla 833117.

[2013-05-18 21:04] rpl commented on #521
@mykmelez Another detail that could be important:
one of the most active processes is a b2g's child named "(Preallocated app)"
- http://mxr.mozilla.org/mozilla-b2g18/source/dom/ipc/ContentChild.cpp#338

[2013-05-18 21:05] white-gecko commented on #423
Sorry for the question, but for which iceweasel version do I have to wait to try FirefoxOS again?
21.0?

[2013-05-19 16:31] Cwiiis opened #538 "Pushing to device doesn't work with Firefox Nightly or Aurora and FirefoxOS master gaia/master gecko on Windows 7"
I assume this feature should normally work, so I'm not sure what part of my configuration is causing it not to work.

The device is detected fine and I can use the Android SDK's adb to communicate with it correctly, push and pull from it, use the shell, etc. The add-on detects its presence correctly when I unplug and plug in the device. When I press the 'Push' button on any of my apps, however, it

[2013-05-19 16:37] Cwiiis commented on #538
Just confirmed that the bundled adb in the add-on works correctly too, both pushing and pulling.

[2013-05-19 18:06] TDYK commented on #423
Well, i tried 22 ant it is working. But, in v.23 it fails to start again.

You should try v.22, before the bug is fixed in v.23.

So, can someone tell me please, where must i create a bug report, according
to attached file?
Must I open one here, or send it to iceweasel maintaners?
http://paste.debian.net/5217/

Thank you!
Best regards,
Dmitrii

[2013-05-19 23:52] Cwiiis commented on #538
On the exact same machine, using the simulator in Linux (Fedora 18 64-bit) inside a VM, pushing works (but for whatever reason, installing apps on the simulator is broken...)

[2013-05-20 00:02] Cwiiis opened #539 "'badParameterType' when trying to install/update app on Fedora 18, Firefox 20"
Every time I try to install or update an application, I get the error "badParameterType: missing directory /tmp/b2g/xxxx", where xxxx is, I assume, a uuid. Afterwards, the application is not installed on the simulator. Thankfully, pushing to a real device works :)

[2013-05-20 06:25] ihsaninfiyaz commented on #473
No prob. I'm using the latest version of Firefox now, thats 21, but it was on 20 that I tried the simulator.

Let me try the preview build and let you know asap.

[2013-05-20 07:23] ihsaninfiyaz commented on #473
Hi, I can't seem to be able to open it once installed. How should I open it? The previous install, not the preview, it opened it as well automatically. I couldn't open it again though, but this one doesn't even open after the installation.

Thanks for any help in advance!

[2013-05-20 13:12] tobbi commented on #380
It's weird. Now it again won't work on either Release nor Nightly. It still closes in both, even in a new profile. I don't know what made it work earlier. But at least the menu item shows again now.

[2013-05-20 15:12] mykmelez commented on #539
@Cwiiis That sounds like issue #472, which should be fixed in the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)).

[2013-05-20 15:12] #539 closed, assigned to nobody

[2013-05-20 15:42] mykmelez commented on #380
@tobbi Sometimes a Simulator process will hang, and it keeps the Gaia profile locked, so no new process can start. Check the Task Manager for a b2g.exe process, kill it if you find one there, and then try starting the Simulator again.

If that still doesn't work, or there isn't a b2g.exe process running, you might try deleting the Gaia profile's _parent.lock_ file. If Windows reports that the file

[2013-05-20 16:27] mykmelez commented on #538
Hmm, I'm not sure what's going on here. Let's try making the addon log more messages about its behavior.

To do that, use about:config to create the integer preference _extensions.r2d2b2g@mozilla.org.sdk.console.logLevel_, set it to the value 0 (zero), and then use the Add-ons Manager to disable/reenable the addon. Then try pushing again and see if any relevant messages appear in the Error Console

[2013-05-20 16:58] mykmelez commented on #537
Hi @MKody, thanks for reporting the problem! I see it too, and it isn't clear why it's happening, but B2G shouldn't crash, even if it doesn't support some web platform feature that a webapp tries to use.

Here are my steps to reproduce:
1. start browser app;
2. go to m.facebook.com;
3. sign in;
4. tap menu button in top-left corner;
5. tap own name in menu;
6. tap picture in profile;
7. tap View F

[2013-05-20 16:58] #537 closed, assigned to nobody

[2013-05-20 17:03] mykmelez commented on #536
Hi @Bonstra, thanks for reporting this problem! The Simulator doesn't actually have nightly builds, so I wonder if perhaps you are using a nightly build of B2G Desktop. Can you provide the link from which you downloaded the software you're using?

Regardless, of course the software shouldn't crash (and the Simulator should let you simulate battery capacity as well as battery presence/absence). I j

[2013-05-20 17:05] mykmelez commented on #526
@javiersgithub Have you had any luck with the latest preview build or enabling more detailed logs?

[2013-05-20 17:12] mykmelez commented on #501
Closing due to lack of needed info, but please reopen if you can provide more details!

[2013-05-20 17:12] #501 closed, assigned to nobody

[2013-05-20 17:15] mykmelez commented on #473
You should be able to open the Simulator's Dashboard by going to Tools > Web Developer > Firefox OS Simulator.

[2013-05-20 17:41] Bonstra commented on #536
I got the Firefox OS Simulator from this URL : https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi
The extension details page reads version 4.0pre2.

[2013-05-20 17:48] mykmelez commented on #536
Ah, ok, you're using the Simulator itself rather than a nightly build of B2G Desktop.

Hmm, I wonder if this is #268. Can you try executing `xhost +` before starting the Simulator?

[2013-05-20 18:15] Bonstra commented on #536
I first ran the simulator without executing `xhost +`, closed Firefox, executed the `xhost +` command, and ran the simulator again.
I saw no difference between the two runs. The messages in the terminal are the same.

Unlike issue #268, the simulator window appeared for a few seconds, after which it closed. Also, I do not get the "No protocol specified" and "cannot open display" messages.

[2013-05-20 18:18] winncountynews commented on #501
the problem is still there, what info did you need.

for example start at
http://www.ada.org/8544.aspx

answer the questions to test question 1, click SUBMIT at bottom of page
you should be taken to
https://jadace.ucdenver.edu/index.php?TestID=2013_05&Q1=A&Q2=A&Q3=A&Q4=A&Q5=null&Q6=null&Q7=null&Q8=null&Q9=null&Q10=null&Q11=null&Q12=null&Q13=null&Q14=null&Q15=null&Q16=null&MemNum=

(slightly differ

[2013-05-20 21:01] javiersgithub commented on #526
I have done several tests but no luck. This time running Firefox 22.
- The same errors as before continue to appear, including the segment fault.
- I have clone the repo an compile it my self, but same errors appear.
- Have installed the 32 bit compatibility libraries (my system is an Ubuntu 64) and now it does not crash and the toggle shows the 'running' label but apparently nothing happens.
- I

[2013-05-21 06:13] ihsaninfiyaz commented on #473
Cool, I got it opened, but unfortunately it's the same story. Here's a screenshot of what's happening JUST before it crashes or closes rather. Its got a few errors (the error console) that you might want to check out as well.
![screenshot from 2013-05-21 11 37 10](https://f.cloud.github.com/assets/4272359/540125/758549c4-c1dd-11e2-8700-ab946a2c69f2.png)

[2013-05-21 06:46] ihsaninfiyaz commented on #536
I'm having the same problem as this, AND for your information my laptop's got a battery that's practically dead permanently. https://github.com/mozilla/r2d2b2g/issues/473 - That's the link to the issue, and btw, I formatted the laptop so my firefox's clean except for a few addons like download helper, colorzilla, developer toolbar, etc...
The coincidences:
Your laptop             |          My lap

[2013-05-21 09:55] phillc73 commented on #526
I was experiencing something similar, especially bullet point 3 in the post above. I thought my situation may shed some light on things.

I started by installing v3.0 from the Mozilla Addon list, but have now updated to v4.0pre2.

I am running Crunchbang Waldorf 64-bit Linux. I have the 32-bit compatibility libraries installed. I am using Iceweasel v20.0.

FirefoxOS Simulator does not appear under

[2013-05-21 11:44] Bonstra commented on #536
For Linux 32 bit, you'll find the file at this location.
`~/.mozilla/firefox/some_random_string.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/greprefs.js`

[2013-05-21 12:19] ihsaninfiyaz commented on #536
Thanks for the link, unfortunately the work around didn't work too well. Actually, it didn't open the simulator afterwards.

[2013-05-21 13:45] Bonstra commented on #536
Try closing all Firefox instances, restart it from a terminal and post the messages you get after starting the simulator.

[2013-05-21 15:03] ochameau commented on #197
Ok, so if I understand correctly the state of this issue, we just have to fix the icon on Mac and we are done here?
I submitted a patch to fix that here: https://bugzilla.mozilla.org/show_bug.cgi?id=874459

[2013-05-21 16:03] mykmelez commented on #197
Yup, that's the only thing left to do!

Thanks, I'll build and test it!

[2013-05-21 16:26] ochameau commented on #431
Oh! So what happens is that when you set this setting, Firefox always start is private browsing mode.
And menuitems library is following jetpack guidelines and only add items in non-private windows...

I think that it would just be simplied to give simulator the private browsing permission...
I submitted a patch to do this in PR #541.

[2013-05-21 16:56] ochameau commented on #535
I'm not sure it will completely solve the misundestanding behind orientation change.
I would just have added some UI feedback whenever user tries to change the orientation on a app that doesn't support it. Like:
- adding a tooltip message explaining why the button is gray, or,
- never completely disable the rotation button, but instead, print a message when the user click on it when being on an ap

[2013-05-21 17:58] mykmelez commented on #494
@nickdesaulniers I'm going to move this back into the v4 milestone, as I think we need to do this in order to complete the feature!

@potch this is currently assigned to you, and I think @nickdesaulniers's thinking is that you would design the UX, then @nickdesaulniers would implement it.

@nickdesaulniers is that correct?

@potch are you available to do the design here?

[2013-05-21 18:01] nickdesaulniers commented on #494
I was thinking @potch would implement it along with the new UI, but if we're looking to implement something before the new UI lands, then I'd be happy to implement it with some UI decisions made for me.

[2013-05-21 18:01] mykmelez commented on #497
We need to keep valid receipts valid, so users don't have to manually deal with an expired receipt. Increasing their duration of validity might mitigate the problem, but it won't eliminate it (unless we can increase it to infinity!).

@nickdesaulniers Perhaps we can morph this issue into "keep valid receipts valid" and use it to track the work for that enhancement?

[2013-05-21 18:08] mykmelez commented on #496
@nickdesaulniers I'm going to move this back into the v4 milestone, as I think we need to do this in order to complete the feature!

[2013-05-21 18:09] #431 closed, assigned to nobody

[2013-05-21 18:50] ochameau commented on #246
PR  #541 fixed half of the private browsing issue. PR #542 is an attempt to fix the second half.

[2013-05-21 19:28] #246 closed, assigned to mykmelez

[2013-05-21 22:00] nickdesaulniers commented on #427
Fixed in #509

[2013-05-21 22:00] #427 closed, assigned to nickdesaulniers

[2013-05-21 22:11] nickdesaulniers commented on #497
@andymckay Would it be possible to have test receipts have a far future expiration date, since developers should be screening for them anyways?  So maybe instead of adding the query string parameter to the request, and the additional UI to the simulator, just always fetch a long lived valid receipt?

[2013-05-21 22:27] andymckay commented on #497
You filed a bug about that I just made it very low priority because its pointless until we've got the rest of the infrastructure in place. We are blocked on the platform with https://bugzilla.mozilla.org/show_bug.cgi?id=757226, once thats cleared, we can start to worry about dealing with receipt expiry.

[2013-05-21 23:54] bkase commented on #464
It seems like while it's possible to start adb on a different port, by default, adbd on the phones communicate over the default port (and this can't be changed without root). I'm looking into reusing the running daemon now.

[2013-05-22 05:06] potch commented on #494
Glad to work this into the new design, and happy to handle the UI stuff. Not sure what sauce is needed on the backend.

[2013-05-22 12:42] stefanostatuti opened #545 "under windows 7 I have an ugly representation of the time"
under windows 7 Ultimate 32Bit whit FFOS simulator v3.0 when start the emulator i have an ugly rappresentation of the time. I haven't this problem under  Ubuntu 12.4 whit the same browser (v 22 beta italian)

![timebug](https://f.cloud.github.com/assets/4499372/548175/00104800-c2dd-11e2-88e1-7df6cf54a5fc.jpg)

[2013-05-22 12:56] stefanostatuti opened #546 "under windows 7 i have a white screen when i open the phone book (Contact)"
on FF 22 beta 32bit
![rubricabug](https://f.cloud.github.com/assets/4499372/548243/e1758872-c2de-11e2-8140-7747d649b24b.png)
 I haven't this problem under ubuntu 12.04 32 bit FF 22

[2013-05-22 13:05] stefanostatuti opened #547 "exception on AlarmService.jsm"
Timestamp: 22/05/2013 14:43:15
Error: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIAlarmHalService.setAlarm]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: resource://gre/modules/AlarmService.jsm :: <TOP_LEVEL> :: line 77"  data: no]
Source File: resource://gre/modules/AlarmService.jsm
Line: 77

[2013-05-22 13:50] ochameau commented on #499
It won't necessary be easier to uplift to simulator as we are still using m-c 18 and the recent refactoring of debugger server may not be easily cherry picked to this old branch :(
If that's easily cherry pickable, why not trying to uplift it to the master repo in order to ship the style editor in the phones released on the market?

@dcamp, @canuckistani:
Do we have a plan for on-device developmen

[2013-05-22 15:51] ochameau opened #548 "Icon doesn't appear when registering a local app manifest"
I don't know if I miss something, but with very simple testcase, the icon doesn't show up in dashboard when I register a local manifest:

[code]

[2013-05-22 16:28] nickdesaulniers commented on #497
@andymckay , sure but now an app installed with a valid receipt in the simulator will be invalid after 24 hours.  Instead of having the dev have to reinstall the app every day, why can't the VALID test receipts have a far future expiration date?  Isn't the expiration time something that is changeable when it's generated?  Why is it currently set to 24 hours?  I'd be happy to close [bug 867662](htt

[2013-05-22 16:42] rforbes commented on #331
marionette is very helpful in testing apps.  it allows for easy automation of test cases for the apps themselves.  I am personally hoping to use it for doing web app testing of apps.

[2013-05-22 16:56] andymckay commented on #497
The expiration time is changeable, however nothing checks it because you cannot replace a receipt. The simulator should not be checking the expiration date, just like apps should not be checking the expiration receipt.

[2013-05-22 21:33] nickdesaulniers commented on #497
Ah, so I should just remove the option from the simulator to install an expired receipt, and we should remain aware that once [bug 757226](https://bugzilla.mozilla.org/show_bug.cgi?id=757226) has been patched, and the receipt validator flags expired receipts, then we should worry about durations.  For now, this is non issue.  So the fix for this will be remove the option for installing receipts.

[2013-05-22 21:39] andymckay commented on #497
Right, once receipt refreshes have landed, we can all start worrying about expiry and use things like https://wiki.mozilla.org/Apps/WebApplicationReceiptRefresh. For the moment the validator will tell you that the receipt is valid, just expired and everything would ignore it. I'm not sure why you'd want a fake receipt verification service, the marketplace is already one.

[2013-05-22 21:57] nickdesaulniers commented on #494
@potch , I'd like to implement the feature by milestone 4 which is due by 6/11/13.  I'm ready to go on this.  If you are too, I'd recommend if you created a separate branch that we both work out of, then could merge into master.  Thoughts?

[2013-05-22 22:35] #179 closed, assigned to bkase

[2013-05-22 23:06] nickdesaulniers commented on #497
fixed in #551

[2013-05-22 23:06] #497 closed, assigned to nobody

[2013-05-22 23:07] nickdesaulniers commented on #519
fixed in #544

[2013-05-22 23:07] #519 closed, assigned to mykmelez

[2013-05-22 23:07] nickdesaulniers commented on #470
fixed in #544

[2013-05-22 23:07] #470 closed, assigned to nobody

[2013-05-22 23:45] nickdesaulniers opened #553 "TypeError: xhr.forceAllowThirdPartyCookie is not a function"
error: r2d2b2g: An exception occurred.
TypeError: xhr.forceAllowThirdPartyCookie is not a function
resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/lib/request.js 78

https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/request.js#L78

STR: try to install an app with a valid receipt (the receipt code uses the Request module)

[2013-05-22 23:57] nickdesaulniers commented on #545
Duplicate of #502

@stefanostatuti , please try updating your version of the Firefox OS Simulator:

Latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi).

[2013-05-22 23:57] #545 closed, assigned to nobody

[2013-05-23 00:02] nickdesaulniers commented on #545
@stefanostatuti , ah so in #502, it looks like the patch just landed in gaia which will be updated in the next preview build of the simulator, which will be tomorrow or the day after.  Please use the above links to install the latest build later this week, and reopen if it's not solved.  If you need to reopen, please also post your simulator version, which can be found by going to about:addons.  T

[2013-05-23 00:12] #553 closed, assigned to nobody

[2013-05-23 17:00] Trux opened #558 "FirefoxOs simulator not rendering css properly"
The simulator seems to overide the custom css file.

Tested with firefox 21 and Aurora under Windows 7 and OS X v10.8
![ffox](https://f.cloud.github.com/assets/1033424/555866/6724724a-c3c9-11e2-888e-359eed8965a2.png)

[2013-05-23 17:15] nickdesaulniers commented on #494
The first step is to get listApps to include information on the installed receipt type, then have updateApp contain info on the newly selected receipt.  updateApp should probably be fired onchange of the receipt type UI element.

[2013-05-23 17:28] potch commented on #494
@nickdesaulniers, sounds easy enough :) is there a division of labor you want to do here? I have some UI stuff I can land in the coming week that could include this. Is there a particular format to the receipt info that the addon-land code would like? (integer, string, etc)

[2013-05-23 17:46] nickdesaulniers commented on #494
You handle rendering the receipt type and interaction, I'll handle the update.  So in [applist.renderSingle](https://github.com/mozilla/r2d2b2g/blob/9472033438bed47684d8584fe71db35dfe6f67ba/addon/data/content/js/applist.js#L48) the app variable should contain a "receiptType" field which is a string of either ["ok", "expired", "invalid", "refunded", "none"](https://github.com/mozilla/r2d2b2g/blob/9

[2013-05-23 18:28] nickdesaulniers commented on #494
Actually, I'd prefer the dashboard to send a new message, maybe "updateReceiptType", instead of reusing updateApp.  This will allow me to create a cleaner separation of concerns.

[2013-05-23 21:00] potch commented on #494
@nickdesaulniers Great! I'll have a PR for you hopefully by EOD tomorrow.

[2013-05-23 22:29] nickdesaulniers commented on #494
@potch , your grandma was right, you are a "nice boy"!  Just to make sure, for the update event you should be calling something like `window.postMessage({name: "updateReceiptType", id: id, receiptType: "ok"}, "*");`

[2013-05-23 22:54] mykmelez commented on #166
Fixed by #510!

[2013-05-23 22:54] #166 closed, assigned to ochameau

[2013-05-23 23:38] #498 closed, assigned to bkase

[2013-05-24 01:23] StrawMan opened #560 "NotSupportedError - touch-events.js"
**Build:**  _r2d2b2g-4.0pre3-windows.xpi / 24-May-2013 00:08_
**Firefox Version: 21.0**

[code]

The above error is being thrown everywhere. From the home screen and any given application. Unfortunately, it's making this build well nigh unusable.

[2013-05-24 05:05] mykmelez commented on #560
cc: @ochameau

@StrawMan Does it prevent you from interacting with the Simulator, or does it just clutter up the console so much that you can't see your own console messages?

[2013-05-24 05:12] mykmelez commented on #499
I asked about uplifting remote debugging changes to the b2g18 branch in the DevTools meeting this morning, and @dcamp said the changes they've made on trunk recently are too significant to uplift piecemeal; and many more such changes are coming down the pike; so they're going to complete the work required to make all tools remoteable, which they plan to do in time for the Firefox 24 merge on Monda

[2013-05-24 05:18] mykmelez commented on #535
Those changes would be useful, but this is actually about more than simply clearing up the confusion about the button. Developers expect to be able to see what will happen when they rotate an actual device (f.e. that their app appears sideways if it locks the orientation).

In other words, they expect the ability to simulate rotation, just like http://louisremi.github.com/orientation-devtool/ does

[2013-05-24 05:49] StrawMan commented on #560
Unfortunately, the error is affecting custom events in the application that I'm authoring. To the extent that they refuse to fire at all, or fire unpredictably.
In one case the simulator orientation change event (button at the foot of the simulator) was called when I was selecting something completely unrelated and nowhere physically near it.

[2013-05-24 09:14] ochameau commented on #560
@myk, are we replacing gaia profile when updating the addon?
The touch event component requires the removal of this preference:
https://github.com/mozilla/r2d2b2g/commit/099563cc3e8c0bf4cfaac6a09158cf1b877ef004#diff-1

[2013-05-24 12:18] laukstein opened #561 "Privileged apps does not work"
Issue reported also in https://github.com/robnyman/Firefox-OS-Boilerplate-App/issues/14

Firefox OS Simulator 3.0.1 returns

Firefox OS Simulator Dashboard errors:

Pushing on device packaged app, shows alert "App installed", but actually it did not install it and app icon does not shows up on screen. And on pushing hosted app, nothing happens at all.

The **manifest.appcache** additions

[code]

[2013-05-24 16:56] gurumelo opened #562 "not running in debian"
i have a bit problem with firefox OS simulator. I use debian 64 bits, firefox browser 21.0, I installed firefox OS simulator. In browser, not running, i click in slide stop/running and always stop. But if i execute in console
~/.mozilla/firefox/ae0q1cur.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux64/b2g$ ./b2g -profile ~/.mozilla/firefox/ae0q1cur.default/extensions/r2d2b2g@m

[2013-05-24 17:02] mykmelez commented on #560
Yes, we completely replace the Gaia profile when updating the addon, so I don't think that's the problem.

[2013-05-24 18:48] javiersgithub commented on #526
Thanks for your advice @phillc73, but unfortunately I'm still not able to launch it, in-firefox neither standalone. This test has been done with the latest version, 4.0-pre3 released 2013-05-023 (yesterday). The console output is the same as always, but i provide them below just for reference.

javi@carbono:~/.mozilla/firefox/9x5m60gb.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/l

[2013-05-25 15:41] stefanostatuti commented on #545
ok, fixed. You can close this issue

[2013-05-25 16:03] stefanostatuti commented on #546
confirmed in 4.3 preview

[2013-05-25 16:10] stefanostatuti opened #564 "HERE Maps NOT working (display the index of app://m.here.com)"
hi,
i tried to launch HEREMaps but i display the index of app://m.here.com.

W7 Ultimate 32Bit simulator 4.3
![maps](https://f.cloud.github.com/assets/4499372/564313/7745b5ac-c555-11e2-9cab-44e65c0f79a6.png)

EDIT:
i tried to download the app from the store (https://marketplace.firefox.com/downloads/file/201674/here-maps-packaged-1.8.58.zip) & after install on simulator the app work fine.
I think

[2013-05-25 16:12] stefanostatuti commented on #547
in 4.3

Timestamp: 25/05/2013 18:01:17
Error: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIAlarmHalService.setAlarm]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: resource://gre/modules/AlarmService.jsm :: <TOP_LEVEL> :: line 92"  data: no]
Source File: resource://gre/modules/AlarmService.jsm
Line: 92

[2013-05-25 16:54] stefanostatuti opened #565 "some problem when i try to delete my apps from the menu"
when i try to delete from menu my apps (long click in app)
![1](https://f.cloud.github.com/assets/4499372/564350/7a61bfe6-c55b-11e2-8e3e-7b8c241f2d97.png)
 i can move my app
![2](https://f.cloud.github.com/assets/4499372/564351/8d685a6e-c55b-11e2-8ece-464e62fa8eae.png)
 but i click in home button(exit from "delete app mode") my app remain undere the clock in dashboard
![3](https://f.cloud.github.c

[2013-05-25 19:04] markrcote opened #566 "b2g and gaia installed but add-on does not work"
At the Montreal FirefoxOS App Day today, I tried to help someone who had problems installing the simulator add-on. He is running Firefox 21 under Windows Vista, installing the add-on from local disk.

The add-on took a long time to install--he got 3 unresponsive-script dialogs--but then ended with a success message. However the simulator never appeared in the Web Developer menu. When he tried runn

[2013-05-25 20:09] anefzaoui commented on #380
Sadly same message here "Subprocesses are still alive. Doing emergency join"
Same conditions: Windows 8 x86

[2013-05-26 22:27] gurumelo commented on #562
Oh sorry, you type in the console:
xhost +
and all perfect

[2013-05-26 22:27] #562 closed, assigned to nobody

[2013-05-27 01:23] freshteapot commented on #538
At the Oslo Firefox Os day we had on the saturday just gone.
- I have a "peak" running:

gecko:
master from "mozilla-central".
changeset:   133008:28c185bcc46a

gaia:
38ce0068bad14e27b42b9b3800ade592f1b9c9f4

FirefoxAurora:
23.02A.
- I have the logs enabled as your request above.

![screen shot 2013-05-27 at 3 16 30 am](https://f.cloud.github.com/assets/305673/566102/41f792c8-c66b-11e2-9d67-c4fa56

[2013-05-27 05:32] ghost commented on #515
Ideally the win would be to ask Ubuntu-mozillateam to debianize the simulator and not bundle adb with it but instead depend on the existing Ubuntu adb package and any other dependencies.

[2013-05-27 15:09] ltedone commented on #475
I found that if I disable the simulator in the add-ons panel and then enable it again the menu entry is shown

[2013-05-27 16:49] ochameau commented on #414
I'm not confident about targeting v4 for that feature. Devtools support on devices is still a work in progress.
We should wait for remote debugging to be landed before doing anything serious here.
I'd rather try to focus on devtools integration in the simulator against the simulation :)
Because I think that we should do that first and also because tools are meant to be working against b2g desktop,

[2013-05-27 17:04] ochameau commented on #414
I submitted a first patch that will allow taking control of webapps actors in order to improve devtools management from the simulator, PR #567. (Like having only one window in Firefox, bypassing the connect page, or opening a toolbox targeting one precise webapps context)

[2013-05-27 18:15] ochameau commented on #499
@harthur I tried to make work the style editor actor on b2g18 by loading it from simular addon which is installed in b2g desktop (a.k.a. prosthesis). See PR #568. But this attempt failed. I tried to replace all recent Javascript feature usages, like `for of` and `=>`. But it doesn't seem to be enough. The dbg-styleeditor-actors.js file is correctly loaded without any exception, and the call to add

[2013-05-28 03:15] jds2501 opened #569 "Simulator should include Polish to enable contributors to localize help article content"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=867663

[2013-05-28 07:20] arasbm commented on #535
I just wanted to add a note here as a user of simulator that this orientation button really confused me. I was about to report a bug, but I found this report.

I recently wrote an app that I have restricted to portrait mode, because it makes sense when displayed against the tall edge of the phone. Not only the simulator prevents me from rotating the phone, it also does not rotate the app to it's p

[2013-05-28 10:13] ochameau commented on #247
I tried to reproduce this issue by launching the addon in a profile with accents and I haven't seen any issue on both windows, nor linux.
But, I remember having seen this `nsIDOMEventListener::handleEvent]" nsresult: "0x80004001 (NS_ERROR_NOT_IMPLEMENTED)` exception myself while testing another issue (#536). That ended up being an unknown environment issue. The only way to get rid of the exception

[2013-05-28 10:16] ochameau commented on #536
I tried to reproduce it without success on Windows. I'll give it a try on linux.

[2013-05-29 00:02] mykmelez commented on #569
Fixed by #570.

[2013-05-29 00:54] flaki commented on #538
**Ignore the error below...**
_...turns out I did not do my homework of configuring the device. The app seems to successfully push and install on the device (it, however is not installed as an icon on the home screen, which might as well be a FirefoxOS/PEAK firmware bug)._

**I still have the opinion, however, that failing the push without any user feedback is a big no-no, and should be fixed.**

[2013-05-29 18:33] bkase opened #571 "Simulator actors don't initialize until the dashboard sends an app"
Simulator actors in `prosthesis/content/dbg-simulator-actors.js` are not initialized until the dashboard runs an app.

This means that the shell in prosthesis is unable to communicate via observers to the simulator actors until an app is run from the dashboard. The simulator actors should be initialized prior to any observer communication.

[2013-05-29 22:04] #66 closed, assigned to nobody

[2013-05-30 12:03] nootanghimire opened #575 "SecurityError while using Devicestorage.enumerate()"
I Tried to use devicestorage API on an app. When i run the app on simulator, SecurityError occurs

[2013-05-30 15:58] mykmelez opened #576 "Gaia > Settings > Language requires multiple clicks"
Since we landed support for simulated touch events (099563cc3e8c0bf4cfaac6a09158cf1b877ef004), it takes two or three clicks on the Language item in Gaia's Settings app to make the Language section appear.

Steps to Reproduce:
1. start the Settings app;
2. scroll down to the Language item;
3. click the Language item two or three times.

Expected Results: the Language section appears after the initi

[2013-05-30 16:02] mykmelez commented on #576
Indeed: the more I navigate around the Settings app, the more I notice various clicks being swallowed. I just saw this while clicking the Back button to return from a section to the main list of settings.

[2013-05-30 16:07] mykmelez opened #577 "it isn't possible to scroll menu via click-drag"
It isn't possible to scroll a menu that overflows via click-drag, as click-drag on such a menu has no effect.

This didn't work before we started simulating touch events, so it isn't a regression from that change. But neither did that change fix the problem.

Steps to Reproduce:
1. open the Settings app;
2. click the Date & Time entry to go to the Date & Time section;
3. click the Time zone > Regi

[2013-05-30 22:43] #569 closed, assigned to mykmelez

[2013-05-30 22:48] mykmelez commented on #475
@ltedone Just to make sure I understand: the menu entry never appears when you first start the browser, but it always appears after you disable/reenable the addon?

[2013-05-31 00:17] mykmelez opened #579 "geolocation watcher tries to update simulator that isn't running"
After installing 4.0pre4, I'm noticing a bunch of these two messages showing up in pairs:

It looks like the geolocation watcher is trying to update the simulator with a new location even though the simulator isn't running.

[2013-05-31 01:04] flaki opened #580 "Simulator addon fails to load on browser startup, menu item missing on Ubuntu 13.04/Nightly"
Hi!

I am installing the latest preview build (4.0pre3) on the latest Firefox Nightly (24.0a1, 2013-05-26 - Mozilla Firefox for Ubuntu Canonical - 1.0, AFAIK x64) on Ubuntu 13.04 x64.

The addon installs all right and runs well - however after browser restart the addon is not registering. The Simulator menu item is missing from the Web developer tools menu, and the `firefoxos` command line item is

[2013-05-31 04:21] hgajshb opened #581 "Firefox exit with a flashing console with OS emulator enabled"
The console's title is C:\Users\foo\AppData\Roaming\Mozilla\Firefox\Profiles\bar.default\ext…
There is no visible content in the console and disabling OS emulator also shows the console.
Troubleshooting infomation:

  Application Basics

[code]

  Extensions

[code]

  Important Modified Preferences

[code]

  Graphics

[code]

  JavaScript

[code]

  Accessibility

[code]

  Library Versions

[co

[2013-05-31 07:38] ltedone commented on #475
@mykmelez the menu entry appears when I instal the simulator, then it disappears when I close and reopen the browser. But if I disable/reenable the addoin it appers again, until I close the browser.

[2013-06-01 00:03] tobbi commented on #380
Hey, sorry for the delay:
There was no b2g.exe process in the task manager, so no need to kill one.

There was a parent.lock file in the b2g profile directory, a 0 KB one anyway. I deleted that one, to no avail. So, yeah, Firefox OS still won't start.

[2013-06-04 21:29] bkase commented on #571
We could just send a wakeup message to the simulator actors when someone toggles the simulator to running.
Is this too hacky?

[2013-06-04 22:20] bkase commented on #580
Hi @flaki

Can you confirm that this is still happening for you on the latest Nightly? I tried to reproduce this with build 4.0pre3 and 4.0pre4, and it's not happening (on an Ubuntu 13.04 x64 VM).

[2013-06-04 22:31] mykmelez commented on #581
Thanks for the report, and sorry about the problem! It is #348, an unfortunate side-effect of the way the addon starts an adb process. Watch #348 to stay up-to-date about our progress resolving the problem.

[2013-06-04 22:31] #581 closed, assigned to nobody

[2013-06-04 22:32] mykmelez commented on #576
Further usage reveals that clicks are getting swallowed all over the place, not just in the Settings app.

[2013-06-04 22:38] mykmelez commented on #575
Hi @nootanghimire, sorry to hear about the problem! I would need a bit more info to diagnose it, however. Does the app request a device-storage permission in its manifest? And what is the exact text of the SecurityError message?

See [App Permissions](https://developer.mozilla.org/en-US/docs/Web/Apps/App_permissions) for the permissions the app can request, and see [Apps Manifest: Permissions](htt

[2013-06-04 22:42] ochameau commented on #576
See #583 for possible fix.

[2013-06-05 00:04] mykmelez commented on #580
I can't reproduce it either with those preview builds and the latest Nightly, but I also can't reproduce with the Nightly from 05-26. Even after reinstalling Ubuntu 13.04 64-bit from scratch (in case it's a question of the addon depending on some non-default system library that I had previously installed).

[2013-06-05 03:13] nootanghimire commented on #575
Here is  a part of my manifest file:

[code]

And the code that is outputting the error is

[code]

I tried to find details by replacing 'name' by 'message' or 'status', in that case, nothing was consoled.

[2013-06-05 15:42] ochameau commented on #464
Hey, you may have seen @canuckistani message on dev-developer-tools about ADB chrome plugin.
There is some interesting facts here. They are doing something very similar to us.
At first sight, I thought they were compiling their C++ plugin with adb as shared library, but no, they end up calling a shell script that itself launches adb !!! adb executable is shipped in their addon.
Still we may look a

[2013-06-05 16:09] #443 closed, assigned to bkase

[2013-06-05 21:17] #464 closed, assigned to bkase

[2013-06-05 23:15] potch commented on #494
@nickdesaulniers, I'm able to add apps with various receipt types, but the `receiptType` field isn't present on the resultant app object. Is that field located elsewhere?

[2013-06-06 00:20] nickdesaulniers commented on #494
@potch, so sendListApps fires like a hundred different times while doing anything with simulator.  See how many times renderSingle gets called while updating an app, and you'll see probably the last invocation have the field.  Definitely an issue, that the various update code paths keep calling sendListApps.

[2013-06-06 06:38] potch commented on #494
the app objects always get the receipt, but never the receiptType. I have this code console.logged to heck and can't figure out what's going on. Can you take a look and make sure the receiptType is being stored?

[2013-06-06 06:38] potch commented on #494
I have the UI working but for the fact I can't confirm that it works :)

[2013-06-06 06:46] potch commented on #494
Found the issue- `receipt` was getting attached to the stored app object, but not `receiptType`. Adding that to my patch.

[2013-06-06 11:00] shuvam07 opened #587 "manifest file is having a bug"
wen i am ceating a app icon say of pixel value greater or less than 128px the app icon is not showm in the simulator..

[2013-06-06 16:04] marti1125 opened #588 "Screenshot of device"
Is possible to add a button for take screenshot of device (Keon)

[2013-06-07 17:17] #494 closed, assigned to nickdesaulniers

[2013-06-07 19:32] harthur commented on #499
If it's showing a loading indicator forever, then an error occured somewhere, unfortunately. The thing to do would be to add logging statements in various places.

[2013-06-08 00:10] mykmelez commented on #515
@bkerensa That benefits Ubuntu users but not users of other Linux distros. In the long run, it might make sense for distros to package and distribute the Simulator themselves. But in the short run, I still want to make it possible for Simulator users on a variety of distros to use this functionality without having to install extra packages.

And the good news is that @bkase figured out how to do t

[2013-06-08 00:10] #515 closed, assigned to nobody

[2013-06-08 00:28] ghost commented on #515
@mykmelez Well I disagree that its just a Ubuntu thing... The entire Debian ecosystem supports Multi-Arch while distros like Fedora and OpenSUSE are lagging in adding support. Ideally developers should not need to bake in stopgaps like @bkase had to but instead should rely on the fact that their Operating System can support and be flexible between applications built for different architecture.

ht

[2013-06-10 17:13] mykmelez commented on #588
It's possible, but it isn't necessary, since you can take a screenshot of the device by pressing its Home and Power buttons simultaneously. And that seems like a reasonable way to take screenshots, since it should be relatively easy to do so whenever appropriate and then transfer the screenshots to your computer via familiar mechanisms. Thus I would be cautious about adding such a feature to the S

[2013-06-10 17:13] #588 closed, assigned to nobody

[2013-06-10 18:37] mykmelez commented on #587
I just tried adding a packaged app with a single 256x256px icon, and I see the icon both on the Dashboard and in the Simulator itself.

Is the app hosted or packaged, and can you show us its manifest? I would also be interested to see the source code of the app itself, if that is available. In particular, it would be useful to see the location and content of the icon file.

[2013-06-10 18:38] mykmelez commented on #580
I released a new preview build late last week. @flaki can you test with the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi))?

[2013-06-10 18:41] mykmelez commented on #577
This has been fixed by a recent change.

[2013-06-10 18:41] #577 closed, assigned to nobody

[2013-06-10 18:42] mykmelez commented on #576
#583 appears to have fixed this.

[2013-06-10 18:42] #576 closed, assigned to nobody

[2013-06-10 18:43] mykmelez commented on #575
Thanks for the additional info! Can you also provide the exact text of the error message in the console? Cut/paste should work and would be ideal.

[2013-06-10 18:44] mykmelez commented on #571
It isn't too hacky, although we should still also figure out the underlying problem.

[2013-06-10 18:47] mykmelez commented on #566
We have reports like this occasionally, and we've found and fixed a few bugs that cause this over the last couple months. Do you know what version of the addon he tried? And are you still in touch with this person by any chance? I can help troubleshoot the problem if so.

(Note #580, which is a similar problem but seems Ubuntu-specific.)

[2013-06-10 18:49] mykmelez commented on #565
I saw this too, but I can't reproduce it in the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)). Can you try that build and let me know if it still happens for you?

[2013-06-10 18:51] mykmelez commented on #564
This is #386 and is caused by a difference between the Simulator and devices with regard to third-party app installation.

[2013-06-10 18:51] #564 closed, assigned to nobody

[2013-06-10 18:54] mykmelez commented on #561
Based on the discussion in robnyman/Firefox-OS-Boilerplate-App#14, it sounds like the issue is that the app in question wants the bluetooth privilege, which is restricted to certified apps. So this is not an issue in the Simulator, it's an unfortunate limitation of the current design.

[2013-06-10 18:54] #561 closed, assigned to nobody

[2013-06-10 18:55] mykmelez commented on #560
@StrawMan do you still see this problem with the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi))?

[2013-06-10 18:58] mykmelez commented on #558
The Simulator does apply some default style to content. And there is an issue with that style (with a fix in #550). But I'm not sure that's the issue here. It's hard to say without access to your app. Is it a hosted app (or a packaged app whose source is available) by any chance?

cc: @ochameau

[2013-06-10 19:04] Trux commented on #558
It's a packaged app mostly empty for the moment.
You can check the html/css here https://github.com/Trux/FoxTimelapse

[2013-06-10 19:06] mykmelez commented on #548
I'm having trouble reproducing this. I created a directory /Users/myk/Mozilla/app-icon/ with the following files:

[code]

manifest.webapp is:

[code]

And the icon file is this one:

https://github.com/mykmelez/mykzilla-org/blob/master/app/img/icon-128.png

When I add the app to the Dashboard, I see its icon in the Dashboard (and in the Simulator):

![screen shot 2013-06-10 at 12 04 43](https://f

[2013-06-10 19:08] mykmelez commented on #547
Hi @stefanostatuti, can you provide some more information about the circumstances under which you see this exception? If it is triggered by your code, then it would be useful to see the code that triggers it.

[2013-06-10 19:09] mykmelez commented on #546
This is issue #400.

[2013-06-10 19:09] #546 closed, assigned to nobody

[2013-06-10 19:16] mykmelez opened #593 "notify user if "push to device" fails"
If a "push to device" fails for any reason, the Dashboard should tell the user about it, so they know that it failed (and ideally also why it failed). See issue #538 for examples of failures that we don't tell the user about.

[2013-06-10 19:16] mykmelez commented on #538
@Cwiiis Were you able to get it working? If not, you might try the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)), which includes some ADB fixes.

@freshteapot It looks like ADB succ

[2013-06-10 19:37] markrcote commented on #566
On 2013-06-10 2:47 PM, Myk Melez wrote:

[2013-06-10 22:29] mykmelez commented on #515
Sorry, I wasn't aware that asking the "Ubuntu-mozillateam to debianize the simulator" meant providing adb to the entire Debian ecosystem. But that still leaves out non-Debian ecosystem distros. And, in any case, even Debian ecosystem distros don't package the Simulator today. The goal of this issue is to make the Simulator's "push to device" feature available to users of 64-bit variants of those d

[2013-06-10 22:41] mykmelez commented on #566
@markrcote I suspect that he experienced one of the problems we've fixed since we released version 3.0/3.0.1. So it probably isn't worth tracking him down. But note that users experiencing issues may try the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](

[2013-06-10 22:41] #566 closed, assigned to nobody

[2013-06-10 22:43] mykmelez commented on #566
I have closed this issue, since it isn't possible to diagnose it without being able to communicate with the person experiencing it. Nevertheless, I appreciate the report! And hope that we've already fixed the problem. Feel free to reopen if the person contacts you or someone else reproduces it, however!

[2013-06-10 23:04] mykmelez commented on #526
I still can't reproduce this, but I have some additional hints.

First, there's andreasgal/B2G#210, which suggests that an incorrect value for B2G_HOMESCREEN could cause a problem like this. But the Simulator doesn't set that environment variable.

Then there's [Ubuntu bug 1160569](https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1160569), which tracks [Mozilla bug 833117](https://bugzilla.m

[2013-06-10 23:07] mykmelez commented on #501
@winncountynews I don't understand how that survey is related to the problem you reported, which was an inability to run the Simulator. Can you elaborate?

[2013-06-10 23:09] mykmelez commented on #536
@ochameau did you have a chance to try it on Linux?

[2013-06-10 23:15] mykmelez commented on #536
@bkase you have an ArchLinux installation, although I think it's in a VM, which might not be susceptible to this problem. Any chance you can try to reproduce it on that installation?

[2013-06-10 23:43] mykmelez opened #595 "purge IndexedDB (or LocalStorage?) when user presses Shift-Cmd/Ctrl-R"
Last Friday I demoed @rpl's Shift-Cmd/Ctrl-R feature to purge the AppCache while refreshing an app, and @cvan (or was it @mattbasta?) suggested we also purge another cache/database that I think was IndexedDB (although it could have been LocalStorage).

@cvan, @mattbasta, can y'all confirm which data you want to have purged during such a refresh?

[2013-06-10 23:44] digitarald opened #596 "Support `origin` from webapp manifest"
`origin` from manifest should be set correctly for an app. `origin` support landed [for 1.1](https://bugzilla.mozilla.org/show_bug.cgi?id=852720)

This affects all apps depending on origin for OAuth, Persona, CORS, etc.

The code handling the origin is disabled for apps that are not signed. Following @fabricedesre , it should be set as app id when installing the app using the webapps-actor.

[2013-06-10 23:50] cvan commented on #595
[code]

would be good for me.

[code]

would also be nice.

[2013-06-11 00:04] mykmelez commented on #595
cc: @rpl

[2013-06-11 00:59] bkase commented on #536
According to a bunch of Google-ing, it doesn't seem like it's possible to emulate an unplugged battery from VMWare unless the battery of the host machine is also unplugged. It doesn't look like you're supposed to remove the battery from this MacBook either-- the back is screwed on.

[2013-06-11 07:55] flaki commented on #580
@mykmelez as far as I can tell, the issue seems to be resolved now - I could not reproduce it with the latest preview build on today's trunk release of Firefox Nightly (Ubuntu, x64)

[2013-06-11 12:23] ochameau commented on #558
Here the simulator actually simulate Firefox OS behavior!
Some custom CSS rules are applied on various HTML elements in order to make them look native to the targeted OS.
We do that on Fennec and FirefoxOS.
It is currently quite hard to debug these issues as we do not have nor the inspector, nor the style sheet helper devtools working, but it should be more obvious when we get them. You will be ab

[2013-06-11 16:11] nickdesaulniers commented on #496
The other half of this bug is [here](https://bugzilla.mozilla.org/show_bug.cgi?id=881499).

[2013-06-11 16:17] nickdesaulniers commented on #579
If it's responding, doesn't that mean it received a request over the remote?

[2013-06-11 16:18] nickdesaulniers opened #597 "Capitalize receipt types"
I noticed that the receipt types for each app are lowercase, while the receipt types for a new install are Capitalized.  Also looks like they're a different font?

[2013-06-11 16:22] nickdesaulniers commented on #593
It looks like the webapps actor [always responds with an obj](http://mxr.mozilla.org/mozilla-central/source/toolkit/devtools/server/actors/webapps.js#294) so we can look for that.

[2013-06-11 16:31] nickdesaulniers commented on #536
When I read the title I thought it was the craziest thing I've ever heard, but it's totally plausible.  The simulator uses data from the host OS.  For example, open the music app and it will find music local to your computer.  That's probably a privacy policy violation.  Anyways, try disconnecting your power cable on your laptop while the simulator is running.  It looks like the battery status upd

[2013-06-11 17:07] mykmelez commented on #536
I have a Windows laptop with a removable battery VMware Workstation that I can use to try to reproduce this later this week.

[2013-06-11 17:14] mykmelez commented on #580
Ah, great, thanks @flaki!

[2013-06-11 17:14] #580 closed, assigned to nobody

[2013-06-11 18:54] Trux commented on #558
So basically i should load some kind of "normalize.css " before loading my custom css.

[2013-06-11 18:55] nickdesaulniers opened #598 "Red and Yellow outlines for app errors/warnings gone"
I just downloaded and installed 4.0pre5 and the two apps I had that had errors no longer were surrounded in red.  Is this part of the UI change?

[2013-06-11 20:42] stefanostatuti commented on #400
hello,with lastest devbuild i not have any error (only 3 log:
Timestamp: 11/06/2013 22:38:21
Warning: Expected pseudo-element but found '-moz-placeholder'.  Ruleset ignored due to bad selector.
Source File: app://communications.gaiamobile.org/shared/style/input_areas.css
Line: 40

Content JS WARN at app://communications.gaiamobile.org/shared/js/l10n.js:52 in consoleWarn: [l10n] app://communication

[2013-06-11 20:52] stefanostatuti opened #599 "Data provided to an operation does not meet requirements."
Timestamp: 11/06/2013 22:49:01
Error: DataError: Data provided to an operation does not meet requirements.
Source File: app://costcontrol.gaiamobile.org/shared/js/async_storage.js
Line: 75

i can reproduce this bug:

start the simulator
clear ALL logs
open the top menu & receive the error

[2013-06-11 20:55] stefanostatuti commented on #386
same problem whit the last DEV build

[2013-06-11 21:03] stefanostatuti commented on #547
ok
i can regenerate the problem:

Timestamp: 11/06/2013 22:56:39
Error: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIAlarmHalService.setAlarm]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: resource://gre/modules/AlarmService.jsm :: <TOP_LEVEL> :: line 92"  data: no]
Source File: resource://gre/modules/AlarmService.jsm
Line: 92

1 start the

[2013-06-11 21:13] stefanostatuti opened #600 "nextCard is null"
Timestamp: 11/06/2013 23:07:31
Error: TypeError: nextCard is null
Source File: app://system.gaiamobile.org/js/cards_view.js
Line: 515

i can regenerate the problem:

open any app (preinstalled)
click home button
clear all the logs
Force the closure of the app in background

for me is only a message, this is generated because if you close the app there aren't any other app in background.i think thi

[2013-06-11 21:20] stefanostatuti opened #601 "Usage app fails due to lack of SIM"
When you start the Usage app, it fails with the following exception because there is "no SIM inserted".

Timestamp: 11/06/2013 23:17:05
Error: DataError: Data provided to an operation does not meet requirements.
Source File: app://costcontrol.gaiamobile.org/shared/js/async_storage.js
Line: 75

Steps to Reproduce:
1. Open "Usage" app
2. clear all logs
3. now you receive the info: "No SIM inserted .

[2013-06-11 21:24] rpl commented on #595
@mykmelez I'm on it

[2013-06-11 21:36] stefanostatuti opened #603 "Impossible to install the"popular" app in the market"
hi
i can't install the "popular" app  in the store, if i click on Wikipedia's app (the blu button) does not happen nothing (no error, log is clean :|), i can't open the detailed tab of wikipedia.
other apps (for example Pasjans/solitaire) if i click on Free blu button on popular tab I have the same effect I had with wiki. but now i can install the app opening the detailed tab.

[2013-06-11 21:44] stefanostatuti opened #604 "NS_ERROR_FAILURE: Component returned failure code: 0x80004005"
Timestamp: 11/06/2013 23:41:51
Error: NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIDOMMozMobileMessageManager.getSegmentInfoForText]
Source File: app://sms.gaiamobile.org/js/thread_ui.js
Line: 503

open the simulator:
open messages & clean ALL the logs
now click "write button" & receive the message in log console.

[2013-06-11 22:12] stefanostatuti opened #605 "ReferenceError: asyncStorage is not defined"
Timestamp: 12/06/2013 00:05:48
Error: ReferenceError: asyncStorage is not defined
Source File: app://communications.gaiamobile.org/dialer/js/contacts.js
Line: 176

(my address book is EMPTY, i think is this the problem)
start the simulator
click on the call button & clear ALL the logs
try to digit any number >=3 (for example 123) & receive the error

[2013-06-12 01:35] StrawMan commented on #560
While the above error no longer appears in my console, button behavior remains erratic. Sometimes a particular button works, then immediately fails.
You can see this (at least I'm presently seeing it) if you open up the _Firefox Marketplace_ application and scroll down any given category, then attempt to use the "More" button.

In another case, the _HERE Maps_ application map dragging fails to fun

[2013-06-12 03:05] raudabaugh commented on #505
this reference is no longer there, instead handled by `let debug = this.debug.bind(this);`

I think it's safe to close this issue

[2013-06-12 11:39] ChoiZ opened #606 "Can't play an mp3 stream on the simulator"
When I want to play an mp3 stream from an icecast server in « <audio> » tag nothing happens.

Note this code and stream doesn't works in simulator but it's works on my geeksphone peak.

[2013-06-12 15:10] ochameau commented on #536
I've tried to reproduce it on Ubuntu VM without success, the battery was always 100% charged no matter if the battery was unplugged or almost empty.

[2013-06-12 16:17] nickdesaulniers commented on #505
@raudabaugh , you're [correct](https://github.com/mozilla/r2d2b2g/blob/96a057a1f6f9a22d30859839fb68f913081b8bbb/prosthesis/content/dbg-simulator-actors.js#L245)!  Nice catch!  It still might be nice to move the variable assignment to the top and use that instead of repeatedly accessing it through this, but NBD.

[2013-06-12 16:17] #505 closed, assigned to nobody

[2013-06-12 20:52] #495 closed, assigned to ochameau

[2013-06-12 22:16] mykmelez opened #608 "`TypeError: listEl.appendChild is not a function` upon opening Dashboard after fresh install"
Opening the Dashboard after a fresh install throws:

[code]

@potch Do you know what's going on here?

[2013-06-12 22:44] bkase commented on #536
@ochameau Do you have VMWare Fusion? You have to enable passing power status through to the VM.
Check: `Settings -> Advanced -> Pass power status to VM`

[2013-06-13 00:00] mykmelez opened #610 "brief delay between Dashboard page load and app list display"
There's now a brief delay between the apparent completion of page load for the Dashboard and the display of the list of apps. The delay is only a fraction of a second, but it's significant enough to be noticeable and at least long enough for a developer's heart to skip a beat while they wonder what happened to all their apps. We shouldn't scare developers like this!

I suspect this is a regression

[2013-06-13 00:07] mykmelez opened #611 "remove Receipt Type selector for app being added to Dashboard"
We initially implemented the Receipt Type selector for a new app being added to the Dashboard because there wasn't going to be any other way to test receipts until we implemented a Receipt Type selector for an existing app on the Dashboard, and the latter implementation was blocked by Dashboard redesign work that was in progress.

That Dashboard redesign work has been completed, and a Receipt Type

[2013-06-13 00:09] mykmelez opened #612 "selecting Receipt Type for existing app has no effect"
When I select a receipt type for an existing app that has a "none" type and then reload the Dashboard, the Receipt Type selector returns to "none", and it appears as if my receipt type selection had no effect.

cc: @nickdesaulniers @potch

[2013-06-13 00:12] mykmelez opened #613 "no feedback on status of Receipt Type selection"
When I select a receipt type from the Receipt Type selector for an existing app, nothing appears to happen. This is disconcerting, even if the selection is actually working as expected, because there's no way to know if it really did without pushing the app to the Simulator and seeing if it behaves the way you would expect it to behave with the given receipt.

A Dashboard app entry should provide

[2013-06-13 00:13] mykmelez commented on #613
cc: @potch @nickdesaulniers

[2013-06-13 06:11] StrawMan commented on #560
Back to the original error in _pre6_.

Clicking on the home screen, other applications etc. All over the place.
Button events similarly erratic.
Map dragging does, on the other hand, work properly once again.

**Build:**  _r2d2b2g-4.0pre6-windows.xpi / 12-Jun-2013 16:44_
**Firefox Version: 21.0 / Windows Vista**

[code]

[2013-06-13 06:59] ochameau commented on #536
Yes, I toggled this setting in VMWare player (on windows)

[2013-06-13 07:52] StrawMan commented on #560
A full, clean re-installation of the _pre-6_ build appears to have cleared up the problem.
Button events are working as expected and no errors are being thrown.

[2013-06-13 13:21] gorghoa commented on #521
Does somebody found a way to fix it ? I’m afraid that my c++ skills are not sufficient :/

[2013-06-13 13:30] ghost opened #614 "Open Location link on the dashboard does not work."
Whenever a new instance of an application is created and loaded into the simulator dashboard,the Open Location option(just below the name of the application) does not seem to work.It behaves as a plain text(dead link).

[2013-06-13 15:21] ochameau commented on #521
I've seen the same behavior with raw b2g desktop.
So it is an issue in gaia or b2g platform code, but I don't know much more yet.

[2013-06-13 19:17] laukstein commented on #561
Why would not Firefox OS allow privileged app API to everyone? User allways can decide to allow the permissions or not.

[2013-06-13 20:55] mykmelez commented on #536
I can reproduce this on my ThinkPad X220 when the battery is absent. I'm testing in an Ubuntu 12.04 LTS VM running in VMware Workstation 9.0.2 on a Windows 7 host OS. The Simulator reports that b2g quit with a 0 exit code, however, so this seems less like a crash than an intentional shutdown. Perhaps something in B2G/Gaia interprets the absence of the battery as a sign that the battery level is 0%

[2013-06-13 22:05] mykmelez commented on #614
It throws the following error:

[code]

@potch, @nickdesaulniers: a regression from the recent Dashboard changes?

[2013-06-13 22:18] breck7 opened #617 "Manifest.webapp is not refreshing"
Here's my workflow:
- Open simulator
- Install app from url to the manifest.webapp file
- App installs great in simulator
- Update manifest.webapp
- Click "Update" in Dashboard

Expected: new manifest file is reflected.
Actual: cached(outdated) manifest file is used.

If I open a new tab in FF and redownload the manifest file, then refresh dashboard and click "Update", I get the new manifest file.

[2013-06-13 22:19] mykmelez commented on #606
@ChoiZ, Unfortunately, the Simulator doesn't support MP3 decoding, as we note in the [documentation](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Audio.2Fvideo_codecs), because it depends on a hardware codec.

[2013-06-13 22:19] #606 closed, assigned to nobody

[2013-06-13 22:24] mykmelez commented on #605
Hi @stefanostatuti, thanks for reporting this problem! Individual messages in the Error Console, like this one, aren't necessarily a cause for concern. So we don't typically track each one.

But an empty address book is a concern, since the Contacts app advertises some activities, and we want developers to be able to test use of those activities in their apps. I suspect that problem is the existin

[2013-06-13 22:24] #605 closed, assigned to nobody

[2013-06-13 22:27] mykmelez commented on #604
Hi @stefanostatuti. As I mentioned in another issue, individual messages in the Error Console, like this one, aren't necessarily a cause for concern. So we don't typically track each one. But we do want default apps that expose an activity to work, and the Messages app exposes two activities. Did this error appear to prevent you from using the Messages app?

[2013-06-13 22:30] nickdesaulniers commented on #614
Verified in 4.0pre5

[2013-06-13 22:47] nickdesaulniers commented on #614
The onclick is handled for every [anchor tag whose href attribute starts with](http://api.jquery.com/attribute-starts-with-selector/) '#'.

$(element).attr('attribute_name') returns a [string](http://api.jquery.com/attr/#attr-attributeName) so then accessing the first element would be '#'.

My guess is that the href's were being used to store an id selector in the form '#my_element_id' and they no

[2013-06-13 22:55] mykmelez commented on #603
I can reproduce this problem consistently, but it doesn't occur in 3.0.1, so it seems to be a regression, probably from the touch event helper landing.

Steps To Reproduce:
1. open Marketplace app;
2. scroll down list of Popular apps to Wikipedia;
3. press Free button in Wikipedia entry.

Expected Results: I am prompted to install Wikipedia app.
Actual Results: I am not prompted to install Wikiped

[2013-06-13 23:00] mykmelez commented on #601
I see this too, and presumably the problem is that the Simulator doesn't yet simulate the presence of a SIM card. The Usage exposes some activities, and we want app developers to be able to test apps that use the activities exposed by default apps, so that makes this something we should fix, although at the moment I don't know how to fix it.

[2013-06-13 23:04] mykmelez commented on #600
This seems like a Gaia issue rather than a Simulator issue, and since it doesn't affect usage of the Simulator by app developers, it isn't something we're likely to address in the Simulator. But you can report it in the [Boot2Gecko issue tracker](https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko&component=Gaia), making sure to note that you noticed the problem in the Simulator.

[2013-06-13 23:04] #600 closed, assigned to nobody

[2013-06-13 23:04] mykmelez commented on #599
Does this prevent you from using the Simulator to develop apps?

[2013-06-13 23:06] mykmelez commented on #598
Yes, this is an intentional change to make the UI less intrusive, since developers don't necessarily want to fix errors and warnings immediately (or ever), and the strong colorful outlines were overly insistent that attention be paid to them.

cc: @potch

[2013-06-13 23:06] #598 closed, assigned to nobody

[2013-06-13 23:10] mykmelez commented on #597
The receipt types should be consistent, at least until we fix #611. However, we should still capitalize the receipt types in the menu for existing apps, if that's the right way to present them. (And the "ok" type should be called "valid").

cc: @potch for his thoughts on whether these types should be initial-letter capitalized or all lower-case.

[2013-06-13 23:11] mykmelez commented on #596
@digitarald Do you have a sense of how critical this is for developers using the Simulator? And any thoughts on how risky it is to implement?

[2013-06-13 23:12] nickdesaulniers commented on #614
[cc](https://github.com/mozilla/r2d2b2g/blame/master/addon/data/content/js/main.js#L23) @digitarald

[2013-06-13 23:19] mykmelez commented on #617
Is there a particular field or fields that you're changing? Any chance your manifest file is publicly available?

[2013-06-13 23:26] breck7 commented on #617
I was changing the App title field and the icons field.

[2013-06-13 23:26] breck7 commented on #617
Manifest file is here: http://firefly.nudgepad.com/manifest.webapp

[2013-06-13 23:34] nickdesaulniers commented on #614
It certainly works in 3.0.1.

[2013-06-13 23:40] nickdesaulniers commented on #614
but the error is still present!

[2013-06-13 23:43] nickdesaulniers commented on #614
Error also occurs (in 3.0.1) when clicking remove.

[2013-06-13 23:59] fabricedesre commented on #596
Fwiw, I think this should be fixed in the gecko webapps actor.

[2013-06-14 00:19] nickdesaulniers commented on #614
I'll run a bisect tomorrow

[2013-06-14 05:17] potch commented on #611
Agreed- I'll remove it!

[2013-06-14 05:18] potch commented on #597
I'm going to clean up the appearance and such on the receipt selector,  as well as fix #611.

[2013-06-14 05:24] potch commented on #608
Taking a look.

[2013-06-14 15:46] peshoicov commented on #526
I had - and still have - the same problem. When I see the console in FireBug, and click on the button to start the simulator - it says "Addon-message: isRunning".
So I managed to launch the simulator from the command line, as "phillc73" commented. Still searching for stable solution.
TechSpecs: OpenSUSE 12.3 64b, Gnome 3.6, Firefox 21.0, FirefoxOS Simulator 3.0.1.

[2013-06-14 17:38] mykmelez commented on #499
Hrm, I thought this would be easier. At this point, it seems better to wait for a mass uplift of support for remote devtools to the b2g18 branch (although I'd still take a fix for this if it became available).

[2013-06-14 17:41] mykmelez commented on #496
Both halves of this have landed; fixed!

[2013-06-14 17:41] #496 closed, assigned to nickdesaulniers

[2013-06-14 17:42] mykmelez commented on #197
Bug 874459 has now been fixed, and we've uplifted the fix to the b2g18 branch, and the latest preview build has it!

[2013-06-14 17:42] #197 closed, assigned to ochameau

[2013-06-14 17:43] mykmelez commented on #187
@digitarald are you actively working on this?

[2013-06-14 17:48] mykmelez opened #619 "remove Run button"
The Run button has limited utility, since Update runs an app, and a new Connect button will do so as well after #592. Plus it's easy enough to run an app from within the Simulator itself. So we should remove the Run button to simplify the array of choices we offer the user.

[2013-06-14 17:48] mykmelez opened #620 "Receipt menu remains visible after app removed"
After you Remove an app from the Dashboard, the Receipt menu remains visible. It should disappear.

[2013-06-14 17:51] mykmelez opened #621 "Remove affordance should be subtler, take less space"
The Remove button is large and obtrusive, although users will rarely use it (relative to the other buttons it sits alongside). It should be smaller and subtler, f.e. an unlabeled X icon (with a tooltip for hover discovery), which is a classic way to provide such functionality.

[2013-06-14 17:53] mykmelez opened #622 "remove Console checkbox"
Now that an app developer can connect remote devtools, and especially after they'll be able to connect them to a specific app via #592, the Error Console will no longer be particularly useful to them. It'll still be useful to Simulator developers, but that is not sufficient reason to expose the feature to app developers.

So we should remove the Console checkbox, and we should no longer open the E

[2013-06-14 17:56] mykmelez opened #623 "move Help link to sensible location"
The Help link seems lost in its current location, an island of linkage in a sea of navigation bar. I moved it to the top-right corner of the screen earlier in the v4 cycle, which is a common location for such links. But it moved back in a subsequent change.

I'm not sure it still makes sense in the top-right corner, now that add registration has moved up there. But it doesn't make sense in its cur

[2013-06-14 17:58] mykmelez opened #624 "give Update icon and rename it to Push"
The Update and Push buttons do about the same thing for their respective targets. But they have very different names, and one has an icon, while the other doesn't. We should give Update an icon and rename it for consistency with the Push button.

[2013-06-14 18:40] digitarald commented on #187
Open Location should do exactly that (I just didn't close the ticket), but it seems that it's currently broken. I pinged @potch about it. This ticket can therefor be closed.

[2013-06-14 18:40] #187 closed, assigned to digitarald

[2013-06-14 18:54] mykmelez commented on #603
@ochameau Can you take this one on?

[2013-06-14 18:54] nickdesaulniers commented on #612
We agreed in our 6/14/13 meeting that this is WFM.

[2013-06-14 18:54] #612 closed, assigned to nobody

[2013-06-14 20:40] potch commented on #614
It was a regression from landing of ui-revamp. My fault.

[2013-06-14 21:45] #619 closed, assigned to nickdesaulniers

[2013-06-14 21:55] #608 closed, assigned to potch

[2013-06-14 21:57] nickdesaulniers commented on #611
fixed in #618

[2013-06-14 21:57] #611 closed, assigned to potch

[2013-06-14 21:58] nickdesaulniers commented on #610
Fixed in #618

[2013-06-14 21:58] #610 closed, assigned to potch

[2013-06-14 21:59] nickdesaulniers commented on #597
Fixed in #618

[2013-06-14 21:59] #597 closed, assigned to potch

[2013-06-14 22:25] #614 closed, assigned to potch

[2013-06-14 23:19] #620 closed, assigned to potch

[2013-06-14 23:49] ochameau commented on #603
It looks like there is some issue with touch and scrollable elements.
Some simple modification to touch-event code like this https://github.com/ochameau/gaia/commit/125fedddcc92e31776f693cc5f128585c6167ce9 seems to fix this issue.

I'll submit a gaia bug/patch on Monday and try to see if there is other similar issue in this code.
In the meantine, you can cherry pick this fix (this branch is agains

[2013-06-14 23:51] mykmelez commented on #603
I pushed this week's preview on Wednesday! But there's still time for it to make next week's preview!

[2013-06-14 23:54] nickdesaulniers commented on #593
myk: other thoughts to file away for future enhancements: remind the user that they might have to confirm the prompt (f.e. we could show a picture of it and say something like "Make sure you confirm this prompt if it appears on your phone!")

[2013-06-15 00:28] #621 closed, assigned to potch

[2013-06-15 01:25] mykmelez commented on #603
(And I'm happy to cherry-pick the fix if necessary to get it into next week's preview build.)

[2013-06-15 22:21] javiersgithub commented on #526
Hi, my situation has changed a lot for better, now it launchs!

As far as i know i might have suffer instabilities from other software. At first i thought that there weren't connected because firefox was running Ok, but after a regular software update the simulator start as it should. The problem is likely to be related to some library that the simulator uses that firefox doesn't, and that other s

[2013-06-15 22:54] digitarald commented on #596
**Use cases**:
- Packaged apps using Persona, need to have an origin for testing. OAuth apps don't need it, as they can use `redirects` defined in the webapp manifest
- Packaged apps limiting their CORS-enabled services APIs to one app origin. Not well known yet, will become more relevant with more packaged apps. It's currently a common security concern and often developers rather use the big hamm

[2013-06-17 13:35] ochameau commented on #603
I opened a gaia bug: https://bugzilla.mozilla.org/show_bug.cgi?id=883834

[2013-06-17 16:22] mykmelez commented on #526
@javiersgithub I'm glad it works for you now!

@peshoicov I'm not sure what issue you're experiencing, but the next step is to try the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)).

[2013-06-17 16:22] #526 closed, assigned to nobody

[2013-06-17 17:17] nickdesaulniers commented on #593
Filed [this](https://bugzilla.mozilla.org/show_bug.cgi?id=883931) for the DebuggerClient.

[2013-06-17 17:38] mykmelez commented on #617
Hmm, I see this too on the latest dev version of the Simulator when changing the `name` field of a hosted app (http://mykzilla.org/app/manifest.webapp). And I confirm the workaround of downloading the manifest via a separate tab. Which suggests that this is a cache issue: updating the app uses a local cached copy of the manifest file instead of a fresh copy downloaded from its server.

[2013-06-17 17:43] mykmelez commented on #560
@StrawMan Excellent, I'm glad to hear it!

Note that there is a known issue with touch event simulation, #603, which sounds very much like the issue you described. It manifests when you scroll a scrollable element and then click to simulate a touch event. A fix for that will land in the next preview build, so if you experience the problem again, try downloading that when it becomes available later

[2013-06-17 17:43] #560 closed, assigned to nobody

[2013-06-17 17:46] mykmelez commented on #558
@Trux Yes, that seems like a reasonable solution until Gaia is changed to no longer load such styles.

[2013-06-17 17:46] #558 closed, assigned to nobody

[2013-06-17 17:46] mykmelez commented on #548
@ochameau can you still reproduce this?

[2013-06-17 17:47] breck7 commented on #617
Yes, that was my guess as well. It seems like hitting update should always download the latest manfiest.webapp file

[2013-06-17 17:48] mykmelez commented on #617
I agree!

[2013-06-17 17:54] mykmelez commented on #547
@stefanostatuti Thanks for the additional information! Using your steps to reproduce the problem, I was able to reproduce it. However, it isn't clear whether or not it prevents developers from testing their apps on the Simulator. Are you developing an app and having trouble testing it because of this problem?

Note that the Simulator is intended to be a test environment for app developers, and thi

[2013-06-17 17:59] mykmelez commented on #475
@ltedone It sounds like you're experiencing a different problem, since the behavior you're noticing is somewhat different from the behavior originally reported in this issue (even though the end result is the same: you can't use the Simulator). Can you create a new issue for your problem? That way we can work on it without getting it confused with the issue that was originally reported here.

[2013-06-17 18:09] ltedone commented on #475
@mykmelez It seems fixed right now, I have the menu entry after the browser restart

[2013-06-17 18:21] mykmelez commented on #475
@ltedone Ah, great, thanks for the quick update!

[2013-06-17 20:09] stefanostatuti commented on #547
No, i start to develop my first app on 21 June (http://www.eventbrite.it/event/6990409503/efblike). now i try only the simulator :D

[2013-06-17 20:15] stefanostatuti commented on #599
no.

[2013-06-17 20:19] stefanostatuti commented on #565
hi under windows (whit lastest build dev6) i have the same . NOW i try to do a clean install.

[2013-06-17 20:36] stefanostatuti opened #629 "click on virtual keyboard creates duplicate character"
Step to reproduce:
open the telephone app & try to click on a number. the push generate all the numbers twise.if you try to delete ONLY the last number have the same problem (delete 2 number)

Tested with W7 & ubuntu and i have the same problem.

[2013-06-18 00:00] breck7 commented on #617
@mykmelez Much better code than my fiddling with the url.

Just updated. Using the new github interface so not quite sure if I submitted that updated request correctly.

[2013-06-18 00:08] mykmelez commented on #617
I'm on the new GitHub interface now too, and it looks like you submitted it correctly, so I have merged it along with https://github.com/mozilla/r2d2b2g/commit/b7027dce1d13a47041bffe99c6273e82b9b70fa8 which adds you to the list of contributors. Thanks for the issue and the fix!

[2013-06-18 00:08] #617 closed, assigned to nobody

[2013-06-18 17:03] ochameau commented on #548
Yes, I do, it appears to be a windows specific issue...

[2013-06-18 18:04] #595 closed, assigned to nobody

[2013-06-18 23:25] mykmelez opened #633 "reduce size of Remove button icon"
The Remove button icon is larger than the icon on the Push button (and the icons being added to the Refresh née Update button and upcoming Connect button), which makes it quite noticeable relative to those buttons, even though users will rarely use it.

So we should reduce its size to make it less noticeable, perhaps down to the size of the icons on the other buttons.

(We might also consider styl

[2013-06-18 23:29] mykmelez opened #634 "Simulator starts on Firefox startup with session restore of Dashboard if it was running on Firefox shutdown"
If the Simulator is running, and the Dashboard is open, and the user quits Firefox and then restarts it, and Firefox is configured to restore the user's session on startup, then it not only restores the Dashboard, but it also restarts the Simulator. That's quite unexpected and seems unlikely to be what the user wants.

I think it's also a recent regression, as I don't recall it happening until ver

[2013-06-18 23:31] mykmelez opened #635 ""add new project" experience"
We should improve the experience of adding a new project so it's easier to understand the various options and figure out how to add one's project to the list of projects on the Dashboard.

[2013-06-18 23:38] mykmelez opened #636 "show/hide app details behind expand/contract affordance"
App entries on the Dashboard have become cluttered over time with information and affordances that aren't always important. We should distinguish between more and less common and useful information/functionality by adding an affordance that expands and contracts an entry to show more or less information.

This could take the form of a link (like the Details link in an Add-ons Manager entry), a twi

[2013-06-18 23:55] nickdesaulniers opened #637 "After removing an app, remove the receipt type select box"
![screen shot 2013-06-18 at 4 54 24 pm](https://f.cloud.github.com/assets/1823839/672187/9745d190-d872-11e2-9e5e-1a1ccefac273.png)

[2013-06-19 00:01] nickdesaulniers commented on #634
I cannot reproduce with 4.0pre6, or from source in Nightly.  When trying from source there is no option to restore previous session because the home page is about:blank.  I'm running this with `PROFILE=~/mozilla/profiles/r2d2b2g make run`.
How did you reproduce this?

[2013-06-19 00:05] mykmelez commented on #634
I see it with `make run PROFILE=…` and Nightly.

Set Firefox to restore its previous session with Preferences/Settings > General > Startup > When Firefox starts: > Show my windows and tabs from last time.

[2013-06-19 00:12] nickdesaulniers commented on #634
Verified good `b746170`, running a bisect

[2013-06-19 00:20] nickdesaulniers commented on #634
result of my bisection

[code]

I'll take a look at this tomorrow and try to help debug

[2013-06-19 06:30] potch commented on #634
it would appear that by making the Simulator module init before page load, the behavior we're seeing occurs. I can look into why.

[2013-06-19 16:11] jandendolder opened #639 "r2d2b2g 3.0.1 not working on ubuntu12.04/firefox21.0"
installed "firefox os simulator 3.0.1" on firefox21.0, it is visible as an installed add-on. Nowhere in the menu I find an item pointing to the simulator, especially NOT in tools/Web developer. The add-on is available in the directory tree:
.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g
Probably interesting to know:

$~/.mozilla/firefox/0axz0khs.default/extensio

[2013-06-19 17:14] mykmelez commented on #634
Thanks @nickdesaulniers and @potch for looking into this! @nickdesaulniers says on IRC that he'll take it on, so assigning it to him!

[2013-06-19 18:24] #593 closed, assigned to nickdesaulniers

[2013-06-19 18:33] mykmelez commented on #639
Hi @jandendolder, sorry to hear about this problem! Please try the latest preview build of the next version of the Simulator ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) to see if we've solved the prob

[2013-06-19 20:08] jandendolder commented on #639
Thanks for replying. I installed the latest version (4.0pre6). I found a menuitem under tools/Web developer now. If I activate the menuitem 'firefox os simulator' it gets activated. On the left side I see 'simulator .. stopped' and under it 'device connected'. If I disconnect the keon it replies 'device disconnected', so it looks it is communicating with my keon. If I click 'stopped' nothing happe

[2013-06-19 20:25] mykmelez commented on #579
Yes, I think this happens when the user starts the Simulator, tells the Simulator to use their current coordinates for geolocation (triggering an unsolicited notification to Firefox that causes it to start watching the position), and then shuts down the Simulator.

At that point, Firefox should stop watching the position, but for some reason it doesn't do so, and when a position change occurs, it

[2013-06-19 20:32] mykmelez commented on #579
Actually, upon closer inspection, I do see a race that could theoretically cause this problem, although it seems unlikely.

[2013-06-19 20:41] mykmelez commented on #639
What does `ls -la /home/mynameis/.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g` report? And what kind of Linux (distribution, version, and bit depth) is your installation?

[2013-06-19 20:46] jandendolder commented on #639
$ whoami
user
$ ls -la /home/mynameis/.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g
-rwxr-xr-x 1 user user 71948 jun 12 15:25 /home/mynameis/.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g

distro is ubuntu 12.04 i386

[2013-06-19 20:56] #579 closed, assigned to mykmelez

[2013-06-19 21:58] mykmelez opened #641 "*test-receipts.test receipt update* error binding to port 8099"
If I `make test` more than once in a row, then _test-receipts.test receipt update_ fails the second and subsequent times:

[code]

@nickdesaulniers any idea what's going wrong here? I don't remember seeing this when we first landed the receipt tests, although it's possible that I missed it.

[2013-06-19 21:59] nickdesaulniers commented on #641
adb is not being shut down properly

[2013-06-19 22:07] nickdesaulniers commented on #641
`lsof -i -P` to see it still bound to a port

[2013-06-19 22:27] nickdesaulniers commented on #641
WFM from master, did you kill the tests mid run at some point by any chance?

[2013-06-19 22:34] mykmelez commented on #639
What happens if you run `file` on the file? On my Ubuntu 11.10 32-bit system I get:

myk@ubuntu:~$ file /home/myk/.mozilla/firefox/do32rbri.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g
/home/myk/.mozilla/firefox/do32rbri.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), dynamically l

[2013-06-19 22:53] nickdesaulniers commented on #634
I feel completely baffled by this.  The only thing I can think of is that Firefox is restoring the previous state of the form on the page when the document.readyState changes to complete which is after the [toggler's checked property is set to false](https://github.com/mozilla/r2d2b2g/blob/master/addon/data/content/js/main.js#L13).  Something is toggling the #command-toggle after the document has

[2013-06-19 23:04] mykmelez commented on #641
I might have done so, but I can reproduce consistently by killing adb and then re-running tests, after which an adb process will remain alive and hold onto that port.

I wonder if this has anything to do with the enhancement @bkase landed to leave adb running if it was already running when the Simulator starts it. Perhaps it leaves adb running sometimes even when it was the one to start it.

[2013-06-19 23:20] mykmelez opened #643 "*test RemoteSimulatorClient run/ping/kill* fails on busy system"
With my system currently busy compiling B2G in four different VMs simultaneously (while the host OS remains pretty responsive!), which may or may not be relevant, I'm seeing frequent failures in test-remote-simulator-client.test RemoteSimulatorClient run/ping/kill':

[code]

It looks like RemoteSimulatorClient.onExit is racing RemoteSimulatorClient.onStdout, so the former gets called before the la

[2013-06-20 04:17] bkase commented on #641
Yeah, this test hit an edge-case in my enhancement.

It looks like the code in `adb.js` is being executed twice when the unit tests start-up.
Look at the top of the logs:

[code]

The flag checking for `adb` running is being reset to false the second time it's executed.

Is it normal for this code to be executing twice?

[2013-06-20 04:35] bkase commented on #641
It's not obvious to me why `adb.js` is being executed twice.
Also, I can't seem to easily get a fix working by just changing `adb.js`.

Should keep working around the loading twice? Or does the bug have something to do with the double execution?

[2013-06-20 08:51] jandendolder commented on #639
$ file /home/user/.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g
/home/user/.mozilla/firefox/0axz0khs.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g/b2g: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), dynamically linked (uses shared libs), for GNU/Linux 2.6.18, BuildID[sha1]=0x46033bda4cf417ef39f018570b8357b

[2013-06-20 09:23] jandendolder commented on #639
Sorry accidently 'closed' the issue. Meanwhile I am trying to do the same on a different system, same os (ubuntu 12.04 i386). Making slightly more progress. I appended my comments on the appropiate issue #473.

[2013-06-20 10:36] jandendolder commented on #473
It looks like I have the same issue. I am on ubuntu 12.04 i386. simulator also crashes with the last error message "unknown property '-moz-align-self'. Declaration dropped". Before it crashes the simulator window appears for a few seconds. Oh and if it is of interest I was running on laptop with a ... dead battery. After I made sure the battery was charging the simulator started as expected. Thank

[2013-06-20 16:03] mykmelez commented on #473
@BravoI Are you running the Simulator on a laptop that doesn't have a battery by any chance?

[2013-06-20 16:06] mykmelez commented on #639
I'm going to update my Ubuntu 11.10 32-bit system to 12.04 today and see if I can reproduce there.

[2013-06-20 16:14] ihsaninfiyaz commented on #473
@mykmelez Actually, yes, my laptop's battery doesn't stay a second on if the power is cut off. It's dead. (fullstop). Anyway, I switched to Chrome for a while and I'm not using Firefox anymore except for web development and stuff. But please don't close off this topic as it might help others who might have the same issue maybe..

[2013-06-20 16:16] mykmelez commented on #473
@BravoI It sounds like this is a duplicate of #536, so I thought I'd close this one and direct folks to that one. Otherwise, conversation will get split between the two issues, which makes it harder to collaborate on a fix. Does that seem like a reasonable plan?

[2013-06-20 16:18] ihsaninfiyaz commented on #473
Yes, it certainly does seem reasonable. Please do that.

[2013-06-20 16:21] mykmelez commented on #473
Cool, closing this one then!

Folks: if you're experiencing this issue, check out #536 to find out about progress toward resolving it!

[2013-06-20 16:21] #473 closed, assigned to nobody

[2013-06-20 17:25] nickdesaulniers opened #644 "Instead of toggle logic, keep track of run state in dashboard"
Instead of [toggling](https://github.com/mozilla/r2d2b2g/blob/7a656529d1c1190e39aca41b76e4b97f436e3914/addon/data/content/js/main.js#L147) which can get out of sync with the checkbox, we should actually check the state of the checkbox and post a start or stop message (which would have to be implemented).

[2013-06-20 17:37] #548 closed, assigned to nobody

[2013-06-20 17:43] #622 closed, assigned to mykmelez

[2013-06-20 18:03] #624 closed, assigned to potch

[2013-06-20 19:01] nickdesaulniers commented on #613
There is no feedback in the dashboard when a user clicks Update, either.  The notification appears on the simulator after the select element is changed.  What kind of feedback did you have in mind?

[2013-06-20 19:24] mykmelez commented on #613
Yes, and that's also a problem, although it's less significant for packaged apps, whose resources are all local (so there's no chance of network latency or unavailability, although archiving large apps can still take noticeable amounts of time).

I think we should display a throbber next to the field while the new receipt is being downloaded.

[2013-06-20 19:33] mykmelez commented on #603
I cherry-picked https://github.com/mykmelez/gaia/commit/f2e1981e5ac09b72e1e8ffcbc0f5f6c42cb92037 to a [v1-train-integration branch](https://github.com/mykmelez/gaia/tree/v1-train-integration) in the mykmelez/gaia repository that the Simulator uses to build Gaia, then I updated Gaia to that branch, so this is now fixed, and the fix is in the latest preview build ([Windows](https://ftp.mozilla.org/p

[2013-06-20 19:33] #603 closed, assigned to ochameau

[2013-06-20 19:41] #634 closed, assigned to nickdesaulniers

[2013-06-20 22:15] mykmelez commented on #639
I updated to 12.04 32-bit:

[code]

But I still can't reproduce the problem. Starting the Simulator (i.e. the `b2g` executable) works from both the Dashboard and the command line. And it works with both 3.0.1 and 4.0pre7 (the latest preview build). Moreover, _ldd_ sees it as an executable file with a set of dependencies that look standard:

[code]

On the off chance that the file was corrupted dur

[2013-06-20 22:49] jandendolder commented on #639
two soals and one thought. I also started from scratch on a fresh installed ubuntu 12.04 system. It went smoothly into installing the simulator. It just worked like expected. The only thing I can think of is that any other product on my system was interfering with the simulator in an unpredictable manner. If I happen to find out during the reinstall of things what is going on in my system I will l

[2013-06-20 22:49] #639 closed, assigned to nobody

[2013-06-20 22:55] mykmelez commented on #639
@jandendolder I'm glad to hear it's working for you now! And please do let us know if you find out more info about what caused it to fail!

[2013-06-21 00:20] mykmelez commented on #536
On startup, the system app checks the battery level and immediately shuts down if the battery is drained:

https://github.com/mozilla-b2g/gaia/blob/f2930cf440e0c8c21b48f7b0b01fac48b941e3fc/apps/system/js/battery_manager.js#L23-L39

It also does this whenever the level changes:

https://github.com/mozilla-b2g/gaia/blob/f2930cf440e0c8c21b48f7b0b01fac48b941e3fc/apps/system/js/battery_manager.js#L63-L

[2013-06-21 06:00] mykmelez commented on #536
I figured out how to reproduce it: boot the Ubuntu VM with the battery installed, then remove it after the OS is booted. Apparently the VM determines whether or not to report battery state at boot time (which I read somewhere, perhaps in a Launchpad bug, although I can't find it now).

In any case, now that I can reproduce it consistently, I can experiment with fixes, one of which I'll submit a pu

[2013-06-21 06:09] ShadowFox13 opened #649 "Weird bugs"
The simulator keeps thinking I'm pressing letters twice when I'm only hitting them once... Also YouTube videos will only lode on the desktop site... Is this normal for the Windows version?

[2013-06-21 06:34] mykmelez opened #651 "after drag to scroll, click is ignored"
When I click after dragging to scroll an app like Settings and Marketplace, the click is ignored. If I click again, though, the second click is usually observed, although sometimes I have to click a third time before the click is observed.

Steps to Reproduce:
1. start Settings and click-drag to scroll to bottom of app;
2. click Device Information.

Expected Results: Device Information view opens.

[2013-06-21 16:16] mykmelez commented on #629
I see this too on Mac OS X, and I see it in the browser app as well. The workaround is to use your keyboard to type, as key events don't result in duplicate characters.

@ochameau perhaps this is more fallout from touch event simulation?

[2013-06-21 16:20] mykmelez commented on #649
That is issue #629.

Per [Firefox OS Simulator: Audio/video codecs](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Audio.2Fvideo_codecs), it isn't possible to test video playback in apps and websites (like the mobile version of Youtube) that rely on codecs that depend on hardware-accelerated decoding.

[2013-06-21 16:20] #649 closed, assigned to nobody

[2013-06-21 18:26] nickdesaulniers commented on #641
Fixed in d3e7c0cdb29157628b0a01355e34bba3836b6607

[2013-06-21 18:26] #641 closed, assigned to nobody

[2013-06-22 00:02] mykmelez opened #652 ""use my current coordinates" doesn't work before push from Dashboard"
If I start the Simulator and then tell it to use my current coordinates for the geolocation simulation, it doesn't actually do so. Apparently this is because it notifies "r2d2b2g:geolocation-start", but SimulatorActor doesn't observe the notification because it hasn't been instantiated yet.

Once I push an app from the Dashboard, though, SimulatorActor gets instantiated, and a subsequent request t

[2013-06-22 00:20] nickdesaulniers commented on #651
Yes I see this as well.  I had a dummy app with a single button, and I have to click it twice for it to call it's onclick handler, then once after that.

[2013-06-24 07:48] StrawMan commented on #651
Yes indeed, unfortunately it's resurfaced in pre7:

#560

[2013-06-24 10:04] #651 closed, assigned to nobody

[2013-06-24 10:05] ochameau commented on #651
Oh, sorry, I missed updating the simulator when bug 869689 was uplifted!!

[2013-06-24 14:26] ochameau commented on #629
Yes, it has been fixed by https://github.com/mozilla/r2d2b2g/commit/83983d38e85e5064009586ef1c3445465d590c32

[2013-06-24 14:26] #629 closed, assigned to nobody

[2013-06-24 17:02] nickdesaulniers commented on #652
indeed, the only thing logged in the console when current coords requested is `info: r2d2b2g: Current coordinates requested in shell, notifying Simulator` which happens [here](https://github.com/mozilla/r2d2b2g/blob/83983d38e85e5064009586ef1c3445465d590c32/prosthesis/content/shell.js#L59).  The "r2d2b2g:geolocation-start" event should be being observed by the [SImulatorActor](https://github.com/mo

[2013-06-24 17:41] nickdesaulniers commented on #652
when it works I see: `simulator actor created for a new connection`, which is not [printed](https://github.com/mozilla/r2d2b2g/blob/83983d38e85e5064009586ef1c3445465d590c32/prosthesis/content/dbg-simulator-actors.js#L15) when it does not work.

[2013-06-24 17:54] nickdesaulniers commented on #652
One thing that is confusing is that in prosthesis/content/patch-remote-debugger.js is it saves the old version of RemoteDebugger.start, and modifies the property to call a new version.  But the thing is is that that code is never run (to my knowledge) and that RemoteDebugger [never had a start property](https://github.com/mozilla-b2g/gaia/blob/master/apps/system/js/remote_debugger.js#L8).

[2013-06-24 18:31] ochameau commented on #652
We are patching the `shell.js`'s one over here:
http://mxr.mozilla.org/mozilla-b2g18/source/b2g/chrome/content/shell.js#946

[2013-06-24 21:11] nickdesaulniers commented on #652
@mykmelez , sending the ping on clientReady does indeed fix this.  Who should I talk to about the globallyAdded actors not being initialized until initial communication is sent to the DebuggerServer? Probably @past?

[2013-06-24 21:35] ochameau commented on #652
As far as I understood actors, they are loaded lazily:
http://mxr.mozilla.org/mozilla-central/source/toolkit/devtools/server/main.js#781

So that, SimulatorActor constructor won't be instanciated until we query one of its request.
That being said, we can pass an object to `DebuggerServer.addGlobalActor` instead of the function.
It will then be initialized on debugger server initialization.
But at

[2013-06-25 09:52] past commented on #652
The server purposefully initializes registered actors when they receive their first message, since some actors can have an expensive startup pocess and then go unused until the server is restarted. This is exacerbated by the fact that actors can be provided by 3rd-party add-ons where we can't get the same quality guarantees.

The initial request idea that @ochameau mentioned is precisely how most

[2013-06-25 14:29] sudheesh001 opened #654 "Apps don't start unless clicked exactly in the centre of the app icon"
Apps present in the OS Simulator have to be clicked right in the centre for the app to particularly start. Also, clicking in the space between two different applications in a row also ends up generally opening the application to the right of the clicked region.

![clickedpoint](https://f.cloud.github.com/assets/4545925/703087/6a871854-dda3-11e2-9a64-f73ec5689b14.png)

Clicking at the point where t

[2013-06-25 15:58] sudheesh001 opened #655 "Clone + Build process : make build error + fatal: early EOF"
## Steps to reproduce :-

1: Successfully clone the repository
2: cd into r2d2b2g
3: $ git submodule init
4: $ git submodule update

Final stages & early EOF fatal error produced

[code]

5: $ make build

[code]
### Reproducible : Always
## Workaround managed

[code]

[2013-06-25 16:12] nickdesaulniers commented on #652
Thanks @past !  @ochameau , would you prefer the patch as is with a new issue added for attach/detech events, or have them rolled in with this patch?

[2013-06-25 18:11] #652 closed, assigned to nickdesaulniers

[2013-06-25 18:12] nickdesaulniers commented on #571
fixed in #653

[2013-06-25 18:12] #571 closed, assigned to nickdesaulniers

[2013-06-25 18:18] nickdesaulniers opened #656 "replace ping with attach & detach events"
See [this comment](https://github.com/mozilla/r2d2b2g/issues/652#issuecomment-19964368) referring to this [ping](https://github.com/mozilla/r2d2b2g/blob/1c9a14931f551c5e25fc77a4342eeac71a59eb13/addon/lib/remote-simulator-client.js#L96).  Ping could stay, but it would be nice to create an [attach event just for this purpose and figure out when a detach event](https://github.com/mozilla/r2d2b2g/blob

[2013-06-25 18:22] sudheesh001 opened #657 "auto run the simulator when executing make run"
After successful _make_ of **r2d2b2g** , the command

[code]

ends up into running an blank Firefox window with an information bar below the URL Bar telling,

[code]

The status of the **make run** in the terminal stops at

[code]

Shouldn't the init also start the process of starting the simulator automatically, when seperately invoked from the blank firefox window through Web Developer, it ends

[2013-06-26 00:30] potch commented on #633
Fixed by https://github.com/mozilla/r2d2b2g/pull/648

[2013-06-26 00:31] #633 closed, assigned to potch

[2013-06-26 16:09] paolooo opened #659 "FirefoxOS Simulator mp3 issue"
Hi,

I'm currently developing an app that requires to play mp3 audio file but FirefoxOS Simulator somehow doesn't play .mp3, but it works well on.ogg files.

Any help will do thank you.

:)

Paolo

[2013-06-26 18:13] #623 closed, assigned to potch

[2013-06-26 18:43] nickdesaulniers commented on #657
There might be a good reason why we don't do this this, to which I have to defer to @mykmelez .  But I have a simple patch for this.

[2013-06-26 20:42] sudheesh001 opened #661 "Scrolling Up and Down from the centre of the screen in Firefox OS Simulator."
##### Operating System tested on : Ubuntu 12.10.2 LTS
### Steps to reproduce
1. Run simulator from Tools -> Web Developer -> [Firefox OS Simulator](resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html)
2. Swipe towards the right from the home screen showing the time.
3. Select any one of the categories, here I chose Social
4. To scroll the screen up and see the apps below, the scr

[2013-06-26 21:53] nickdesaulniers commented on #506
Haven't seen this in a while.

[2013-06-26 21:53] #506 closed, assigned to nobody

[2013-06-26 21:57] nickdesaulniers commented on #659
@paolooo , yes this is a [known issue](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Audio.2Fvideo_codecs).  The simulator, an add on for desktop Firefox, shares the same codec support as desktop Firefox.  While we could implement software decoding, which would be practical in the simulator since it would be running on a desktop IMO, we could also wait for support to land in

[2013-06-26 21:57] #659 closed, assigned to nobody

[2013-06-27 04:15] mykmelez commented on #506
Ironically I just found a source for this today, and I fixed it in #662.

[2013-06-27 09:54] paolooo commented on #659
@nickdesaulniers  even on Firefox Nightly? Thanks for the quick reply :)

[2013-06-27 10:51] paolooo commented on #659
@nickdesaulniers I just wonder why the Simulator doesn't support, because if I test .mp3 using HTML5 &lt;audio> on desktop Firefox or Nightly, it just works perfectly... but it doesn't work on FirefoxOS Simulator on both desktop Firefox and Nightly version.

[2013-06-27 14:25] sudheesh001 opened #664 "Enable USB Storage icon error"
The Storage section of the settings application, has an option called Enable USB Storage having the **Airplane Mode** as the icon, this icon needs to be replaced with a USB symbol.

![icon_error](https://f.cloud.github.com/assets/4545925/716400/1b4c95fa-df35-11e2-8fdf-2f760207828d.png)
### What could be done

1: Replace the icon with the correct icon to avoid confusion.

[2013-06-27 15:51] nickdesaulniers commented on #659
@paolooo are you on Windows?  I think we may have enabled mp3 codec support in desktop Firefox for Windows already.

[2013-06-27 16:22] #536 closed, assigned to mykmelez

[2013-06-27 16:24] nickdesaulniers commented on #659
As a side note, codec support implementation is complex, and varies by host operating system.  This [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=799318) is a high level overview for implementation support.

[2013-06-27 16:53] paolooo commented on #659
I see... Yes, I'm using Windows.. So, for now mp3 won't play on Simulator (desktop Firefox and Nightly) but it will work on Firefox device right?

Is there a chance that FirefoxOS Simulator will support mp3 in the near future on Windows?

[2013-06-27 16:56] nickdesaulniers commented on #659
Right.

See my [first answer](https://github.com/mozilla/r2d2b2g/issues/659#issuecomment-20083243).

[2013-06-27 19:42] sudheesh001 opened #665 "CONTRIBUTING.md talks about step 9 when there isn't any"
The current file says

[code]

Updating it by either removing the step 9 part and changing the portion as

If you wish to use a custom Firefox profile which is the best way to simulate Gaia in the browser, the URL specified in this command is actually intercepted and routed to a local web server that's started while using this profile (there's a custom Firefox extension that runs the local server,

[2013-06-27 21:38] mykmelez opened #666 "clear IndexedDB when doing data-clearing refresh"
Apropos #595, @digitarald says it would also be useful to clear the IndexedDB when doing an app refresh that clears persistent data.

cc: @rpl, @mattbasta, @cvan

[2013-06-27 23:04] mykmelez commented on #613
I have a fix for which I'll request a pull shortly.

[2013-06-27 23:24] #613 closed, assigned to mykmelez

[2013-06-27 23:26] potch opened #668 "Allow AppList to update a single app."
This will prevent unnecessary flickering of the whole list, scroll jumping, and a myriad of other performance woes when users have a large list of apps.

[2013-06-28 05:18] #666 closed, assigned to nobody

[2013-06-28 07:33] mykmelez opened #673 "zombie toolbox becomes stuck open if B2G crashes and connection times out"
@ochameau I added this test app with a bad appcache manifest to my Dashboard:

http://badappcache.testmanifest.com/manifest.webapp

When I press the Connect button to connect to it, and the Dashboard starts the Simulator, the B2G process crashes, after which the remote debugger connection times out. But the toolbox opens before the crash occurs, and clicking its X button doesn't close it, while co

[2013-06-28 07:38] mykmelez opened #674 "parentheses around app URL/path shouldn't be selectable"
Sometimes it's useful to select an app URL/path in the Dashboard's app list (via click-drag or triple-click). But those URLs/paths are surrounded by parentheses, and it's all too easy to select one or more of its parentheses while selecting a URL/path, which then makes it harder to copy/paste the URL/path to do something useful (like access it via a web/filesystem browser).

It should be impossibl

[2013-06-28 22:11] digitarald opened #675 "window.locationbar.visible is true, should be false"
Apps are checking if they run chromeless using window.locationbar.visible. In B2G and on Desktop this values is consistently false when the app runs in chromeless mode.

In Simulator it returns true, not sure where it gets that from. It is probably similar to the screen size issue we had before.

Affects a lot of apps, as its still a recommendation mentioned in the MDN.

[2013-06-28 23:13] ldoubleuz opened #676 "Simulator duplicates hosted apps on Windows 7"
**Version 4.0pre9 of the OS simulator on Firefox 23.0, Windows 7 64bit.**

I'm having an issue where having more than one hosted app in the simulator at a time causes all added apps in the simulator to be duplicates of the first app to be added.

Essentially, when I add an app to the simulated phone environment using the Refresh button in the simulator addon UI, the first app I add will act as nor

[2013-06-29 14:06] sudheesh001 commented on #676
WORKSFORME

#### Windows 7 Ultimate 64 bit

#### Windows 8

There are (1) warnings generated in the simulator addon when adding the manifest.webapp

[2013-06-30 08:44] mahemoff commented on #659
@nickdesaulniers Your first answer says you're waiting for support to land in desktop Firefox OS; if that's present now on Windows nightly, isn't that now possible? Or maybe it's a matter of waiting til it's more stable...just trying to understand what's preventing it.

[2013-07-01 17:39] mykmelez commented on #676
I see this problem, but it's (somewhat) expected, since hosted apps must have unique origins, and those two manifests share the same origin (http://mozilla.github.io).

If those apps are intended to be installed into the Simulator, then they would need to expose their manifests at unique origins. Otherwise, there's not much the Simulator can do (at best, we can warn the user about the origin overl

[2013-07-01 17:39] #676 closed, assigned to nobody

[2013-07-01 20:52] nickdesaulniers opened #679 "Connect fails to connect"
STR:
1. Open a few apps by clicking Connect in their listing in the dashboard and close them using command Q.

Expected:
Multiple apps can be opened and connected to.

Actual:
After 1 or 2 apps being opened and closed in this way, connect stops working.  All I see in the console is `info: r2d2b2g: Simulator.onMessage connectToApp`.  Reopening the dashboard tab doesn't fix this, restarting the Fire

[2013-07-01 20:55] mykmelez commented on #679
cc: @ochameau

@nickdesaulniers To conform: when you say "close them using command Q," does that mean you press Connect to connect to an app, starting both the Simulator and the app within the Simulator in the process, and then disconnect by pressing Command-Q to quit the Simulator (and the app within)?

[2013-07-01 20:56] #674 closed, assigned to nobody

[2013-07-01 20:57] nickdesaulniers commented on #679
Yes

[2013-07-01 21:14] nickdesaulniers commented on #218
Is this still an issue?  In 4.0pre9, I tried opening calendar, then "+" (new appointment), then one of the dates.  A date picker comes up.  Maybe this was fixed in newer versions of gaia that we picked up?  If not, what are your STR?

[2013-07-01 21:25] nickdesaulniers commented on #664
Fixed in 4.0pre9 and source.  Was probably a gaia issue that was fixed when we updated our submodule.  Thanks for taking the time to report though!  We appreciate it!

[2013-07-01 21:25] #664 closed, assigned to nobody

[2013-07-01 21:30] nickdesaulniers commented on #661
1. works for me in 4.0pre9 in OSX, maybe OS specific?
2. Not sure how we could detect that? @ochameau

[2013-07-01 21:36] nickdesaulniers commented on #665
@sudheesh001 , yes this would be a good beginner bug if you want to remove the reference to line 9 with something like `If you need to use a custom Firefox profile, instead run with following command` or something.  The second part you mention doesn't really have anything to do with contributing to the simulator.  Maybe there is a better place for that tip?  Anyways, would you like to submit the p

[2013-07-01 21:46] nickdesaulniers commented on #654
It seems contradictory that you have to click in the center of an icon to start an app, but you can also start an app by clicking in between icons.  I did not find that I had to click in the center of an icon to start it.

Anyways, it's more important for the app to have large click targets (larger than the icons themselves) on mobile than to have precise precision in the simulator.  The click han

[2013-07-01 21:46] #654 closed, assigned to nobody

[2013-07-01 21:47] nickdesaulniers commented on #655
I think you need a `git submodule sync` in there between `git submodule init` and `git submodule update`.  Let me know if that works for you?

[2013-07-01 21:54] nickdesaulniers commented on #451
This has some overlap with #444

[2013-07-01 21:56] nickdesaulniers commented on #637
Fixed in 4.0pre9

[2013-07-01 21:56] #637 closed, assigned to nobody

[2013-07-01 21:59] nickdesaulniers commented on #171
So now the error console has been removed, you can connect to an app and clicking on the source line for any entry in the log takes you to the source in the debugger, no crash!

[2013-07-01 21:59] #171 closed, assigned to nobody

[2013-07-01 22:01] nickdesaulniers commented on #101
As a heads up, it might be frustrating and slow down the development cycle to constantly have to enable the wifi connection on every run of the simulator.  Maybe a button along the bottom (near rotate) to turn off connection might me nice?

[2013-07-01 22:22] sudheesh001 commented on #665
Yes :+1: I'd be very happy to do so. Thank you

[2013-07-01 22:24] nickdesaulniers opened #680 "use javascript 1.8 in dashboard code"
In `addon/data/content/js/` we can use javascript 1.8 in `applist.js`, `main.js`, and `plugins.js` if we add the `type="application/javascript;version=1.8"` [attribute](https://developer.mozilla.org/en-US/docs/Web/JavaScript/New_in_JavaScript/1.8?redirectlocale=en-US&redirectslug=JavaScript%2FNew_in_JavaScript%2F1.8#Using_JavaScript_1.8) to the script elements in `addon/data/content/index.html`

[2013-07-01 22:25] nickdesaulniers opened #681 "fix tabbing in dashboard javascript"
we've been using two spaces instead of four everywhere else.  This is going to mess up the blame and may not be work it, but I would prefer consistency.

[2013-07-01 22:27] nickdesaulniers commented on #665
Thank you!  Please mention me in the pull request and I'll be happy to review it!

[2013-07-01 22:29] sudheesh001 commented on #661
Works on Windows 8. Could be OS specific.

[2013-07-02 15:09] jds2501 opened #684 "Simulator should provide warnings or errors when CSP violations are detected in packaged apps"
See the situation that happened on https://bugzilla.mozilla.org/show_bug.cgi?id=889356.

We had an app developer who built an app that produced odd behavior in the simulator that did not follow the CSP, but worked correctly on device with the CSP enforced. I'm filing a separate issue on that. However, this issue looks into providing warnings/errors to the user if the packaged app provided by the u

[2013-07-02 15:12] jds2501 opened #685 "Packaged apps CSP is not being enforced in the simulator in alignment with the device in regards to inline JS"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=889356. This could be either a simulator bug or a desktop build bug.

The packaged app CSP is not being enforced correctly per bug 889356. We had an app developer build an app that was in clear violation of it by using inline JS, but the simulator still allowed execution of inline JS. We should be blocking execution of inline JS in the sim

[2013-07-02 16:34] mykmelez commented on #679
I can reproduce by quitting the Simulator as soon as it opens, before the toolbox has a chance to appear. After that, pressing the Connect button for another app doesn't have any effect.

[2013-07-02 17:21] nickdesaulniers opened #686 "change invalid json error message"
Error when trying to install a locally hosted app with minimal manifest.

manifest.webapp:

[code]

A yellow doorhanger appears saying "Expected JSON response".

If I `curl -I http://localhost:3000/manifest.webapp` I see the content type is indeed `Content-type: application/x-web-app-manifest+json`.

When I enter the url into the dashboard, before clicking Add Manifest I see:

[code]

and after cl

[2013-07-02 17:27] #665 closed, assigned to nobody

[2013-07-02 17:33] nickdesaulniers commented on #686
the manifest is obviously not valid JSON

[2013-07-02 17:56] potch commented on #668
Will be fixed by https://github.com/mozilla/r2d2b2g/pull/689.

[2013-07-02 18:01] mykmelez commented on #686
So the Dashboard does the right thing, but it doesn't explain itself well, since you didn't understand what it was saying! It says "expected JSON response." May be it should say something like "the app manifest is invalid JSON."

[2013-07-02 18:41] #679 closed, assigned to mykmelez

[2013-07-02 18:48] nickdesaulniers opened #690 "Unable to connect to a particular app"
I can connect to all my other apps, but this one.  It gets started in the simulator, but the debugger in the dashboard never opens.  [Here's the app](https://github.com/nickdesaulniers/simulatorTestReceipt). cc @mykmelez

[2013-07-02 18:53] nickdesaulniers commented on #690
I can connect to my other packaged apps.

[2013-07-02 18:53] mykmelez commented on #690
cc: @ochameau

[2013-07-02 18:58] mykmelez commented on #690
Hmm, I'm unable to reproduce. Whether I add the app as packaged, hosted, or generated, I can connect to it, see its console output, and see its scripts in the Debugger tab.

[2013-07-02 19:05] rpl commented on #690
On an existent profile I use during development there was a registered
packaged app without an origin in its registered config object
(simulator.apps[appid]), so its generated manifestURL was
"undefined/manifest.webapp" and connectToApp wasn't able to resolve the app
from its invalid manifestURL.

In my case removing / add the app or installing a more recent generated
r2d2b2g.xpi to run the upgrad

[2013-07-02 19:06] mykmelez opened #691 "Dashboard reload sets toggle switch to Stopped even if Simulator is running"
If you reload the Dashboard while the Simulator is running, the toggle switch changes to Stopped, although it should stay Running.

Steps to Reproduce:
1. press toggle switch to start Simulator;
2. reload Dashboard.

@potch, @nickdesaulniers regression from a Dashboard change?

[2013-07-02 19:06] nickdesaulniers commented on #686
Thoughts on [this block](https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/simulator.js#L636):
- We check for a JSON property before checking for the right MIME type (I feel the order should be reversed, as there will be no json property for invalid JSON, but also for completely wrong MIME types.  Having an incorrect MIME type is a seperate issue from having the right MIME type but with inv

[2013-07-02 19:09] nickdesaulniers commented on #691
I did not find this to be the case.  Are you working out of master?  What's your latest commit?

[2013-07-02 19:11] mykmelez commented on #690
@rpl Ah, good idea!

I've seen that problem too, and I addressed it by updating the xkey validator to regenerate xkeys for upgrades from all versions prior to 3.0pre8 in 581dac2e1da490b218b98b2ed9870e91164a1749. I subsequently updated the version to 3.0pre9 in 9a2ed1d66dbb4af3c44f9b29e353cad3311dd016 because I wasn't sure we caught all such issues by 3.0pre3. (I'm still not sure we've caught all o

[2013-07-02 19:13] mykmelez commented on #690
s/3.0pre8/3.0pre3/
s/3.0pre9/4.0pre9/

[2013-07-02 19:14] mykmelez commented on #690
And @ochameau updated the validator to 4.0pre5dev in 51ccc65dc84fc22d532d160dd18270e8a52eb552. Obviously this is an ongoing problem that we need to get a handle on. :-(

[2013-07-02 19:26] mykmelez commented on #691
I'm working out of master. My latest commit is the tip: 2dca3c594a3e338b4b9e21762d68d637693e0693.

It seems to be a race, as reloading repeatedly shows sometimes Running, sometimes Stopped.

[2013-07-02 20:26] nickdesaulniers commented on #691
@mykmelez , can you try with #683 applied?

[2013-07-02 20:44] mykmelez commented on #691
Yes, I just tried it, and #683 doesn't fix this issue.

[2013-07-02 21:11] untitaker opened #692 "HERE app shows directory listing"
![screenshot](http://i.imgur.com/910jKxg.png)

[2013-07-02 21:16] untitaker opened #693 "Allows to uninstall core apps (contacts, videos, phone), no way to install them again"
Just like that. I am able to delete the Contacts app just like any other app and i don't see a way to get it back.

[2013-07-02 21:36] bkase opened #694 "Use new Releases feature for preview builds?"
See: https://github.com/blog/1547-release-your-software

It seems like it would be nice have the preview builds for the simulator available on Github Releases.

[2013-07-02 22:36] #644 closed, assigned to nobody

[2013-07-02 22:37] mykmelez commented on #691
But another commit to #683 did fix it, so this is now fixed.

[2013-07-02 22:37] #691 closed, assigned to nobody

[2013-07-03 18:57] havwig opened #695 "Simulator won't run app unless manifest is named "manifest.webapp""
For my first app, I named the manifest file "appname.manifest" and installed it to the simulator. The app shows up with the name from the manifest in the simulator dashboard, and I get no error messages. Seems like a successful install.

However, I get no icon in the simulator, and no response when I press "Run" in the dashboard. Not even a warning or an error in the console log. After a bit of ex

[2013-07-03 22:48] es92 opened #696 "Installing/Refreshing App blocks UI"
the 'x installed' popup that appears at the bottom of the screen when installing apps blocks the app for several seconds, which is annoying when testing ui. It would be good to have an option to move the notification offscreen, so it doesn't block the app during startup.

[2013-07-03 22:49] nickdesaulniers commented on #695
Yes I think we're checking literally for manifest.webapp when we should just be checking for a file ending with the .webapp extension.  I don't think the manifest has to be named manifest.webapp in b2g, but I'll double check when I have a free minute.  Thanks @havwig for reporting this!

[2013-07-03 22:50] es92 opened #697 "Pushing to physical device does not restart / stop installed app"
When pushing to the physical device, the installed app stays open. Having to stop/restart the app manually is really annoying. It would be good if pushing to the device restarted, or at least stopped the installed app if it was open.

[2013-07-03 22:54] nickdesaulniers commented on #697
This would have to be modified in [gecko](http://mxr.mozilla.org/mozilla-central/source/toolkit/devtools/server/actors/webapps.js#246).

[2013-07-03 22:54] es92 opened #698 "Console does not scroll with more content"
Right now it is necessary to manually scroll down to new content. The console should scroll along with new content, if the console was already scrolled to the bottom.

If this is platform dependent, I'm on Firefox 22.0 on linux x64.

[2013-07-03 23:02] es92 commented on #697
The gaia makefile has the desired behaviour, using just adb. I think the following, taken from the gaia makefile, would work with the simulator:

APP_PID = $(shell adb shell b2g-ps | grep '^${APP_NAME}' | sed 's/^${APP_NAME}\s*//' | awk '{ print $$2 }')
$(ADB) shell kill ${APP_PID}

[2013-07-03 23:22] potch commented on #636
Expect something soon!

[2013-07-04 01:07] marti1125 opened #699 "Denied permission 'systemXHR'"
![simulador](https://f.cloud.github.com/assets/223240/747008/f990865a-e444-11e2-8b9e-6e37b10db4fa.png)

when I add this line "type": "privileged" It doesn't show warning message.

but I need to remove that line for validate my manifest.

![validate](https://f.cloud.github.com/assets/223240/747023/ab87fd2a-e445-11e2-9d60-e63ecd5341c6.png)

[2013-07-04 01:29] rpl commented on #699
Only packaged app can be "type privileged", when you put an http manifest
url into the marketplace validator it will be validated as an hosted app.

If you archive your packaged app in a zip and submit the zip to the
marketplace validator, you should be able to validate it correctly as a
packaged app.

[2013-07-05 15:33] sudheesh001 opened #700 "Allowing text selection"
### Feature Request

I've just loaded and application onto the simulator whose
Validation Result: OK

But, the Firefox OS Simulator shows the following screen.

![file not found](https://f.cloud.github.com/assets/4545925/754422/0c5cbcb0-e588-11e2-9184-5310e024cded.png)

The simulator doesn't allow the error message shown to be selected. Maybe turning in caret browsing or something similar for easy

[2013-07-06 11:54] sidthezoosloth opened #701 "single manifest orientation value in array notation produces js errors"
putting the value "orientation": ["portrait"], produces these log entries:
[JavaScript Error: "Error: Permission denied to access object"]
[JavaScript Error: "Error: Permission denied to access object"]
Timestamp: 06.07.13 13:51:01
Error: Error:

on the other hand, manifest validation succeeds as expected.
see https://developer.mozilla.org/en-US/docs/Web/Apps/Manifest#orientation

a parsing proble

[2013-07-08 14:50] ochameau commented on #697
I may soon land a bunch of new method in webapps actor in gecko18, like `close` that would allow to implement that easily.
I don't think the install method should close the app, it is better to let the client decide wheter he want to restart the app.
In case we end up not uplifting this patch, we can easily cherry pick this close method and use it in the simulator.

[2013-07-08 21:04] mykmelez opened #702 "_isAdbRunning throws NS_ERROR_FILE_UNRECOGNIZED_PATH when $PATH contains `.`"
@kmaglione discovered that __isAdbRunning_ throws `NS_ERROR_FILE_UNRECOGNIZED_PATH` when _$PATH_ contains `.`:

[code]

He also notes that the Simulator "should probably fail gracefully when there are invalid components in any case."

cc: @bkase

[2013-07-09 09:06] sudheesh001 opened #704 "Audio Testing. Keeps loading for more than 10 minutes."
### Steps to reproduce.
#### Tested on : Windows 8, Aurora v24.0a2
1. Open the Browser in Firefox OS Simulator
2. Surf to http://areweplayingyet.org/
3. Please check the issue of bad layout display ? I've posted an issue [here](https://github.com/soundcloud/areweplayingyet/issues/48) because I believe its website specific and not a problem with the OS Simulator.\* _Other mobile websites work prope

[2013-07-09 13:24] mahemoff commented on #659
@nickdesaulniers Any update on this? It seems like this should work in Windows now, given that the hardware codec is there.

[2013-07-09 16:40] ochameau commented on #685
https://github.com/mozilla/r2d2b2g/pull/705 should fix the `redirects` support for simulator.

[2013-07-09 17:04] #702 closed, assigned to nobody

[2013-07-09 17:19] nickdesaulniers commented on #659
@mahemoff just tested on today's nightly build on Windows.  No beans.  Though I think it may be hidden behind a pref.  Let me ask some of my friends who work on the media team.

[2013-07-09 17:31] mahemoff commented on #659
@nickdesaulniers Appreciate it, thanks.

[2013-07-09 17:38] nickdesaulniers commented on #704
Duplicate #659

[2013-07-09 17:38] #704 closed, assigned to nobody

[2013-07-09 17:41] nickdesaulniers commented on #700
Hi @sudheesh001 , what is "caret browsing?"

[2013-07-09 17:42] #699 closed, assigned to nobody

[2013-07-09 17:49] nickdesaulniers commented on #699
@marti1125 the [MDN page](https://developer.mozilla.org/en-US/docs/Web/Apps/App_permissions) on permissions has the full listing.  Apps can either be hosted or packaged.  And the packaged apps have three levels of permissions, in increasing restriction: web, privileged, certified.  See [this](http://nickdesaulniers.github.io/firefoxOSPresentation/#/step-7) and the following slides for more info.

[2013-07-09 17:51] nickdesaulniers commented on #701
@sidthezoosloth , that's valid JSON (by eye, always [JSONLint](http://jsonlint.com/) to be sure).  Do you have a test case published anywhere?

[2013-07-09 17:52] nickdesaulniers commented on #692
Packaged apps do this when there the [launch_path](https://developer.mozilla.org/en-US/docs/Web/Apps/Manifest) is messed up.

[2013-07-09 18:05] rpl commented on #701
@sidthezoosloth @nickdesaulniers it's a current limitation (and bug) of the current SimulatorScreen implementation.

Currently it's doesn't support array value in the orientation attribute or as screen.lockOrientation parameter (which should be allowed to restrict orientation without completely locking it)

P.S. jsonlint is integrated in the simulator and the manifest is linted on every app refres

[2013-07-09 18:08] sudheesh001 commented on #700
@nickdesaulniers . Keyboard navigation where a caret (also known as "text cursor", "text insertion cursor", or "text selection cursor") is used to navigate within a text document. It is a fundamental feature for applications that deal with text, for example text editors, word processors and desktop publishing programs. Similar to what happens when F7 is pressed on a Firefox browser.

On a phone, s

[2013-07-09 18:26] rpl commented on #701
changed label on the issue from **info-needed** to **bug**

[2013-07-10 00:01] mykmelez opened #707 "receipts tests depend on other tests, hang if run by themselves"
The receipts tests hang if you run them by themselves via `make test TEST=test-receipts`. So they seem to depend on other tests, which is dangerous (and breaks the common use case of running a subset of tests). So we should break that dependency.

@nickdesaulniers says he can take this on.

[2013-07-10 06:09] untitaker commented on #692
This is just the untouched emulator.

[2013-07-10 21:08] nickdesaulniers opened #708 "App added to dashboard without icon, but pushed with Icon"
[This manifest](http://m.youtube.com/mozilla_youtube_webapp) when added to the dashboard does not have an icon, but when I push it to device it does.  It has an absolute path for the icons, but I thought they had to have the same origin as the manifest?

[2013-07-11 07:59] sidthezoosloth commented on #701
@rpl Thanks for the info!

[2013-07-11 17:37] mykmelez opened #710 "move Simulator Walkthrough sample apps to Mozilla organization"
The [Simulator Walkthrough](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator/Simulator_Walkthrough) references some sample apps that are hosted in @wbamberg's [firefoxos-simulator-walkthrough repository](https://github.com/wbamberg/firefoxos-simulator-walkthrough) and @rpl's [fork of that repository](https://github.com/rpl/firefoxos-simulator-walkthrough). We should host those a

[2013-07-11 17:45] nickdesaulniers commented on #710
I'm for having the docs in a r2d2b2g/doc folder, that way we don't have to worry about 2 different repos, and the relevant info is in one repo.  Making it a submodule doesn't make sense, since it's not relevant to reuse the documentation elsewhere.

[2013-07-11 18:53] rpl commented on #710
On Thu, Jul 11, 2013 at 7:45 PM, Nick Desaulniers
notifications@github.comwrote:

[2013-07-11 19:02] nickdesaulniers commented on #710
Oh I didn't read the description well, I thought we were talking about the MDN documentation, not the walkthrough apps.  In that case I think they should be a separate repo under Mozilla.  Maybe a transfer of ownership could help here.

[2013-07-11 20:56] reinvented opened #711 "Simulator does not recognize the "mobilenetwork" permission"
- Firefox OS Simulator 4.0 (installed when it was released today)
- Mac OS X 10.8.3
- Firefox 22.0.

Reporting an issue [discussed at some length in mozilla.dev.webapps](https://groups.google.com/d/msg/mozilla.dev.webapps/WKMpHavP9-Y/lc5N9mZwpvwJ)

Trying to run an app that requests the "mobilenetwork" permission:

https://github.com/reinvented/getcellid/tree/mobilenetwork/www

The [manifest.webap

[2013-07-11 21:23] harthur opened #712 "Style Editor doesn't work on some sites"
1) Open Simulator 4.0 in Aurora or Nightly
2) Install http://harthur.github.io/bugzilla-todos/
3) Click "Connect" next to the new app
4) Once devtools are open, click Style Editor tab

**Expected**:
Should see 3 stylesheets

**Actual**:
See perpetual loading indicator

I see no errors in the browser's console.

[2013-07-11 23:49] stripTM commented on #712
I don't see the perpetual loading indicator but, the "New" button and the link "append a new style sheet" don't work.

[2013-07-11 23:53] sushao opened #713 "su5170"
pc13557876948

[2013-07-12 00:34] #713 closed, assigned to nobody

[2013-07-12 02:10] harthur commented on #712
@stripTM what version of Firefox you on?

[2013-07-12 17:02] midudev opened #714 "Firefox OS Simulator crash on OS X Mavericks DP3"
I know that OS X Mavericks DP3 is a Developer Preview. That's only to help to determine if that's an error that could be present in the final version to take care of. In fact, for that is the Developer Preview, to check if all is working fine. So, I hope it helps you. :)

Process:         firefox [6092]
Path:            /Applications/Firefox.app/Contents/MacOS/firefox
Identifier:      firefox
Vers

[2013-07-12 17:08] midudev commented on #714
on the system.log:

Jul 12 19:06:20 miduga firefox[6234]: firefox(6234,0x7fff76396310) malloc: **\* error for object 0x119205288: pointer being freed was not allocated
    **\* set a breakpoint in malloc_error_break to debug
Jul 12 19:06:20 miduga.local ReportCrash[6182]: Saved crash report for firefox[6234] version 22.0 (2213.6.18) to /Users/miguel/Library/Logs/DiagnosticReports/firefox_2013-07-1

[2013-07-12 22:29] kumar303 opened #715 "Start the simulator with a custom profile path"
It would be great to have a hidden pref that developers can toggle to set a custom path for [-profile](https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/remote-simulator-client.js#L473) when starting the simulator. This would allow one to check out the gaia source, set custom preferences, build a custom profile, and get all the benefits of the simulator (dashboard, etc). This is an essentia

[2013-07-12 22:44] mykmelez commented on #715
@kumar303 and I discussed this on IRC, and I wouldn't want to expose this feature to regular users of the addon, but it seems like a reasonable hidden feature to provide to expert users who have this particular need. You can currently point the B2G executable inside the Simulator at another profile via the _-profile_ command line option, but that doesn't give you access to the Dashboard, so it isn

[2013-07-13 17:33] Abhishek249 opened #718 "Icon images or images from other sources don't show up."
I am currently developing an app and i used some icons from Building Blocks Firefox OS and some from open sources. But neither of the images show up in the app.It simply is blank or background of the element(HTML e.g. div etc) in which they are contained

[2013-07-14 09:45] blacharnia opened #719 "B2G Desktop stacked on the "Based on Mozilla Technology" screen"
Reproduction path :
1. b2g-25.0a1.multi.win32.zip donwloaded and unzipped.
2. b2g.exe run

Result:

B2G Desktop stacked on the "Based on Mozilla Technology" screen

Same thing for b2g-25.0a1.en-US.win32 and b2g-18.0.multi.win32)
Env: Win7 x64

Happy to provide more details, if needed.

blacharnia

[2013-07-14 10:59] midudev commented on #714
More info about that. If I install Firefox 21 that's not happening. The issue is present only with Firefox 22.

[2013-07-15 13:49] zoltanf opened #720 "SMS Web Activity does not work correctly"
Calling from an packaged web application, simple code:

[code]

When this is run in a custom application, the Gaia:SMS application is open but _no_ new message is created, it's just stares blank on the messages list instead of creating an new message with the data from the code above.

[2013-07-15 15:53] sole opened #721 ""This page doesn't have any stylesheet""
The style editor doesn't find any styles on my app... but there are a few of them indeed!
https://github.com/sole/rtcamera/blob/master/index.html#L6

That was with the latest version of the simulator that I can get as an Add-on.

I then tried to build my own version but the outcome was even worse--the style editor option didn't even appear when connecting to my app.

Is there anything I can do for

[2013-07-15 20:57] cvan commented on #715
:+1: this would help immensely with payments development!

[2013-07-15 22:09] ochameau commented on #715
We need special flags when building gaia and also needs prothesis to be installed in this profile.
I tend to think it will be easier to do that from simulator sources.

You can already use a custom profile by running the simulator from source:

[code]

[2013-07-15 22:49] kumar303 commented on #715
@ochameau I can already start b2g from the addon source (e.g. `~/Library/Application Support/Firefox/Profiles/.../r2d2b2g@mozilla.org`) with a custom profile but that doesn't let me hook into the dashboard and all the nice simulator features. This issue is just asking to make the `-profile` path configurable here: https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/remote-simulator-client.js#

[2013-07-15 23:03] ochameau commented on #715
I crafted that patch, but then you miss prosthesis addon and all dashboard features are lost.

[2013-07-15 23:04] ochameau commented on #715
See PR #722.

[2013-07-15 23:13] mykmelez commented on #715
Perhaps we can address this by installing prosthesis into B2G's distribution/extensions folder instead of the Gaia profile, per https://developer.mozilla.org/en-US/docs/Developer_Guide/Customizing_Firefox#Including_extensions_with_your_distribution_of_Firefox.

[2013-07-15 23:17] harthur commented on #721
@sole what version of Firefox are you using?

[2013-07-16 07:38] janthiemen opened #723 "Console won't connect to app, "a debugee script is on stack""
When I'm trying to debug my app in the simulator and I want to connect the console to the app, it's giving me the following error: `unknownError: error occurred while processing 'attach' request: Error: can't start debugging: a debuggee script is on the stack` the console isn't giving any further output. Also, the console won't close unless you close the complete dashboard tap. The app can be foun

[2013-07-16 08:39] ochameau commented on #723
Oh for some reason, the call to `alert()` during document load make it throw this error.
I'll look into this.

[2013-07-16 09:32] sole commented on #721
I am using Nightly. I can test with other versions if you want! :-)

[2013-07-16 12:43] sole commented on #721
So I tested this on Firefox 23 Beta and it indeed showed me the styles. And I was going to say aaah, Nightly is funny, blabla. Then I updated to the latest Nightly and tested this again... _and now it works beautifully_

Closing bug for evident reasons :-D

Thanks for having a look anyway! :thumbsup:

[2013-07-16 12:43] #721 closed, assigned to nobody

[2013-07-16 21:41] mykmelez commented on #708
I think they do and will investigate further; in the meantime, I merged @ccarruitero's change so the behavior in the Dashboard is consistent with the behavior in the Simulator and on devices.

[2013-07-16 21:41] #708 closed, assigned to nobody

[2013-07-16 22:59] harthur commented on #721
I just landed a fix in Nightly, glad to see it worked. Thanks for reporting!

[2013-07-16 23:42] digitarald opened #724 "Configure server for push notifications"
To test push notifications, the Simulator should have push notifications enabled and configured.

[code]

[2013-07-17 08:33] sole commented on #721
Hey @harthur - out of curiosity, could you point me to the fix? Just to get an idea of the internals :-)

[2013-07-17 10:22] ghost opened #725 "Pushing apps to ZTE Open require restart to show up"
When I push applications to my ZTE Open using the simulator the application doesn't show in the applications list (on the main screen). I have to restart the device for it to show up.

[2013-07-17 17:54] mykmelez opened #726 "added app doesn't appear on Dashboard until reload"
After adding a packaged app to the Dashboard, the Simulator starts and installs the app, but the app doesn't appear on the Dashboard itself until I reload it.

The problem doesn't exist in 4.0. @potch perhaps this is a regression from updating individual entries?

[2013-07-17 18:08] potch commented on #726
distinctly possible. I'll look into it today.

[2013-07-17 20:06] mykmelez commented on #715
@kumar303 As @ochameau notes, simply adding the pref (which he's done in a pull request) isn't going to give you what you want, because your Gaia profile would be missing some necessary bits for communicating with the Dashboard; so you wouldn't be able to use the Dashboard to push apps to the Simulator, you wouldn't be able to connect developer tools, etc.

We might be able to fix that problem, pe

[2013-07-17 21:04] digitarald commented on #724
I verified with push team that this is the official server and the best choice.

[2013-07-18 01:43] mattbasta opened #727 "Contacts app inside the simulator seems broken"
It loads as just a black screen.

[2013-07-18 07:51] harthur commented on #721
@sole the fix is over here in Firefox [bug 892757](https://bugzilla.mozilla.org/show_bug.cgi?id=892757)

[2013-07-18 13:28] sole opened #728 "If I open the simulator after the phone has been connected to the computer, it doesn't detect the phone"
If I disconnect and connect the phone again, it successfully shows the 'Device Connected' message.

I'm trying with Firefox Beta 23--noticed this while changing from Nightly to Beta to try determining if something else I found is a bug or a Nightly "feature" :-)

[2013-07-18 13:41] sole opened #729 "Apps installed with the simulator dashboard don't appear on the phone until restarting"
I clicked on 'Push' to install an app from the Dasboard onto the phone.

After a little while a message on the phone says it was installed. But I couldn't find it anywhere (this was the first app I installed).

I restarted the phone and then the app was there.

[2013-07-18 19:02] kumar303 commented on #715
ohhh, I see now. I'll try building one and see how it goes. Thanks.

[2013-07-18 20:49] #675 closed, assigned to nobody

[2013-07-18 21:16] mykmelez commented on #719
@blacharnia I'm sorry to hear about the problem! However, it sounds like a bug in B2G Desktop rather than a bug in the Simulator, which doesn't use the B2G Desktop 25 builds that you appear to be downloading and executing. In particular, it sounds like [bug 849755](https://bugzilla.mozilla.org/show_bug.cgi?id=849755). Based on the description in that bug report, there might be a workaround, althou

[2013-07-18 21:16] #719 closed, assigned to nobody

[2013-07-18 21:19] mykmelez commented on #718
Hi @Abhishek249, I'm sorry to hear you're having this problem. This doesn't sound like a Simulator issue, although it's hard to say for sure. Can you provide a reference to the source code of your app? We would need that to determine whether or not it's a Simulator issue. Also, have you tried pushing the app to a real device; and, if so, do the images show up on device?

[2013-07-18 21:19] mykmelez commented on #718
cc: @nickdesaulniers @digitarald

[2013-07-18 21:28] mykmelez commented on #714
Hi @miduga, thanks for the report! However, based on that crash report, it looks like this is actually a crash in Firefox, not the Simulator. It might be [bug 886096](https://bugzilla.mozilla.org/show_bug.cgi?id=886096), although it's hard to say. By any chance, did Mozilla's Crash Reporter appear after the crash? If so, you might be able to get more information about the crash by restarting Firef

[2013-07-18 21:28] #714 closed, assigned to nobody

[2013-07-18 21:38] mykmelez commented on #711
@reinvented Thanks for the detailed and comprehensive bug report!

When @rpl initially implemented manifest validation, in #323, he pushed the manifest from Firefox to B2G for validation using B2G's PermissionsTable.jsm, which knows about the "mobilenetwork" permission. But @ochameau later changed the validator to use Firefox's version of that file in order to simplify the validation flow, and it

[2013-07-18 21:40] mykmelez commented on #710
@wbamberg You're the owner of the project in question. Do you have a preference for where to put these apps?

[2013-07-18 21:54] mykmelez commented on #712
I see this too, but I do see two errors in the Browser Console the first time I connect to an app and then click the Style Editor tab. Upon connecting to the app, I see:

Then, upon clicking the Style Editor tab, I get:

However, those errors appear even with an app that works! So it isn't clear that it's the cause of this problem.

@ochameau Do you have any ideas?

[2013-07-18 22:07] mykmelez commented on #698
It isn't platform-dependent, but it does depend on the version of the console. Since you filed this 15 days ago, and we released the new version of the Simulator, 4.0, on July 11, only 8 days ago, I suspect you were using the previous version, 3.0, which had a different console in it.

The new console is accessible by pressing the Connect button next to an app, and it correctly scrolls with new co

[2013-07-18 22:07] #698 closed, assigned to nobody

[2013-07-18 22:11] mykmelez commented on #696
B2G/Gaia displays that notification when it installs an app, and the Simulator uses B2G/Gaia's standard mechanism for (re)installing apps, which is why that notification appears. I agree that it's annoying, especially when you are rapidly developing an app and thus refreshing frequently! However, I'm not sure how to suppress it. Hmm, perhaps there's a way to reinstall an app without triggering it.

[2013-07-18 22:15] wbamberg commented on #710
I did originally think that they should live in the r2d2b2g repo, as I thought creating another top-level repo under the Mozilla organization seemed like overkill for such a little thing: having hundreds of tiny repos directly under Mozilla seems like it would be harder for the maintainers to manage (question: is there any best-practice for managing this? I see a lot of repos under Mozilla at the

[2013-07-18 22:18] mykmelez commented on #695
For a hosted app, the manifest does not need to be named manifest.webapp, and the Simulator accepts any name for the manifest, f.e.: http://areatweet.com/app.manifest

For a packaged app, however, the manifest _does_ need to be named manifest.webapp, per: https://developer.mozilla.org/en-US/docs/Web/Apps/Packaged_apps#Differences_from_hosted_apps

And it looks like you're developing a packaged app

[2013-07-18 22:25] mykmelez commented on #694
Hey, that looks really cool!

However, AMO has a [Beta Channel feature](https://addons.mozilla.org/en-us/developers/docs/policies/maintenance) that seems easier to integrate, since AMO takes care of generating the files that enable Firefox to automatically update users to the most recent preview build. I recently asked @kmaglione to fully review the Simulator, which he's going to do this week; aft

[2013-07-18 22:25] #694 closed, assigned to nobody

[2013-07-18 22:26] mykmelez commented on #693
Thanks for reporting this problem! We actually know about it already, it's #276. And unfortunately there isn't yet an easy fix. But watch that issue to track our progress fixing it!

[2013-07-18 22:26] #693 closed, assigned to nobody

[2013-07-18 22:29] mykmelez commented on #692
Thanks for reporting! This was actually reported already, and we're tracking it in #386. Please follow that issue to track our progress addressing it!

[2013-07-18 22:29] #692 closed, assigned to nobody

[2013-07-18 22:30] mykmelez commented on #690
@nickdesaulniers Are you still seeing this? If so, can you attach the _jetpack/r2d2b2g@mozilla.org/simple-storage/store.json_ file in your profile?

[2013-07-18 22:37] mykmelez commented on #685
#705 has fixed `redirects` support, but I'm going to leave this issue open to address the CSP problem.

[2013-07-18 22:40] mykmelez commented on #684
Yup, it would be useful for the Simulator to detect that an app is going to violate the CSP and warn the user about that. Unfortunately, I'm not sure how actually to do that, since a reliable check would probably require parsing the HTML source of the app. However, we might be able to satisfy the 80% case by simply looking for common strings suggesting a violation (like on\* handler attributes).

[2013-07-18 22:42] mykmelez commented on #729
This sounds like #452, so I'm going to guess it is! But please reopen if it turns out to be a different problem with the same symptom!

[2013-07-18 22:42] #729 closed, assigned to nobody

[2013-07-18 22:43] mykmelez commented on #728
This sounds a lot like #441! So I'm going to guess it is. But please reopen if it turns out to be a different problem!

[2013-07-18 22:43] #728 closed, assigned to nobody

[2013-07-18 22:44] mykmelez commented on #727
Indeed, sadly it's been broken for a while: #400. :-(

[2013-07-18 22:44] #727 closed, assigned to nobody

[2013-07-18 22:47] mykmelez commented on #725
Hi @postal2600, sorry to hear about this problem! The problem you're experiencing is #441, which is a bug in B2G that I fixed earlier this year, but the fix didn't make it onto some older phones. The workaround is to restart your device the first time you push a packaged app; you don't have to restart after every time you push the app, though; only the first time you push the app. Alternately, you

[2013-07-18 22:47] #725 closed, assigned to nobody

[2013-07-18 22:48] ochameau commented on #684
I think @jds2501 is just asking for runtime error to show up somehow, somewhere. The CSP component most likely throw some message in adb logcat, and if we are lucky, also in web console.
If these errors already appear in the web console, this request would be just about fixing issue #685.
Otherwise, I think someone, maybe from telefonica is working on a static parser for CSP.

[2013-07-18 23:21] mykmelez commented on #661
It works for me on Ubuntu 13.04 64-bit as well.

@sudheesh001 What version of the Simulator are you testing? Version 3.0 had limited support for touch event emulation, and some of the preview builds of 4.0 also didn't support touch events well. But the 4.0 release build should support them correctly. Can you test with the latest version and let me know if you still see the problem?

You can get 4.

[2013-07-18 23:23] mykmelez commented on #657
(I closed @nickdesaulniers's pull request, but I do think we should fix this issue in a different way, so I'm going to leave this issue open.)

[2013-07-18 23:27] mykmelez commented on #655
I would suggest that `make` should do `git submodule sync` and `git submodule update --init` automatically, except that this will wipe out uncommitted changes to submodules, which I wouldn't expect to happen while building.

Perhaps we can define a `make init` target that does those things, which will at least simplify the process somewhat.

[2013-07-18 23:29] mykmelez commented on #604
Closing due to lack of needed info. But please reopen if you can provide it!

[2013-07-18 23:29] #604 closed, assigned to nobody

[2013-07-18 23:30] mykmelez commented on #599
Ok, in that case I'll close it! But please reopen if you discover that it does cause a problem!

[2013-07-18 23:30] #599 closed, assigned to nobody

[2013-07-18 23:31] mykmelez commented on #596
@ochameau has been hacking on the webapps actor; perhaps he could include this in his changes (or has already done so).

[2013-07-18 23:31] mykmelez commented on #587
Closing due to lack of needed info; but please reopen if you can provide it!

[2013-07-18 23:31] #587 closed, assigned to nobody

[2013-07-18 23:32] mykmelez commented on #575
Closing due to lack of needed info; but please reopen if you can provide it!

[2013-07-18 23:32] #575 closed, assigned to nobody

[2013-07-18 23:35] mykmelez commented on #565
Hi @stefanostatuti, did the clean install make any difference? If not, you might try installing the 4.0 release build: https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/

I'm going to close this in the meantime, since I think we've fixed it. But please reopen if you can still reproduce it!

[2013-07-18 23:35] #565 closed, assigned to nobody

[2013-07-18 23:36] mykmelez commented on #547
Since this doesn't prevent you from developing an app, I'm going to close it. But please reopen it if that changes!

[2013-07-18 23:36] #547 closed, assigned to nobody

[2013-07-18 23:38] mykmelez commented on #538
Folks, I'm going to close this issue, as we haven't heard from y'all in a while. But please reopen if you're still experiencing the problem!

[2013-07-18 23:38] #538 closed, assigned to nobody

[2013-07-18 23:45] mykmelez commented on #521
We've gotten a couple [bad reviews on AMO](https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/reviews/) because of this:

Although this one doesn't mention the OS:

[2013-07-18 23:45] mykmelez commented on #499
A fix became available, and we took it!

[2013-07-18 23:45] #499 closed, assigned to nobody

[2013-07-19 00:37] mykmelez commented on #668
Fixed by #689!

[2013-07-19 00:37] #668 closed, assigned to potch

[2013-07-19 00:39] mykmelez commented on #261
Closing due to lack of info needed. But please reopen if you can provide it!

[2013-07-19 00:39] #261 closed, assigned to nobody

[2013-07-19 08:42] sole commented on #729
Yes, I'd say it sounds like #452. The Geeksphone I have got an update pretty much as soon as I turned it on, but the update brings the system to "just" 1.0.1.

But... why is #452 closed? If developers want to do apps for phones that people _use_ we need to be on 1.0.1
Is `adb shell "stop b2g && start b2g"` the interim solution?

[2013-07-19 08:44] sole commented on #728
Yes it sounds like it! Thanks for having a look, @mykmelez :)

[2013-07-19 09:45] midudev commented on #714
Okey! Thanks and keep up the good work!

[2013-07-19 10:14] Abhishek249 commented on #718
Hi @mykmelez , I didn't test the app to a real device because i don't have one.But here i provide you the source code of my app.
Secondly,neither the icons from the Building Blocks or from open source icon packs show up in the app.
One more problem i faced was that though i provided the code for scroll bar for div navigation, no scroll bars show up and some of the jquery functions ($(".records").s

[2013-07-19 13:57] sole opened #733 "How do I get a simulator with a custom Gaia version?"
I am trying to _guess_ how to do that using the bits of information at #715 but no matter what I try I still get a simulator that launches a gaia built on the 26/27th of June.

What I've done is:
- cloned the repo
- then cd to the dir, `git submodule init`, `git submodule update`
- cd into `gaia`, `git fetch origin`
- checked out `v1-train` branch as it seemed the most recent one
- `cd ..`
- `make

[2013-07-19 16:44] mykmelez commented on #733
Note that you can combine the latter two steps into `git submodule update --init`.

The _origin_ remote is a fork of the Gaia central repository in this case, since I sometimes need to modify Gaia to work in the Simulator. I update _v1-train_ on it pretty regularly, although you happen to have pulled it right at the tail end of a three-week lull in updates as I focused on getting Simulator v4 out

[2013-07-19 16:58] sole commented on #733
Thanks for taking the time explaining this!

So basically any version of gaia that I check out in the gaia directory _should_ be used by the simulator, right?

I added the upstream remote and merged the latest changes into my local branch. And did make clean, build and run.

However, I might be doing something wrong, because the settings still say this build identifier is 20120626... something
![s

[2013-07-19 18:04] mykmelez commented on #733
Right! After changing files in the gaia/ directory, you just have to `make profile` to build the changes. Also note that you can override Gaia settings/preferences without changing Gaia itself by modifying the files build/override-settings.json and build/override-prefs.js.

This is the B2G build identifier, not the Gaia one. I'm not sure how to find out the "version" of Gaia in the Simulator; I su

[2013-07-19 18:05] mykmelez commented on #733
Note that you should also `git pull` from the r2d2b2g/ directory to get the newer version of B2G (2013-07-17).

[2013-07-19 18:31] mykmelez commented on #729
#452 is closed because the bug is in B2G, not the Simulator; and the Simulator cannot work around the bug. The best thing the Simulator team can do is document the limitation, for example in the [Simulator docs on MDN](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator) (cc: @wbamberg for his consideration).

(FWIW, the B2G team can't do much more either, since they don't control

[2013-07-19 23:22] sole commented on #733
Thank you so much for this info! It is sorely needed--will document it somewhere else.

Can I ask you something else: what does the profile exactly store?

[2013-07-19 23:23] sole commented on #733
Also: I did what you said and effectively the B2G identifier changed to 17 of July. GREAT!

[2013-07-19 23:58] mykmelez commented on #733
cc: @wbamberg in case he has suggestions for where to document this!

@wbamberg this is definitely power-user info, since it presupposes that the user is able to clone a Git repo and build the project. But it isn't necessarily only for project contributors, so I'm not sure the project's [CONTRIBUTING.md](https://github.com/mozilla/r2d2b2g/blob/master/CONTRIBUTING.md) doc is the right place for it.

[2013-07-20 08:31] sole commented on #733
THANK YOU SO MUCH!!! Extremely useful.

By the way--at this stage pretty much all developers that find bugs should become "power users" as you call them. It's the best way to help overworked simulator and gaia developers to test bugs without asking silly questions once and once and once again

Here's a well deserved :beer: for @mykmelez !!

[2013-07-20 21:26] mcepl commented on #695
I see another problem here: when I **HAVE** manifest called manifest.webapp for _HOSTED_ app, simulator decides that my app is packaged, although it isn't. Is it a known bug?

[2013-07-21 00:54] nickdesaulniers commented on #695
@mcepl , you must be clicking "Add Directory" and then browsing to a local copy of the manifest.  To install an app as hosted, you must type in the URL of the manifest.webapp file then click "Add Manifest" ("Add URL" changes to "Add Manifest" if it validates the manifest).  Otherwise you can make an app out of any page by typing in a URL of any page that's not a valid manifest file and the simulat

[2013-07-21 05:59] ccarruitero commented on #718
The problem is you are defining wrong source for images, you have to use `/` instead `\`.

I think you can't use remote scripts, at least for package apps. See CSP https://developer.mozilla.org/en-US/docs/Web/Apps/CSP

[2013-07-21 18:41] mcepl commented on #695
@nickdesaulniers  could I add file:/// URL, e.g., file:///home/matej/projekty/hesla/hesla.webapp ?

[2013-07-22 16:54] sudheesh001 commented on #661
Fixed in v4.0 Works fine.

[2013-07-22 16:54] #661 closed, assigned to nobody

[2013-07-22 17:24] sudheesh001 opened #736 "Make a resolution for Firefox OS tablets"
Enhance the simulator by providing Firefox OS Tablet Simulator in addition to Phone.

[2013-07-22 17:29] sudheesh001 opened #737 "Firefox OS Simulator doesn't close when Dashboard page is closed."
#### Platform : Windows 8 Professional 64 bit
#### Browser : Aurora version 24.0a2
### Steps to reproduce:
1. Open resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html or
   Tools > WebDeveloper > Firefox OS Simulator.
2. Once the simulator starts, open the Amazon app.
3. Close the Dashboard screen on Firefox/Aurora
4. The Simulator doesn't quit. Daemon still keeps running on port

[2013-07-22 18:22] bkase commented on #441
I think what's happening is that adbd ends up in a bad state and then instead of restarting in this state, it doesn't actually close until a new adb server connects to it. When this happens, the adb server won't be able to find the phone until it is shutdown and started up again.

There are also cases where adbd ends up in a bad state and it never restarts despite turning on and off the adb server

[2013-07-22 19:13] jryans commented on #353
I've started to take a look at this, and it seems like the `@font-face` approach is not sufficient because it only covers the cases where a font-family is used explicitly (`font-family: MozTT`). There are quite a few places in Gaia core apps where the actual font used is one of the fallbacks (`sans-serif`, etc.). Perhaps there is some way an addon could interfere with the font resolution logic to

[2013-07-22 21:35] ochameau commented on #596
If I'm following actor's code correctly, we can already take control of app origin via the `id` sent during the app install request: http://mxr.mozilla.org/mozilla-central/source/toolkit/devtools/server/actors/webapps.js#212
That doesn't take automatic care of origin app manifest attribute, but can be used on client side to set a custom one. At the end, it would be better to support manifest origi

[2013-07-22 21:38] fabricedesre commented on #596
I think we can keep the 'id' sent during app install, and override it if an origin property is specified in the manifest.

[2013-07-23 18:49] mattbasta opened #738 "Remote packaged apps cannot be added"
You cannot add a packaged app to the simulator given a minifest URL:

https://inferno.paas.allizom.org/minifest

[2013-07-23 23:15] anefzaoui opened #739 "Having a separate build with Gaia from Master branch"
Aside from the builds on the FTP, I would like to use the capabilities of the Simulator whith Gaia's Master branch builds ? :) I'm not saying we should publish it on addons.mozilla.org, just for the sake of working on latest Gaia :) Thank you.

[2013-07-24 21:14] mykmelez commented on #715
@kumar303 how did it go?

[2013-07-24 23:16] flaki opened #741 "IndexedDB quota in simulator doesn't represent device constraints"
It seems that the Simulator limits the quantity/size of data that can be added to the indexedDB storage whereas Firefox OS devices does not seem to have these kind of limitations.

Refer to [this stackoverflow question for more info](http://stackoverflow.com/a/17818571/1178775).

[2013-07-24 23:37] nikhilm commented on #724
Turns out its not the prefs that are causing a problem, but bug 856495 which hasn't been uplifted to b2g18.

[2013-07-25 17:37] mykmelez commented on #724
I built and pushed B2G builds with the fix for bug 856495, then I updated the Simulator to use the new builds and tested with @nikhilm's simplepush-test-app, which appeared to work as expected. So this has been fixed, and the fix will make it into the Simulator preview builds I spin later today.

[2013-07-25 17:37] #724 closed, assigned to nobody

[2013-07-25 17:38] nikhilm commented on #724
Thanks @mykmelez !

[2013-07-25 19:30] zalun opened #743 "Make Simulator callable from a website"
I'd like to call the Simulator with the link to the manifest.
That would make a great testing tool for jsFiddle users (manifest is currently generated - add /webapp.manifest to the URL, like in http://jsfiddle.net/zalun/AbMUa/manifest.webapp)

[2013-07-26 00:23] ccarruitero commented on #739
The ftp build is b2g not gaia.

r2d2b2g use gaia repo from @mykmelez, what is a fork of mozilla-b2g.
You can moving to diferent branch using `git checkout` command
but if you want to use mozilla-b2g repo you need add new remote, fetch it, and then merge this in your current branch. Something like this:

[code]

You can found more details in #733

[2013-07-27 23:45] nickdesaulniers opened #748 "[Receipts] fix manifest_url API parameter for packaged apps."
See [this comment](https://bugzilla.mozilla.org/show_bug.cgi?id=867282#c1).

[2013-07-27 23:47] nickdesaulniers commented on #743
I think this could be done if we checked for query string parameters that were passed to a window.open call with "resource://[simulator...]"

[2013-07-27 23:50] nickdesaulniers commented on #690
Closing, since a reinstall fixed the issue.

[2013-07-27 23:50] #690 closed, assigned to nobody

[2013-07-29 00:13] zalun commented on #743
It could be supported with adding some parameter to window. So website would recognize Simulator is installed. We had it for AddonsBuilder.

[2013-07-29 19:06] jds2501 opened #749 "Trying to reload the simulator dashboard page and trying to add a valid packaged app will fail"
STR
1. Load the Firefox OS Simulator
2. Reload resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html
3. Try adding a valid packaged app manifest.webapp

Expected

The app should be able to be added.

Actual

The app fails to be added. If I reload the page again, I see the following error:

Error updating cached Manifest: TypeError: this.worker is null

[2013-07-29 21:18] nickdesaulniers opened #750 "window.locationbar.visible discrepency from device"
STR:
1. Add http://www.hemmings.com/hemmings.webapp to dashboard
2. Push to device
3. Open app on device
4. Click on any "Cars for sale" icons
5. Notice back button at top of page (added by checking if window.locationbar.visible)
6. Open app in simulator
7. Click on any "Cars for sale" icons

Expected:
Back button at top of page

Actual:
No back button

I think this shows a discrepancy between the

[2013-07-29 21:28] nickdesaulniers commented on #750
nvm fixed in source

[2013-07-29 21:28] #750 closed, assigned to nobody

[2013-07-30 01:04] bkase commented on #748
`make test TEST=test-receipts` hangs right now. Is it because of this bug?

[2013-07-30 16:11] nickdesaulniers commented on #748
could be, haven't investigated yet

[2013-07-31 20:19] mykmelez commented on #707
It looks like the specific other test script that _receipts_ depends on is _main_, since the tests don't hang when both of those are run via `make test TEST='main\|receipts'`.

@nickdesaulniers Have you made any progress on this?

cc: @bkase

[2013-07-31 20:23] nickdesaulniers commented on #707
Haven't looked into it yet, been swamped with partner questions.

[2013-07-31 20:26] nickdesaulniers commented on #707
[code]

^^^ When I run `make test`, but I do see `make test TEST=test-receipts` hanging for a different reason.

[2013-07-31 20:38] nickdesaulniers commented on #707
So the [window reference](https://github.com/mozilla/r2d2b2g/blob/master/addon/test/test-receipts.js#L91) is not [posting messages](https://github.com/mozilla/r2d2b2g/blob/master/addon/test/test-receipts.js#L109) to the [simulator](https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/simulator.js#L1406).

[2013-07-31 20:45] mykmelez commented on #707
This happens when the Simulator is running and has loaded libadb in another Firefox process (f.e. your main Firefox process). The workaround is to quit that process. (Not sure what the fix is, but @bkase is going to make the error message more recognizable in the meantime.)

[2013-07-31 21:38] fwenzel opened #758 "Add and open a webapp from the command line"
Use case is the following: For the Apache Cordova integration, there is a standard set of CLI commands that do something useful for all platforms. For "cordova emulate firefoxos", we would like to take the project as-is and pop it open in the Simulator.

A possible and fairly light-weight option would be to hand Firefox the Simulator's `resource://` URL with `?manifest=/Users/.../webapp.manifest`

[2013-07-31 21:40] fwenzel commented on #758
I think @nickdesaulniers volunteered to implement this :)

[2013-07-31 22:00] nickdesaulniers commented on #758
I think this can be separated into two issues:
1. Opening a manifest from a querystring parameter.
2. Running the simulator from the command line.

[2013-07-31 23:40] nickdesaulniers commented on #758
Part 1 is #743

[2013-08-01 02:05] bkase opened #760 "ADB in make test"
- [x] Tests pass on Mac and Linux if ADB is already open in a background process
- [x] Better error message if libadb is open in different Firefox profile
- [x] Fix crash on Windows with test-receipts (waiting on #757, hopefully it's related)

It seems like the tests are very interdependent. The current _test-z-adb.js_ executes `ADB._startAdbInBackground()` which exploits https://bugzilla.mozilla.

[2013-08-01 16:12] nickdesaulniers commented on #707
So test-main requires main.js, which is what my test depends on.  Requiring main a second time exposes the socket error because an instance of the simulator is created for each require.  What's unfortunate is that the side effects of requiring main.js are not limited to a single test file.  @bkase suggested moving all test cases that require main into test-main.  It might be possible to improve th

[2013-08-01 16:39] #726 closed, assigned to potch

[2013-08-01 17:04] nickdesaulniers commented on #748
Just tested this today, nothing broken.  Might not be live yet in production.

[2013-08-01 18:40] nickdesaulniers commented on #743
@zalun , that's an awesome idea!  That would enable devs to have an 'open in simulator button' (in the same vein as an install button) enabled by feature detection.

On a side note, should we try to support multiple manifest URLs, that way you can share a link to a simulator prepopulated with apps?

[2013-08-01 18:41] iFadey opened #761 "Bluetooth not working"
I am trying to initiate Bluetooth transfer using Web Activities but it looks like Bluetooth app is not working on the simulator. Even I tried using Bluetooth from Gallery app and same thing happens. It only show a dark blank screen and that's it.

Also I tried it on Geeksphone Keon. It looks like the real device is also giving error
"Bluetooth file transfer failed. Check that the Bluetooth setting

[2013-08-01 19:14] mattbasta opened #762 "Include marketplace-dev certs with simulator"
It would be incredibly handy to have -dev certs pre-installed in the simulator's B2G build. This would make the simulator much more closely match what QA uses to test the Marketplace.

cc @potch

[2013-08-01 23:39] bkase commented on #760
I'm going to wait to see what happens with #757 before continuing to explore the other two test bugs. I think that fixing #757 will make these bugs easier to fix.

[2013-08-02 16:20] mykmelez commented on #761
Hi @iFadey. Unfortunately the Simulator doesn't yet simulate bluetooth. See #393 for a bit more info.

[2013-08-02 16:20] #761 closed, assigned to nobody

[2013-08-02 17:58] mykmelez opened #766 "clean up obsolete files and build objects in android-tools"
Over in pull #744, I noted that we no longer need android-tools/include/_.dll, but those didn't end up getting removed in that pull. We should remove them along with any other files in that directory that are no longer necessary (AdbWin_Api.*? zlib?).

Also, `make adb` on Windows produces a file that isn't ignored:

[code]

And `make clean` on Windows doesn't clean up all build products:

[code]

[2013-08-04 23:26] Rudloff opened #772 "Simulator menu is not there on Firefox 22.0"
With Firefox 25.0a1 (Nightly), the menu is there but not with Firefox 22.0.

[2013-08-04 23:59] Rudloff commented on #772
I have reinstalled the extension and it works now, sorry.

[2013-08-04 23:59] #772 closed, assigned to nobody

[2013-08-05 03:10] harthur opened #773 "Add current web console actors"
The web console actors from 18 are pretty incompatible with the current set of devtools. Try evaling "window" in the console after connecting to an app, for example. You'll get "object undefined" and won't be able to inspect it.

We should add the new actors to prosthesis: https://github.com/mozilla/mozilla-central/blob/master/toolkit/devtools/server/actors/webconsole.js

[2013-08-05 16:04] mykmelez commented on #773
cc: @ochameau, although I'm not sure if he's looking at his GitHub mail these days. :-/

[2013-08-05 16:52] ochameau commented on #773
Actually, I see some in middle of tons of github mails ;)

I thought I fixed that `object undefined` issue in mozilla-central (in client code).
https://bugzilla.mozilla.org/show_bug.cgi?id=889838
Have you tried with firefox nightly?
Or may be I fixed something else, but not that particular bug.

If these fixes are not enough, I think we should uplift webconsole to our m-c fork more than ship a cop

[2013-08-05 16:53] ochameau commented on #773
One more sustainable option would be to support multiple gecko branches and promote a 1.2/master simulator version!

[2013-08-05 22:27] #707 closed, assigned to nickdesaulniers

[2013-08-06 21:27] #760 closed, assigned to nobody

[2013-08-07 00:14] nickdesaulniers opened #776 "Package apps not refreshing"
Something strange is happening with packaged apps. I'm not able to reload them properly using cmd+r or the refresh button.  Regression.

STR:
1. install a packaged app
2. open packaged app in sim
3. modify + save assets
4. cmd+r or Refresh button

expected: updated assets
actual: old assets

This is while the simulator is running.  Otherwise, I have to shut down the simulator, and click refresh on

[2013-08-07 16:35] nickdesaulniers opened #777 "Prompt user if they wish to reinstall app"
Let's say I already have an app added to dashboard, doesn't matter if it's packaged/hosted/generated, if I re-add it, it will automatically over write the existing app.  Should we prompt the user if they want to over write the app first?  This may be a non issue.  What are some others' thoughts?

[2013-08-07 17:18] nickdesaulniers commented on #743
Blocking issue: security error for non resource page to load a resource url.

[2013-08-07 17:21] nickdesaulniers opened #778 "Add ability to support sdcard device storage API"
Idea: pick a default dir or allow user to choose dir to support device api for sdcard storage.  Currently calls the on error cb with a DOMError.

[2013-08-07 18:24] iFadey commented on #393
From above discussion, I understood it's not simulated yet. I am building an app that require client/server kind of communication using Bluetooth API. Again from the discussion, Kyle mentioned RFCOMM is not supported which I know can provide client/server kind of two-way communication.

I have three questions:

1) Is there an alternate to RFCOMM in Firefox OS which can help us develop same kind of

[2013-08-07 18:33] qdot commented on #393
Currently, there's no way for non-certified apps (certified apps are signed and usually ship with the phone os) to access Bluetooth. While that's slated to change at some point in the future, it's not in the timeline before v1.2, which is as far out as we have scheduled at the moment. There's also no API available to do what you're looking for yet, though once again, that functionality is planned

[2013-08-07 19:16] #766 closed, assigned to bkase

[2013-08-07 20:12] iFadey commented on #393
Ok thanks for the info :)

[2013-08-07 20:47] mykmelez opened #779 "tests think device isn't connected or fail w/"Device not connected""
I'm seeing strange test ADB behavior with a device connected.  The test script sees the connected device but then decides that it isn't connected, so it skips the connected device tests:

[code]

After looking at the code, the fix seemed pretty obvious:

[code]

And that does fix the problem; but it exposes test failures:

[code]

cc: @bkase

[2013-08-07 23:40] nickdesaulniers commented on #737
I _thought_ this would be an easy fix; just try to toggle the sim onbeforeunload, but it doesn't look like window.postmessage is working at that time.

[2013-08-08 08:43] ochameau commented on #737
Weird that it doesn't work onbeforeunload...
May be we could listen for worker destroy event in main.js?

[2013-08-08 17:25] nickdesaulniers commented on #737
[This](https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/main.js#L122) looks like a bug.

[2013-08-08 17:29] nickdesaulniers commented on #737
Oh, that block just makes sure to close the simulator process when ALL tabs are closed.

[2013-08-08 17:53] sudheesh001 commented on #737
Wouldn't it be better if the condition uses the URL instead of the title ? Maybe something like

[code]

In this case even if someone uses the simulator code to rename the title to something other than "Simulator Dashboard - Firefox OS" closing would still terminate the Simulator.

[2013-08-08 18:00] nickdesaulniers commented on #737
Alex's [comment](https://github.com/mozilla/r2d2b2g/issues/737#issuecomment-22310192) is a less brittle solution.  That way the title and resource URI can change and this will still work.

[2013-08-08 18:17] nickdesaulniers commented on #748
I don't think this is an issue.

[2013-08-08 18:17] #748 closed, assigned to nickdesaulniers

[2013-08-08 21:43] mykmelez commented on #779
After the most recent round of fixes, I can no longer reproduce!

[2013-08-08 21:43] #779 closed, assigned to nobody

[2013-08-08 21:44] bkase opened #782 "Windows XP crashes when ADB starts up"
Windows XP crashes when ADB starts up. The following is an explanation and suggested solution to the problem.
### The Problem

Apparently, Windows XP [doesn't like it when you use thread local storage](http://stackoverflow.com/questions/5194573/crash-using-variables-declared-declspecthread). Unfortunately, ADB uses thread local storage to ensure that JavaScript callbacks are called on the same thr

[2013-08-09 16:44] ghost commented on #777
I guess it is always better to notify if someone is trying to re-insall an app.

[2013-08-09 21:24] mykmelez opened #784 "test run skips "with phone" tests if libadb already loaded in another process, even though device connected"
When running tests with a device connected while another process has loaded libadb, tests report that a device is connected but then skip all ADB tests:

[code]

It seems like they shouldn't skip the "with phone" tests if a "device is plugged in."

cc: @bkase

[2013-08-09 22:08] bkase commented on #784
#763 should fix this (one of the tests will fail with a message letting you know to close the other profile first)

[2013-08-09 22:40] mykmelez commented on #784
With #763, this seems like not such a problem, or perhaps even the right behavior. So closing it!

[2013-08-09 22:40] #784 closed, assigned to nobody

[2013-08-09 23:59] digitarald opened #787 "FirefoxOS wordmark is pixelated"
@brendandahl pointed out that the logo looks shopped, he could tell from some of the pixels and from seeing quite a few shops in his time.

![Pixels Logo](http://new.tinygrab.com/a35662ef837d0fad6c33623ed54338a0ddb53e0325.png)

Maybe a bad checkbox during exporting from the image editor, but it seems to differ greatly between HDPI and MDPI resolution.

[2013-08-10 00:02] brendandahl opened #788 "Warn if remote debugging is not enabled."
First time hooking the phone up to the simulator...
1) Device showed up as connected
2) Got a timeout on trying to push an app
3) Had to enable remote debugging on the phone

We should give a better error message than just the timeout.

[2013-08-10 14:49] vpaa opened #791 "I can't start the simulator."
Hi,

I installed the simulator from its website and I now see it in the list of Add-ons. However, there are only buttons like "Disable" and "Remove" and a link for more detailed information. However, there is no button or hint as to how to start the app again. If I go to the original website, it seems that I could re-install it, but surely there should be some other way to re-run an app than re-in

[2013-08-11 00:49] ccarruitero commented on #791
Hi,

For start the simulator you have to do in Tools/Web Developer/Firefox OS Simulator. You can found more details in https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Installing

[2013-08-11 09:40] prasaddhule commented on #150
The problem still exist with the new simulator 5.0pre3.. Any solutions??

[2013-08-11 20:13] lukasvan3l commented on #791
I'm afraid I have the same problem, on a mac. In the screenshot you can see the firefox page displaying my extensions, where the firefoxos simulator is enabled. But when I go to the tools, there's no menu item there :(

Is this a mac issue?

![screen shot 2013-08-11 at 22 10 38](https://f.cloud.github.com/assets/169870/944578/3647f7ae-02c2-11e3-9f82-e30781e0f0ee.png)

[2013-08-12 16:45] mykmelez commented on #788
Indeed!

(I thought we had an existing issue on this, but I just reviewed open issues, and I don't see one. #441 is related, but it isn't quite the same.)

[2013-08-12 16:51] mykmelez opened #793 "simulate camera"
As the reporter of [bug 897224](https://bugzilla.mozilla.org/show_bug.cgi?id=897224) notes, the Simulator should simulate the camera on a device, using the camera in the user's desktop, if available; otherwise potentially falling back to a virtual camera, i.e. letting the user specify an image to "take".

[2013-08-12 19:13] vpaa commented on #791
Thanks, ccarruitero, that solved the problem for me. My platform is Linux, so lukasvan3l's problem may be Mac-specific.

[2013-08-12 19:55] vpaa opened #794 "Pinch-zooming"
Hi,
Is it possible to pinch-zoom in Firefox OS simulator?  According to some third-party website, pinch-zooming is available in the device (funnily, such information is difficult to find on Mozilla's own websites on Firefox OS ... I guess because it is not a key selling point).

Anyway, it would be a nice-to-have feature if it is available in the real device. I guess it could be implemented either

[2013-08-13 00:11] harthur commented on #773
@ochameau with Nightly and Simulator 4.0 I get `Actor "conn1.consoleObj28" does not recognize the packet type "prototypeAndProperties"`.

[2013-08-13 04:33] jhaar opened #795 "client cert support"
Just tried out the "E-Mail" app against my home Horde-based ActiveSync environment. Successfully logged in with standard https (after I used the web browser to add support for my home CA). Email hasn't sync'ed, but that's not what I'm writing about

I then tried adding an account for our work ActivSync (Exchange 2010) environment - which is protected by a requirement for client certs. IPhones, And

[2013-08-13 16:46] fwenzel commented on #758
@nickdesaulniers did you have a chance to take a look? :)

[2013-08-13 17:03] nickdesaulniers commented on #758
@fwenzel , yeah my initial solution won't work, see the discussion in #770 .  We'll probably have to whitelist sites using the Pagemod add-on SDK.

For part two, you can't run firefox from the command AND pass it the resource url; it won't open the simulator dashboard (but it would open an HTTP based URI).  There might be a way to run the add-on if you knew where it was (which is platform specific

[2013-08-13 18:36] yamatt opened #796 "Opening Here Maps from app menu doesn't load and causes app icons to go in to move mode"
# Process
- Load up the simulator and flick to the right so the list of apps are displayed (not the marketplace).
- Click on 'HERE maps' and it comes up with a list of files in the app rather than loading the app
- Clicking the home button causes the HERE Maps icon to display like it has been dragged and one time it ended up in the mode where you can remove icons and move them around.
# System
- D

[2013-08-13 19:22] harthur commented on #773
Anything I could do to get the all the latest actors working in the next Simulator, let me know.

[2013-08-13 20:15] #787 closed, assigned to nobody

[2013-08-15 21:39] raphaelsaunier opened #797 "File not found error on Mac OS"
After several attempts at loading different apps from the directories they're in, I keep getting _File not found_ errors, probably because of a missing directory inside `~/Library/Caches/TemporaryItems/b2g/` (c.f. screenshot below).

Please let me know if this is a known bug or if there is any way I can provide you more with more details about the error.

**Firefox Nightly build:** 26.0a1 (2013-08

[2013-08-17 04:57] ccarruitero commented on #720
I think this is because sms permission is for certified apps and simulator don't support certified apps.
https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Simulator-specific_warnings

[2013-08-17 08:29] ghost opened #798 "Programmatic Reload of App"
I came up with [this hack which allows "live reload"](http://scratchpaper.tk/blog/hot-reload-on-firefoxos-simulator/) of the code in FirefoxOS Simulator by setting up Grunt to watch over the files of the app and if changes occur, have xdotool to grab the simulator and send `CTRL+R` to the window. Basically, it's like doing [LiveReload](http://livereload.com/). It's a bit hackish and it reloads the

[2013-08-17 12:27] rohit-wadhwa opened #799 "Sound and Music not play."
It is very useful if we are also able to get the notification sound and other player sound which is currently not working. Player notable to play any sound and no notification sound is listen.
![sound](https://f.cloud.github.com/assets/2290963/980993/a6b3c7a0-0738-11e3-88d2-2605fb0e0275.png)

[2013-08-20 03:41] rodmoreno opened #801 "I do not recognize the device"
I am currently testing (and developing) Windows 8.1 Preview, and I already have two devices Firefox OS (one ZTE Open and GeeksPhone Keon), the thing is that the simulator did not recognize any device.

Now install the necessary drivers, following Mozilla tutorials and instructions for Windows 8, it still does not recognize me and therefore I can not do push for my applications.

He already tried t

[2013-08-20 16:13] jryans commented on #773
@ochameau Let's talk more about how I could help with this. It sounds like another good actor issue to resolve.

[2013-08-20 21:09] harthur opened #802 "Way to set Simulator to listen on a specific port"
Right now these are my hacky instructions for connecting to Simulator: https://github.com/harthur/fxconsole#firefoxos-simulator.

There should be a way to get Simulator to listen on a specific port. Either in the Simulator UI, or in the UI before you start the Simulator.

[2013-08-20 23:48] rpl commented on #802
I propose (and just pushed a proposed pullrequest ;-)) a gcli command to help the user to detect the simulator debugger port more easily.

extending this gcli command with an optional parameter to set a specific port is not too complicated, but probably it's risky because the simulator windows is started and stopped frequently by the user and we need to be sure the port we are going to use is not

[2013-08-21 17:33] jryans commented on #733
@mykmelez: Probably fine to close this issue, since the question has been answered?

[2013-08-21 17:38] jryans commented on #738
@mattbasta can you try this again? It works for me if I use that URL in the simulator and then click "Add Manifest".

[2013-08-21 17:39] sole commented on #733
Yes guys, sorry. Should have closed it myself. Will do it right now!

[2013-08-21 17:39] #733 closed, assigned to nobody

[2013-08-21 17:46] jryans commented on #83
@mykmelez: Is this a duplicate of issue #28?

[2013-08-21 18:42] jryans opened #804 "Expand fake geolocation to set more properties"
Right now, we only simulate the `latitude` and `longitude`, but there are other geolocation [properties](https://developer.mozilla.org/en-US/docs/WebAPI/Using_geolocation#Describing_a_position) we should help with too:
- altitude
- accuracy
- altitudeAccuracy
- heading
- speed

[2013-08-21 18:45] mattbasta commented on #738
Doing that lists the app as a hosted app (it's a packaged app). Opening the app in the simulator yields the message "Cannot GET /index.html" (probably the response from the server).

The simulator does not seem to recognize that it's a packaged app and download the package.

[2013-08-21 19:25] mykmelez commented on #83
It's actually a different issue, as this one is about addon installation, while that one is about the addon load time during Firefox startup.

[2013-08-21 21:33] mykmelez commented on #802
I think it's ok to give power users the ability to specify the port. Presumably they will be able to manage the risk. But I wouldn't want to expose the feature to regular users.

So I could imagine making it a hidden pref that a user sets with about:config. I could also imagine using GCLI for it, either via a command like _debuggerport_ (although I would simplify this to _port_) that sets the port

[2013-08-21 22:12] mykmelez commented on #802
@harthur Trying to make sure I understand the use case… would you want to set the port:
1. each time you run the Simulator;
2. once for each Firefox session (even if you restart the Simulator multiple times during that session);
3. just once, after which it persists across Firefox sessions.

[2013-08-21 22:37] harthur commented on #802
@mykmelez I think my vision of it was once per Simulator run, as Firefox does with the `listen` command.

But, if Simulator is always going to be listening on some port anyways, I think setting it to always listen on a specific port, across Firefox sessions, would be great. I believe that's what Firefox for Android does with and `about:config` pref.

@rpl I'd want to be able to set the port for su

[2013-08-21 22:45] rpl commented on #802
@harthur I've updated my proposed pull request #803 and now there are 2 gcli changes:
- "firefoxos port" show the port the simulator is listening on
- "firefoxos start PORT" start the simulator on a specific port (and it doesn't persist in next runs)
  how it looks to you?

[2013-08-22 06:08] shuhaowu opened #807 "Checkboxes from building firefox os does not work"
I'm talking about http://buildingfirefoxos.com/building-blocks/switches.html along with http://buildingfirefoxos.com/building-blocks/lists.html

You might need to put label class="pack-checkbox" in order for the list view to work.

[2013-08-22 15:46] geomaster opened #808 "Touch emulation possibly broken (leaflet.js issue)"
## Description

With the latest stable release of Firefox OS Simulator, and also with a freshly-downloaded preview release for Windows, **leaflet.js**, a very popular Javascript library for rendering interactive maps (strongly focusing on mobile use) has severe touch interaction issues with the Simulator. Namely, tapping markers and other overlays in order to open a popup rarely works fine: the ma

[2013-08-22 19:43] mykmelez commented on #758
I mentioned to @nickdesaulniers that it might be possible to use the xremote feature of Firefox to send it a command that the addon processes. The addon would need to add an xremote command handler to Firefox, which I'm not sure how to do. And xremote would then have to work as expected (which it did on Windows and Linux, the last time I checked; but Mac seemed busted). So I'm not sure how feasibl

[2013-08-24 15:22] srinivasateja opened #809 "firefox OS simulator 4.0 add-on showing error in downloading in the firefox browser."
i started downloading firefox OS simulator add-on in the browser.It downloaded completely but at last it showed me an error displaying download error and some plug ins are not enabled in my browser.i am using windows-8 operating system currently... please tell me how to overcome this problem..

[2013-08-24 17:01] fczuardi opened #810 "Unable to fetch in submodule path 'addon/packages/gcli'"
I am trying to follow the README instructions to hack on r2d2b2g code locally but on the second step I got an error. Below is a copy of the messages:

[code]

[code]

[2013-08-25 20:23] simiula opened #811 "Why permissions are to set manually inside the simulator"
The simulator does 'turn on' the permissions ("device-storage:pictures","storage") automatically...Is inside as developer I have to set manually everyy time that I need to delete the app and re-install.

[2013-08-25 20:25] simiula opened #812 "Refresh page not reload the index.html"
I have a MacBook Retina. Every change I do on the index.html is not updated...I have to quit the simulator and run again and in some case delete the app and restart it...

[2013-08-26 12:32] soumenganguly opened #813 "Package Build failed."
Hi
The build process encounters a fatal error while updating the submodule packages.According to the steps given in the README file,git initializes the submodule packages but when it tries to update those packages via --git submodule update-- it encounters an error:Repository not found ,while cloning a repo into the submodule path
addon/packages/gcli.Apparently this could be because git fails to i

[2013-08-26 13:39] #810 closed, assigned to nobody

[2013-08-26 13:55] jryans commented on #813
Hmm, maybe I had to repeat the word "fixes" for GitHub to figure it out... In any case, we should be able to close this now.

[2013-08-26 13:57] #813 closed, assigned to nobody

[2013-08-26 17:32] fwenzel commented on #758
I am both in awe of and disturbed by an interface whose documentation is on www-archive ;)

[2013-08-26 20:00] jryans commented on #773
I spent some time attempting this in my [webconsole-actor](https://github.com/jryans/r2d2b2g/tree/webconsole-actor) branch, but I wasn't able get a `window` value that the b2g18 Debugger API would accept. This is after removing all arrow functions, and trying to glue things back together given the code present in 18, but using the new actor which doesn't expect that environment.

The new actor see

[2013-08-26 20:58] ochameau commented on #773
+1, we should either:
- enforce people working on devtools to ensure backward compatibility to ensure that old server code to work with new client code, or,
- suggest people wanting to debug apps on older firefox runtime to use  an old simulator/app manager version.

Is there any other option or mitigation point?