[2013-02-11 20:05] aidosnet commented on #307
thanks for you answer, I tried again to reinstall the extensions. I never had a "Stop Script dialog" or  other error dialog during the installation, that continues without problems...but I don't have a menu item in the tools->web developer or a an item in the add-ons list...

[2013-02-11 20:11] wildfier commented on #247
Indeed you were right. I now works perfectly thank you.

[2013-02-11 20:28] mykmelez commented on #247
Great, I'm glad it works for you now! I'm going to leave this issue open to track the problem, since we'll want to figure out why it happens and fix the underlying problem.

[2013-02-11 22:07] digitarald commented on #299
Youtube on the phone works sadly very different, as the user agent is overridden and the video app is  used to stream the URL scheme that is usually used to trigger the youtube app intent on Android.

I wonder what that bug describes, @marcos635. Are you opening launching the video app from your app or opening youtube.com?

[2013-02-11 23:36] mykmelez opened #308 "updating all apps on addon update causes Simulator to start unexpectedly"
Updating an app causes the Simulator to start if it isn't already running. That's ok when the user triggers the update by pressing the app's Update button, since it's clear that the Simulator started as a result of the button press, and the user probably wants to test the app after updating it.

But it's a problem when an addon update triggers updating all apps, because it isn't clear why the Simu

[2013-02-12 10:19] mathroc opened #309 "Fullscreen mode hide Home button"
When an app use the Fullscreen API, the Home button disappear and we can only use the keyboard to escape Fullscreen

[2013-02-12 15:39] YamamotoYusuke opened #310 "Firefox OS SImulator could not work on windows 8"
I'm using Firefox OS Simulator 2.0 on FIrefox 18.0.2,  and windows8.
I could unlock the lockscreen, but couldn't swipe homescreen.
Then, I could tap the icon ( like browse icon ), but the app didn't launch.
I could only unlock the lockscreen.

Did FIrefox OS Simulator support for windows8?

Best regards.
Thanks.

[2013-02-12 16:32] mykmelez commented on #308
Witness: https://twitter.com/rik24d/status/301323026274852865

[2013-02-12 18:49] mykmelez opened #311 "packaged apps require icons property in manifest.webapp"
When I try to add a packaged app that doesn't specify the _icons_ property in its manifest, the Simulator throws an exception and fails to add the app:

[code]

The _icons_ property is optional, so the Simulator shouldn't assume it will be present.

[2013-02-13 01:32] robcee commented on #308
so that's what happened!

[2013-02-13 06:14] kumar303 commented on #308
Hah. I was so confused.

[2013-02-13 07:38] past opened #312 "Enhance orientation events simulation"
Issue #6 is a great first step, but it would be great if we could incorporate into the simulator something like this, as a more rich way to emulate various orientation events:
http://louisremi.github.com/orientation-devtool/

[2013-02-13 17:45] willbprog127 opened #313 "Firefox OS Simulator started up on its own"
While reading a story on a web-page, Firefox OS Simulator spontaneously launched!  I had not tried to launch it earlier, nor have I in quite a few days.  Was kinda creepy, actually.

My system info:

---

Firefox OS Simulator 2.0
Firefox: 18.0.2
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:18.0) Gecko/20100101 Firefox/18.0
Running on: Salix OS
Kernel: 3.2.29

[2013-02-13 17:48] willbprog127 commented on #308
Ah, okay, just filed an issue about this...will delete it (if I can)

[2013-02-13 17:49] willbprog127 commented on #313
Closed because another issue was filed about this.

[2013-02-13 17:49] #313 closed, assigned to nobody

[2013-02-13 17:53] rpl commented on #313
already tracked by issue #308

[2013-02-13 18:06] willbprog127 commented on #313
Hence the closure.  Thanks :-)

[2013-02-13 23:15] rpl commented on #271
should be fixed by #291
reopen if it's not fixed.

[2013-02-13 23:15] #271 closed, assigned to nobody

[2013-02-13 23:20] rpl commented on #244
@mykmelez this issue should be fixed now (all install/run/update/remove commands are already completely migrated to mozApps API)

[2013-02-13 23:22] rpl commented on #245
fixed by #304

I leave this issue open to add error reporting to the user,

[2013-02-13 23:29] mykmelez commented on #310
I don't yet have a Windows 8 installation, so I haven't tested the Simulator on Windows 8. Thus I'm not sure of the status of the Simulator on that OS. However, I have requested a license and installation media for the OS and will install it and test the Simulator on it once I receive it (ETA: one week).

[2013-02-13 23:50] mykmelez commented on #244
So say we all!

[2013-02-13 23:50] #244 closed, assigned to nobody

[2013-02-14 17:15] Jaxo opened #315 "Testing Privileged (packaged) app on Simulator 2.0"
2.0 is great, but...  how can I test my application which requires mozbrowser iframes?

[2013-02-15 01:05] mykmelez commented on #315
I think there's a permission you can declare in the "permissions" property of the manifest to enable them, perhaps "browser", which is one of the permissions the built-in browser app declares in [its manifest](https://github.com/mozilla-b2g/gaia/blob/master/apps/browser/manifest.webapp). But I haven't actually tested this to see if it works.

cc: @digitarald @nickdesaulniers and @rpl, who may know

[2013-02-15 01:14] digitarald commented on #315
`browser` permission is implicit for privileged apps. You just need to set your `type` to `privileged`, declare the `browser` permission and you should be good to go. Only certified apps can't be tested with the new installation flow.

[2013-02-16 02:10] mykmelez opened #317 "make `make run` reuse profile dir"
It's painful to develop with `make run` because the Firefox profile gets recreated each time. So I and other devs like @nickdesaulniers and @digitarald (not sure about @rpl) typically use `cfx` directly. So we should make `make run` reuse a profile directory by default, creating it if it doesn't already exist, something like a top-level `profile` directory that we add to .gitignore and delete on `

[2013-02-16 10:36] Jaxo commented on #315
(Ubuntu 12.04.1 32bits, Nightly 21.0a1 / 2013-02-15, Simulator 2.0)
1. installing a privileged app  on the simulator _using the dashboard_ works PERFECTLY
therefore, this issue is less important: anybody can test a privileged Application b4 to submit to the MarketPlace.
2. but my problem was that I followed what's described in "Testing packaged app installation" at https://developer.mozilla.org/en

[2013-02-17 12:40] YamamotoYusuke commented on #310
Hi mykmelez,

Thanks for your confirmation.
I'm waiting it that Firefox OS Simulator move on Windows8.

Thanks.

[2013-02-18 18:09] #317 closed, assigned to nobody

[2013-02-21 21:19] #308 closed, assigned to nobody

[2013-02-22 15:41] JosiahOne opened #324 "Can not clear the search field in the Everything.me screen."
Quite consistently, when you search and press enter in the Everything.me search field it does not allow you to clear the search field with the (x) button.

I can not be sure this is a simulator issue or part of the Firefox OS, but it should be investigated.

[2013-02-22 15:44] JosiahOne commented on #296
I believe this should be requested as part of the Firefox OS code itself. The simulator only "simulates" the OS. You can use this link to a file a bug. Be sure to set severity to "enhancement".

https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko

[2013-02-22 15:46] JosiahOne commented on #295
This should be requested as part of the actual Firefox OS source code. You can file a bug here,
https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko

This simulator only simulates the Firefox OS, changes like animated wallpaper can and should not be confined to a simulator. Use the link above and set severity to "enhancement".

Thanks,
Josiah Bruner.

[2013-02-22 23:56] #277 closed, assigned to nickdesaulniers

[2013-02-23 00:04] nickdesaulniers commented on #296
Looks like .gif's aren't supported for backgrounds ATM.

[2013-02-23 00:06] nickdesaulniers commented on #289
Can you please verify that you are running simulator v 2.0?
Go to about:addons -> extensions to get the version string.

[2013-02-23 09:43] kaimakes commented on #289
Yes, ill do that. But i think i have 2.0 anyway.
On Feb 23, 2013 12:06 AM, "Nick Desaulniers" notifications@github.com
wrote:

[2013-02-24 22:47] mcepl opened #329 "Cannot install to the Nightly running from $HOME directory"
I got a message "Firefox OS Simulator could not be installed because Nightly cannot modify the needed file". Is this the same bug or something else? It is weird, because I am running Nightly from a directory in $HOME (on Fedora/x86_64), so there shouldn't be any problem with writing anywhere.

Might be a duplicate of #307.

Errors in the JavaScript console are here
![installation-errors](https://f

[2013-02-25 00:43] mcepl commented on #329
[code]

[code]

[2013-02-25 00:50] rpl commented on #329
Sorry about the problem, but I'm glad to hear simulator v2 is now installed again! ;-)
It sounds like there was a file permission problem and firefox wasn't able to fully reinstall r2d2b2g xpi.

[2013-02-25 00:50] #329 closed, assigned to nobody

[2013-02-25 09:32] Just4FireFox opened #330 "You can see the clock in the background when you change the page"
Windows 7 Professional Service Pack 1
Firefox 18.0.2
FireFox OS Simulator 2.0

When I change the pageview from "Home" to one more right or from the right to another I can see the last numbers of the Clock / Kalendar of the home-pageview

![testest](https://f.cloud.github.com/assets/3692194/191247/442abf9a-7f2e-11e2-9c8a-298ca0f4e08e.png)

[2013-02-25 10:18] Just4FireFox commented on #330
I found something that could initiate this bug in Date&Time settings, the Time tag is way too long

![testestes](https://f.cloud.github.com/assets/3692194/191381/c0fc09d8-7f34-11e2-8deb-83a56a7e9d30.png)

[2013-02-25 17:20] nickdesaulniers commented on #330
Interesting, this may be a bug within the build for windows.  Trying this in Mac OSX:
![Screen Shot 2013-02-25 at 9 19 53 AM](https://f.cloud.github.com/assets/1823839/192865/b08b0b40-7f6f-11e2-835d-e80e9133ca8d.png)

[2013-02-25 17:27] nickdesaulniers commented on #306
This may be because the simulator doesn't always have the latest builds of B2G and Gaia, so it wouldn't surprise me if we just happened to take a snapshot during a regression.  In the meanwhile, can you push a dummy branch of the app you were testing with the bad appcache and link it here, for testing?

[2013-02-25 17:32] #24 closed, assigned to tofumatt

[2013-02-25 17:37] nickdesaulniers commented on #143
@pyalot WFM, can you verify with the most up to date build of the addon for [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)?

[2013-02-25 18:37] nickdesaulniers opened #331 "Add support for marionette tests"
https://developer.mozilla.org/en-US/docs/Marionette/Setup

It doesn't look like we can run Marionette yet in the simulator.  And it looks like you need a custom build of Firefox.  But maybe we can look into this more.  Marionette has some really nice features and it would be nice to unify the testing experience for developers.

[2013-02-25 18:38] mattbasta commented on #306
You can just use something like this:

http://badappcache.testmanifest.com/manifest.webapp

[2013-02-25 19:25] nickdesaulniers commented on #273
bump @mattbasta

[2013-02-25 21:06] nickdesaulniers commented on #324
Verified this is occurring in the simulator and not on device.
It probably has to do with using touch events as opposed to click events.

[2013-02-25 21:11] mattbasta commented on #273
This appears to be fixed in 2.0.

[2013-02-25 21:11] #273 closed, assigned to nobody

[2013-02-26 10:09] Just4FireFox commented on #330
I see you tested with the same Time zone, i tried this with many Regions and Cities but with the same result everytime. Maybe the timestamp for Windows 7 is wrong?

[2013-02-26 17:44] nickdesaulniers opened #332 "Add geolocation mock data support - initial longitude and latitude choice"
The user should be able to click a button on the bottom of the simulator window (as opposed to the addon window) next to the home button.  This should open a dialog external to the simulator window.  The dialog should have radio buttons that default to "use my current location", the second non-default choice to be "enter in a longitude and latitude coordinate pair", and then maybe in a future iter

[2013-02-26 17:47] mykmelez commented on #332
We might want to persist a selection location across Simulator sessions, but persisting for the current session is a good first step.

[2013-02-27 17:47] Chris2mop opened #333 "Date/time displayed as decimal numbers"
With the last module update, (to day Wed, feb 27)
The date/ time/gmt is displayed on the main window  (big characters) as:
6/43,27
20,13
18.4:00,01
What's wrong ?
(that was the Date/time when i created this post)

[2013-02-27 19:08] Pikkolo opened #334 "Installed the firefox os simulator on firefox linux - then on firefox windows. doesn't work on win"
Hello there :)

I have installed firefox os simulator on my linux distro on my pc. it worked perfect. then i have booted to win on my pc, setup firefox os simulator on firefox . it doesn't work. i click on the simulator stopped / running switch, but nothing happens.

Any hints ?

Thanks <3

[2013-02-28 03:05] rheschner opened #335 "Unable to make XMLHttpRequests with cached page"
I have a simple web application with one page that get some information from the server and then redirect to another page (to an iframe). To get this information I use ajax request (jquery). This page must be cached, with "manifest='cache.appcache' " in the HTML tag.
This works fine in Windows, Lunux and Android, but in the simulator it gives an error in this ajax request to server. I could't find

[2013-03-01 18:30] nickdesaulniers opened #336 "(Left or right) clicking an error in the console crashes prosthesis process"
STR:
1. Open addon
2. Enable error console checkbox
3. When the prosthesis process starts and the b2g and error console windows open, click a link to a particular source file listed in an error.
4. Wait a few seconds
Prosthesis crash

[2013-03-01 18:35] nickdesaulniers commented on #333
I wonder if this is related to #330? Can you post a screen shot and post your current locale settings?

[2013-03-01 21:57] mattbasta opened #337 "Packaged app install is completely broken"
Packaged apps can be installed from unagis but not the simulator.

See:

http://app-loader.appspot.com/4fca9

[2013-03-01 22:08] nickdesaulniers commented on #337
For reference, this occurs when installing an app through the browser using window.navigator.mozApps.install.  This occurs in the current release build, with the error (see attached image).  Note: this appears fixed in a build of the current source, which has yet been pushed to release, I'll see if maybe this was fixed in a recent bug.
![Screen Shot 2013-03-01 at 2 07 09 PM](https://f.cloud.github

[2013-03-01 23:03] nickdesaulniers commented on #337
Also fixed in preview builds.  This will get fixed once preview becomes release.

[2013-03-01 23:03] #337 closed, assigned to nobody

[2013-03-05 03:22] rpl commented on #6
fixed by #305
(it will be released in the next simulator preview build)

[2013-03-05 03:22] #6 closed, assigned to nobody

[2013-03-05 03:23] rpl commented on #7
fixed by #305
(it will be released in the next simulator preview build)

[2013-03-05 03:23] #7 closed, assigned to tofumatt

[2013-03-05 10:21] Vidhuran opened #342 "Not opening in Nightly"
Firefox OS option doesn't show up under the Web Developer menu in Nightly (22.0a1 (2013-03-04)) even though it shows up on normal Firefox.
On copying the resource URL in Nightly, the page shows up , but clicking on the "Stopped" button changes the button to "Running" but it remains disabled. Nothing shows up in selecting console option either.
![Nightly Error](https://f.cloud.github.com/assets/160

[2013-03-05 23:29] mykmelez opened #343 "remove unnecessary prosthesis/skin/ directory"
The prosthesis/skin/ directory is unnecessary, because we don't intend to support multiple skins for the Simulator, which is the only reason to have a skin/ directory instead of putting style files into the content/ directory.

So we should move all the style files to prosthesis/content/ and remove the prosthesis/skin/ directory.

[2013-03-06 10:18] nfroidure commented on #268
idem, has the same issue. The stderr :
(firefox:10269): Gtk-WARNING **: /usr/lib/gtk-2.0/2.10.0/engines/libclearlooks.so: mauvaise classe ELF : ELFCLASS64

(firefox:10269): Gtk-WARNING **: /usr/lib/gtk-2.0/2.10.0/engines/libclearlooks.so: mauvaise classe ELF : ELFCLASS64

(firefox:10269): Gtk-WARNING **: /usr/lib/gtk-2.0/2.10.0/engines/libclearlooks.so: mauvaise classe ELF : ELFCLASS64

(firefox:1

[2013-03-06 18:46] nickdesaulniers opened #346 "Cannot rotate when started within an app"
If you start the simulator into an app, then rotation is disabled and you need to go home, then back to the app to rotate it.  By start the simulator into an app I mean from the app list select run or update.

STR:
1. Open Firefox OS Simulator
2. Click on update (for an existing app, previously installed)
3. The Simulator should start with that app open, click rotate button

Expected:
Rotate butto

[2013-03-06 18:53] mykmelez commented on #346
@rpl

[2013-03-06 19:46] rpl commented on #346
@mykmelez @nickdesaulniers I'm looking into this:
it seems related to run an app during the b2g-desktop starting up process,
because it works correctly if b2g-desktop instance is already running.

[2013-03-06 21:12] mykmelez opened #348 "starting ADB displays console window on Windows"
On Windows, starting ADB opens a console window briefly to display a couple messages. That's quite unexpected and distracting. And it happens on Firefox startup, which is when we start ADB. We should start ADB later, not until we first display the Dashboard (and then perhaps shut it down when the Dashboard is closed). But regardless, we shouldn't display this console window when we start it up.

[2013-03-06 21:14] mykmelez opened #349 "wait until developer opens Dashboard to start ADB"
The addon starts ADB when Firefox first starts. But it doesn't need it until the Dashboard opens. So it should wait until then to start ADB. And possibly also halt it when the developer closes the Dashboard.

[2013-03-06 22:09] nickdesaulniers opened #351 "Manifest validation false positive for type: "web""
I have a packaged app that is of type web, meaning it needs no permissions.  This is valid according to [the app manifest mdn page](https://developer.mozilla.org/en-US/docs/Apps/Manifest#type).

I am getting a warning in the latest version of simulator, 3.0pre2.
![Screen Shot 2013-03-06 at 2 03 32 PM](https://f.cloud.github.com/assets/1823839/229809/83c102c6-86aa-11e2-9049-a873680e4d5c.png)

My ma

[2013-03-06 22:17] mykmelez commented on #351
@rpl

[2013-03-06 22:31] nickdesaulniers opened #352 "Refresh after clicking on an error does not display app list"
STR:
1. Start simulator
2. Install app with invalid manifest so that an error is reported
3. Click on the (X errors and X warnings)
4. refresh the page

Expected results:
Installed apps are re-listed

Actual results:
Installed apps are not re-listed

Looks like the apps are not re-listed when there's an empty fragment identifier on the end of the URL:
resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/

[2013-03-06 22:35] nickdesaulniers commented on #352
Should probably be preventing default when clicking on the anchor tags.  Good first bug.

[2013-03-06 23:21] mykmelez opened #353 "use native B2G fonts in Simulator"
@michaelwu and I chatted on IRC about this:

14:46:14 - mwu: myk: so one thing that I noticed on the simulator is that the fonts are a little off compared to the device
14:46:45 - mwu: our mostly full set of b2g fonts are at https://github.com/mozilla-b2g/moztt
14:46:58 - mwu: though moztt is going to be renamed at some point
14:47:26 - mwu: dunno if it's easy for you to stick some fonts in
14:47:

[2013-03-06 23:22] mykmelez commented on #352
@rpl

[2013-03-07 00:38] nickdesaulniers commented on #353
If they are simple .woff or .ttf files then you can do something a la:

[code]

well looks like a bunch of ttf files!

[code]

[2013-03-07 18:13] nickdesaulniers opened #356 "Geolocation: Default to custom, not current, coordinates"
This will help the addon pass review, the user/developer has to opt in to sharing their geolocation coordinates with the addon.

[2013-03-07 18:16] nickdesaulniers opened #357 "Geolocation: Do not fetch the current location until explicitly shared by user"

[2013-03-07 18:32] nickdesaulniers commented on #332
Big thanks to @rpl , I copied most of your code from the rotation button for the geolocation button.  It gave me a lot of inspiration.  Also @kanru, who did all of the work on the FakeGeolocationProvider!

[2013-03-07 21:20] nickdesaulniers opened #358 "Doorhanger for errors doesn't go away after fixing manifest validation errors"
After an invalid manifest fails validation (this saved my @$$, awesome!), the user/developer is notified by the red border around the app AND the yellow door hanger.  If I fix the app and update, the border is removed, but I have to acknowledge the doorhanger for it to go away.  Seems like error information is being presented twice.  Might be nice to pick one.

[2013-03-07 21:32] ztamizzen opened #359 "simulate DPI"
It would be nice to be able to change some settings, like resolution, orientation and DPI.
Actually that is what I want to be able to change.
I know it's possible if you run the simulator manually but I can't get it to work.

[2013-03-07 22:17] nickdesaulniers commented on #359
Orientation just landed.  Update to 3.0pre2

[2013-03-07 22:23] nickdesaulniers commented on #342
A new build was pushed 2 days ago.  Please remove the existing version through about:addons, then install the latest (3.0pre2) for [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi) to help us verify.

[2013-03-07 22:26] nickdesaulniers commented on #315
@mykmelez we need to update [this](https://developer.mozilla.org/en-US/docs/Apps/Packaged_apps) MDN page to reflect how much easier it is to install packaged apps now on device.  @Jaxo, please upgrade to the latest build which now supports push to device.  I'm closing this issue and will open a new one for updating the documentation.  Feel free to comment on the new one, or reopen this one if ther

[2013-03-07 22:26] #315 closed, assigned to nobody

[2013-03-07 22:28] nickdesaulniers opened #361 "Update MDN documentation"
[This](https://developer.mozilla.org/en-US/docs/Apps/Packaged_apps#Testing_packaged_app_installation) page could use an update.  Referencing Issue #315

[2013-03-07 22:30] nickdesaulniers commented on #330
@mykmelez , looks like a few issues are related to Windows.  Should we request a few licenses to investigate these futher?

[2013-03-07 22:31] nickdesaulniers commented on #309
@mathroc , do you have a test app we could use to verify real quick?

[2013-03-07 22:34] nickdesaulniers commented on #311
VERIFIED FIXED

[2013-03-07 22:34] #311 closed, assigned to nobody

[2013-03-07 22:36] nickdesaulniers commented on #307
@boscaini , is this still an issue with the latest version (3.0pre2) release 2 days ago?

[2013-03-07 22:44] nickdesaulniers commented on #335
When I try to login with this app installed I see "Não foi possível acessar a central de controle. Verifique sua conexão com a internet. Feche o aplicativo e tente novamente", which according to google translate means "Unable to access the control center. Check your internet connection. Close the application and try again."

I'd recommend listening for the [online event](https://developer.mozilla.

[2013-03-07 22:46] nickdesaulniers commented on #334
@Pikkolo , thanks for the feedback, every little bit helps!  Can you please try updating to the latest version that was released 2 days ago (3.0pre2) and helping us verify this issue?  We'd appreciate the help!

[2013-03-07 22:48] nickdesaulniers commented on #335
Also, this sounds like a dupe of #306

[2013-03-07 22:51] nickdesaulniers opened #362 "Clear the manifest field after clicking add manifest"
STR:
1. Open Simulator
2. Paste "http://badappcache.testmanifest.com/manifest.webapp" into "URL for page or manifest.webapp"
3. Click Add URL
4. App is installed

Expected:
Field "URL for page or manifest.webapp" to clear, displaying the placeholder again

Actual:
http://badappcache.testmanifest.com/manifest.webapp stays in field

[2013-03-07 22:54] nickdesaulniers commented on #296
Also for future reference:
https://bugzilla.mozilla.org/show_bug.cgi?id=837456
http://imgur.com/a/g78pE#0

[2013-03-07 23:01] nickdesaulniers commented on #294
@flakefrost , hey thanks for pointing this out.  Helping us track down issues is a great start to contributing!  Unfortunately I need help tracking this down, as I have not been able to reproduce.  Can you please update to the latest version of the simulator (3.0pre2), and reverify this issue, then post back here if you're still experiencing this issue, and if so what platform you are on.  That wo

[2013-03-07 23:09] nickdesaulniers commented on #296
Thanks for making this request! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks enhancement requests related to testing apps. It doesn't track other requests for Firefox OS. Report those in the Boot2Gecko issue tracker.

[2013-03-07 23:09] #296 closed, assigned to nobody

[2013-03-07 23:10] nickdesaulniers commented on #295
Thanks for making this request! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks enhancement requests related to testing apps. It doesn't track other requests for Firefox OS. Report those in the Boot2Gecko issue tracker.

[2013-03-07 23:10] #295 closed, assigned to nobody

[2013-03-07 23:11] nickdesaulniers commented on #233
Is this still an issue?  Maybe a different issue on proxy settings is necessary?

[2013-03-07 23:15] nickdesaulniers commented on #130
@shia86 , to find the proxy settings:
1. Start FFOS simulator
2. Open Settings app
3. Click Cellular & Data
4. Click Data Settings
5. Enter proxy credentials in HTTP proxy host & port.

If you can verify that this works, please let us know and close this issue.  Thanks!

[2013-03-07 23:17] nickdesaulniers commented on #283
I'm sorry but I do not fully understand the problem.  Can you please lay out clearer steps to reproduce?  Thanks!

[2013-03-08 01:11] rheschner commented on #335
Hi, thanks for the reply.

The issue #306 is about the installation, this one is another problem, nothing to do with the installation (the problem also happens when you access the informed "WebApp Page" directly).
The problem is when making a XHR yes, but the URL of this request is not cached, only the "WebApp Page" is cached.

I've created another page, its exaclty the same as the webapp.html, bu

[2013-03-08 04:40] shia86 commented on #130
Thanks.But I using a proxy in  localhost ,so I'm not sure if it's ok to add the 127.0.0.1 in proxy host.
When using the configure as seem as Foxyproxy , It seemed doesn't work in FFOS

Of course such occasion maybe a little strange ,so you can close this issue for convenience .

[2013-03-08 06:53] Pikkolo commented on #334
Hi :) I'll be afk until saturday night but for now i have updated the versions on both win and linux. result ? nothing works :(

[2013-03-08 08:49] Vidhuran commented on #342
It is fixed in the newer version (3.0pre2).

[2013-03-08 08:49] #342 closed, assigned to nobody

[2013-03-08 14:47] digitarald opened #363 "Logcat console for a connected device"
Using command-line logcat is painful and filtering even filtering down to Gecko logs mixes real Javascript Warning with CSS parsing logs.

The log could be shown as action when a device is connected. To allow further use of the dashboard, it should open as popup. Some filters with good defaults should lead to a just-works moment.

Assigning it for me for now, as I really want it. Input highly appr

[2013-03-08 15:05] Vidhuran opened #364 "Properties dictionary not being created correctly from the properties file"
The l10n.js file does not populate the properties dictionary gL10nData correctly. As a result of this, the value of the "#landing-clock" is not correct in the Home Screen.

Attached screenshot and error messages from the console log.

[17:00:56.317] [l10n] #shortTimeFormat is undefined.
[17:00:56.317] [l10n] #longDateFormat is undefined.
[17:00:56.318] [l10n] #weekday-5-long is undefined.
[17:00:5

[2013-03-08 15:13] digitarald opened #365 "Validation Result INVALID for just warnings"
The validator current marks the validation as failed when only 1 warning was found.

Warnings shouldn't mark validation failed.

On wording: Does something actually fail, or would it make more sense to label it "Invalid Manifest"? We still allow all actions on the app, it's a bit confusing.

[2013-03-08 16:28] mykmelez commented on #363
Might it be possible to reflect relevant logcat output into the Web Console? I'm hesitant to add yet another console interface, especially when the Web Console is already well-suited for the job and can be opened as either a popup or a frame at the bottom of the Dashboard page.

In fact, I'm hoping to reduce the number of console implementations from two to one, getting rid of the checkbox to open

[2013-03-08 17:16] nickdesaulniers commented on #342
@Vidhuran , thanks for verifying this for us!  Our team appreciates it!

[2013-03-08 23:06] digitarald opened #366 "Network Toggle"
Behold a new button for the simulator window: Network.

Toggle `navigator.onLine` and fire `online`/`offline` events. Eventually it should also actually cut off connection (if possible).

Spec: http://www.whatwg.org/specs/web-apps/current-work/#navigator.online

[2013-03-08 23:08] digitarald opened #367 "Network Toggle + Preferences v2"
Building on #366 .

Settings for connectivity `metered` and `bandwidth`

www.w3.org/TR/netinfo-api/

[2013-03-08 23:27] nickdesaulniers commented on #361
review? @mykmelez
I added [this](https://developer.mozilla.org/en-US/docs/Apps/Packaged_apps#Testing_packaged_app_installation_%28with_Simulator%29) section.  Wasn't there another step for linux?

[2013-03-08 23:31] nickdesaulniers commented on #361
Also, I think the following section, on installing sans simulator should just be deleted, since it's ridiculous to expect anyone to install apps that way.  Input, @mattbasta, @potch, @cvan?

[2013-03-09 00:08] mattbasta commented on #361
The page should be deleted, it's made redundant on the devhub.

[2013-03-09 00:09] nickdesaulniers commented on #364
This smells like a dupe of #330 and #333 .  I bet they are all related.

[2013-03-09 00:12] nickdesaulniers commented on #361
@mattbasta , I should probably also update the devhub?  Does anyone have permission to edit devhub?  Hmmm.  Yes it's duplicated [here](https://marketplace.firefox.com/developers/docs/packaged).  Should I contact someone in charge of MDN docs like John Karahalis and ask him to remove that page?

[2013-03-09 00:25] mattbasta commented on #361
Yeah, ask an MDNer to axe it. To update the devhub, just file a pull
request against [zamboni](https://github.com/mozilla/zamboni/tree/master/mkt/ecosystem/templates/ecosystem/) and I'll go ahead and merge it for you.

Also in the process, we're linking all of our CSP-related docs to
developer.mozilla.org/docs/Apps/CSP, so if you find any links to some other
CSP-related pages, just change them ove

[2013-03-09 00:28] nickdesaulniers commented on #364
@mykmelez ,  I wonder if we need to be overriding the b2g locale?  The errors logged show that they are only defined for locale codes ['ar', 'en-US', 'fr', and 'zh-TW'].

@Vidhuran , please open a firefox console and execute "navigator.language" and paste the results here.  I bet it has to do with a Firefox locale that the isn't defined in the B2G locales, and there's no sane defaults yet.

[2013-03-09 01:04] #352 closed, assigned to nobody

[2013-03-09 01:04] #351 closed, assigned to nobody

[2013-03-09 01:05] #332 closed, assigned to nickdesaulniers

[2013-03-09 01:10] nickdesaulniers commented on #361
https://github.com/mozilla/zamboni/pull/662

[2013-03-09 02:20] mykmelez commented on #356
Did some thinking on the way home, and here are my thoughts on implementation (for both this and issue #357):

Instead of passing it back to the shell, the geolocation dialog persists the type of geolocation to provide (default, current, or custom) in a preference, r2d2b2g.geolocation.type. It also stores a custom geolocation in two preferences, r2d2b2g.geolocation.custom.latitude and r2d2b2g.geol

[2013-03-09 04:49] Vidhuran commented on #364
@nickdesaulniers , I did try to do that earlier and got "en-US".
If it is a problem only with Windows , could it be so that the .ini or .properties files are treated differently by Windows ?

[2013-03-09 10:41] m0rg0t opened #368 "FirefoxOS emulator crash - starting "Hello world" application"
Using
- Firefox - 19.0.2
- FirefoxOS emulator - 2.0
- OS - Windows 8 Pro x64

After pressing "Run" for application, emulator start work and in 1-2 seconds close.

If press "update" for application - get such errors:

Example of mainfest and index.html file:

[code]

[code]

[2013-03-09 23:16] ztamizzen commented on #359
To be found here? http://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/

It works :+1:

Now for resolution and DPI! :dancer:

[2013-03-10 23:34] Pipelinetester1 opened #369 "Some small bugs-Firefox OS"
First of all,I have to say that you have done an amazing work here. Firefox OS is amazing!
I've detected a few "bugs"  :
1. Some buttons are overlaying
2. The games installed by default are not fitting in the screen and but you can drag them
3. The virtual keyboard is missing sometimes.
4. The buttons from the notification tab are not working.
 Etc.
I've made a video where you can notice all the b

[2013-03-11 12:05] Pikkolo commented on #334
Hello there, any news ? The simulator continues not to work both on linux and win7 :'(

[2013-03-11 16:18] nickdesaulniers commented on #334
New build scheduled for Wednesday, possibly.

[2013-03-11 17:43] nickdesaulniers commented on #369
@wizgothic , Hey thanks for trying out Firefox OS simulator and reporting bugs!  This is very very helpful to us, and we appreciate it!  Let me investigate these issues:
1. Duplicate of #284
2. This was one of our oldest bugs #7 and was just fixed in #305 .  Go to about:addons and double check that your version is at least 3.0pre2.  If it's not, remove it (from that menu), then reinstall from the

[2013-03-11 17:45] nickdesaulniers commented on #368
@m0rg0t , hey thanks for reporting this issue!  I noticed you're running an outdated version of the simulator.  Do you mind removing it from about:addons, then reinstalling the latest (3.0pre2) and re-verifying?  We're working on getting this addon to auto update, but in the meantime, updates are manual.

Latest preview release: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2

[2013-03-11 17:50] nickdesaulniers commented on #361
Nice!  So zamboni is updated, now I'll have to see about removing the MDN page.

[2013-03-11 17:52] mattbasta commented on #361
Give it until Thursday when we push to prod. That way the page won't randomly disappear without having something for people to look at in its place.

[2013-03-11 17:59] a2sheppy commented on #361
This sort of documentation needs to be on MDN. I was under the impression this material was due to be removed from DevHub in favor of the actual documentation being on MDN where it belongs.

[2013-03-11 18:05] mattbasta commented on #361
For now, it should be removed from MDN to remove duplicate documentation. Current UX designs put this information on the devhub, though the devhub will eventually be eliminated and things will be moved back to MDN as soon as MDN has support for the features that our UX team is asking for.

[2013-03-11 19:03] m0rg0t commented on #368
At 3.0pre2 still have

And can't install app to emulator (but this version don't crush)

[2013-03-12 23:10] KWierso opened #370 "After you add an app to simulator via "Add URL", the file input box should be cleared."
From the demo today at the devtools work week, @mykmelez added an app to the simulator. After he did this, the file input continued to list the selected path to the manifest file.

In my opinion, there probably isn't a need to re-add an already added app via URL, so the input should be cleared after the app is successfully added.

[2013-03-13 16:53] endemic commented on #166
This bug bit me when submitting an app to the Firefox Marketplace. Just leaving a note here instead of opening a new issue.

[2013-03-13 17:38] Ranger7 opened #371 "Videos Playing Choppy"
Will this new version of Mozilla take care of my Videos Playing Choppy ? This is very frustrating. Thanks.

[2013-03-13 19:28] morgamic commented on #361
Hey - there's some confusion about things because it's now post-MWC and we haven't concluded UX/IA discussions.  For now, do this: put the document in MDN and sync it with devhub like we do with other docs.  We will work through the IA in the coming weeks.  Sorry for the confusion.

[2013-03-13 19:34] KWierso commented on #370
document.getElementById("form-add-app").reset() would do this, right?

[2013-03-13 23:20] mykmelez opened #374 ""add to Dashboard" silent fails to appear if validation doesn't manage to start simulator"
When you add an app to the dashboard, the validator runs the simulator to validate the permissions. But if the simulator doesn't start for some reason, then the validation process never finishes, and the app doesn't appear on the dashboard.

Reloading the dashboard causes the app to show up. But it hasn't been validated, and I suspect it also isn't initialized correctly (since much initialization

[2013-03-14 00:57] rpl commented on #374
@mykmelez I agree, we should neve silently fail.

proposed a fix on #375

[2013-03-14 08:09] huangzhongming commented on #130
可以在IE种设置代理。

[2013-03-14 20:28] mykmelez opened #378 "automatically configure prosthesis logging"
Configuring prosthesis console logging is cumbersome, as it relies on hardcoded flags in each individual script. Prosthesis should automatically enable logging when run via `make run` and in preview builds, but disable it in release builds.

One way to do this would be to define a pref, r2d2b2g.console.enabled, that scripts use to determine whether or not to log. Then create a prefs file, prosthes

[2013-03-15 00:14] fwenzel commented on #361
NB: There is no syncing between MDN and devhub any longer. Content changes to devhub can be made via pull request, but until the UX-driven redesign is in place, we won't mess with (or reintroduce) a syncing mechanism.

[2013-03-16 20:07] Maksims opened #379 "scrollbar appears in various apps"
Scroll bar is visible on Windows emulator.
Just run it, and get top panel out.
And all applications that dont fit vertically. Even worse when app need whole width, and it will show horizontal scroll bar as well.

Maybe it is time for Mozilla to think about transparent scroll bar like on Mac OS X in Chrome?

[2013-03-17 01:06] tobbi opened #380 "Firefox simulator closes after a few seconds on Windows 8"
Hello,

I installed the latest version of r2d2b2g from the ftp server. However, the simulator ends automatically when I start it.

Here's the console output (not sure if it helps):
http://screencast.com/t/OcuxxGZhm9

[2013-03-19 03:36] dorman commented on #299
This is also happening to me as well when I go and try to load a video.I've tried loading the video and waiting for a few minutes and I still just see the loading symbol.

Oh and I am using the browser to view a YouTube video.

[2013-03-19 05:21] mykmelez commented on #241
This was implemented in recent commits. There's still more to do, but we'll track that work in new issues.

[2013-03-19 05:21] #241 closed, assigned to mykmelez

[2013-03-19 23:37] Carter10 opened #381 "Notifications panel gets in the way"
Whenever I try to play a game, the notifications panel covers up a part of the screen, and this is slightly less than satisfactory. It ruins the entire gaming experience

[2013-03-20 00:15] dorman opened #382 "FireFox OS Web Browser Overlay Bug?"
I started to try and test the browser to see how well it could do with having at least 20 tabs open and everything was good until I went back to create a new tab and after I chose which site to go to for the tab then the browser goes back to the main browser screen and a strange overlap of the tabs appear. I don't know if this is supposed to happen or if this is just because I have so many tabs op

[2013-03-20 22:44] Carter10 opened #383 "Notifications panel gets in the way"
The notifications panel gets in the ways when playing the "default games" on the far left panel.

[2013-03-21 00:52] rheschner commented on #335
Hi, I found that this is not related to the emulator, it was a cache problem.
The page that makes the XHR is a cached page, but the URL that is requested is not (must not). I have to specify that this URL must not be cached explicitly (using "NETWORK: [URL]" in the cache manifest file).

[2013-03-21 00:52] #335 closed, assigned to nobody

[2013-03-21 03:31] nickdesaulniers commented on #383
Dupe of #381

[2013-03-21 03:31] #383 closed, assigned to nobody

[2013-03-21 10:13] czerek opened #384 "Penguin pop not working only white frame visible after launch."
On Windows 8, using  Firefox OS Simulator 2.0 and Mozilla Firefox ver. 19.0.2.
![fos1](https://f.cloud.github.com/assets/3929896/285138/ee9405a6-920f-11e2-9764-ab67fb1c7051.png)

[2013-03-21 16:42] platzhersh opened #385 "can't find Addon anymore (Nightly 22.0a1 (2013-03-21))"
Hello there,
I can't find the Addon anymore under the "Web Developers" menu.. has it been moved?

[2013-03-22 16:48] fzzzy opened #386 "HERE Maps launches to a directory listing instead of the app"
Launching the HERE Maps app in the simulator plugin shows a directory listing instead of the expected application screen.

Deleting the preinstalled version and reinstalling from the Marketplace produces a version that works.

This is probably because maps is the only app which is a packaged app in external-apps. The apps in apps get packaged by the build script, but packaged apps in external-apps

[2013-03-22 22:23] mykmelez commented on #189
In theory the addon kills the B2G process when it gets unloaded in preparation for being updated. Perhaps that isn't working. Or maybe it's working, but Windows holds onto the filehandles for some time after the B2G process has already quit. Or the process dies asynchronously, and the addon update races it.

[2013-03-23 15:58] davidgomes opened #387 "Hidden text in the manifest.webapp input box"
I got confused by the extension of the manifest file and because only "URL for page or manifest.weba" is visible, I thought that the extension was ".weba".

This happens because the input box is too small.

[2013-03-23 18:01] sapien-pixel opened #389 "Firefox OS simulator not opening in beta 20 version"
Hi,

The Simulator is not working in the beta 20 version build- 5 of firefox. When i start the simulator it pops up new window and it automatically stops.
Dont know why.
I am using windows 7 and x86 processor

[2013-03-24 01:42] peregrinogris commented on #166
What's the status of the patch for this? I faced this issue when trying to use a library that supports both mobile and desktop, and it fails when detecting if running on mobile or desktop.
I tried to monkey-patch the library to get it working at least on my app, but I couldn't find a way to know if it's running on the FirefoxOS Simulator or the real thing. Is there a way to detect when running on

[2013-03-24 03:23] davidgomes opened #390 "Put icon to the left of app details"
On the list of installed apps on the index.html, on the left of the app details (name, type of app, open location, etc) the icon of the app could be added (if it exists) and the default icon for no-icon if there's no icon.

[2013-03-24 09:07] LordAmit commented on #368
I am also using this version 3.0pre3, in Linux Mint 64 bit. These errors show up when I run the simulator and then try to execute a simple hello world app.
I use Firefox 19.0.2

[2013-03-24 09:14] m0rg0t commented on #368
Seems same bug like i have.

Maybe problem somewa connected with using 64 bit OS?

(try same at 32 bit)

[2013-03-24 10:44] victorporof commented on #246
This still seemed to be happening yesterday to a lot of people at a local Firefox OS app hacking event, mostly on Firefox Nightlies. I'm not sure it's because they were using an older version of the simulator, but the distribution of installations was roughly equal between http://people.mozilla.com/~myk/r2d2b2g/ and https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/

Switching to

[2013-03-25 14:13] leandroruel opened #391 "need of a firefox account sync"
if user forgot your password, he need go to firefox account to recover the password, to download apps, or unlock the device (in the case of many attempts by blocking access denied)

[2013-03-25 16:15] nickdesaulniers commented on #387
This may be dependent on screen res.

[2013-03-25 16:17] nickdesaulniers commented on #385
Can you check by visiting "about:addons" in your URL bar?

[2013-03-25 16:29] platzhersh commented on #385
sure, I did :) looks fine, I even reinstalled the addon. Still I can't find it in the "Web Developers" menu

[2013-03-25 16:33] Jaxo commented on #206
There are still few refresh problems:
- console doesn't clear, except if you then move the console window a bit
- less problems on the simulator window,
- if you play with the gallery, it shows a dark screen
  The simulator does not die, however.  Reopening it definitively fixes it.  Haven't seen much orphans processes..

Anyway: 3.0 is so wonderful that I feel a bit blushing reporting the above :

[2013-03-25 16:34] Jaxo commented on #206
Ooops... wrong button.

[2013-03-25 16:53] Jaxo opened #392 "Activity (mozSetMessageHandler, etc)"
Not sure if these are bugs, or working as designed, b/c I didn't found much doc..
So I'm reporting the facts, as I learned from my tests.

1) "inline activity" can not open "browser tabs" (e.g.: window.open),
    "window activity" can
2) posting back when a "window activity" is done does not wake up the "issuer"
    posting back from an "inline activity" do return to the caller
3) in no case the a

[2013-03-25 18:38] davidgomes commented on #387
My thoughts exactly, so this either needs input from somebody more experienced with CSS or testing on different resolutions.

[2013-03-25 22:48] #387 closed, assigned to nobody

[2013-03-26 01:45] ghazel opened #393 "simulate Bluetooth connection"
The Simulator should simulate a Bluetooth connection, so developers can test apps that use Bluetooth to communicate with Bluetooth devices.

[2013-03-26 09:20] suoko opened #394 "Browser crashes when I open simulator 3.0pre3 on ubuntu 13.04"
The simulator starts and works but the browser crashes (both stable and aurora browser).
I can reopen the browser but in new browser session the simulator looks stopped therefore I can't test any app.

[2013-03-27 00:20] elgerlambert commented on #166
Just wanted to drop a line to say this is an issue for me also. I've built a mobile web app which uses Zepto to bind to touch events (I don't bind to click events at all).

Since this is my first comment related to Firefox OS, just wanted to say I love the project and wish it luck aswell!

Kind regards

[2013-03-27 00:24] xTaZe opened #397 "simulator closed with error"
when i open the simulator , it close after 5 seconds, when i open the console it shows there errors !
what should i do ?!
i use Win 7 , FireFox 19.0.2 , same problem with Firefox Simulator 2.0 and 3.0pre!
![FirefoxOs](https://f.cloud.github.com/assets/3842372/306244/b35df424-9674-11e2-8d10-8983dc0c1477.png)

[2013-03-27 00:52] willicab commented on #397
Me too, this is the output in terminal with version 2

willicab@williamcabrera:~/.mozilla/firefox/a007ww2s.default-1364340493206/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux/b2g$ ./b2g
ATTENTION: default value of option force_s3tc_enable overridden by environment.
prosthesis:patch RemoteDebugger.start
###################################### forms.js loaded
[AccessFu] INFO attach
####

[2013-03-27 14:36] jincreator commented on #385
This bug also affects me.
I can't find it in menu, so I tried "firefoxos manager" command in GCLI.
It shows message balloon, "TypeError: activeWindow is null".

[2013-03-27 17:00] mykmelez commented on #385
This is almost certainly due to a change in Nightly that breaks the stable version of the Simulator. Please try downloading the latest preview build of the next version, and let us know if it works for you!

Latest preview release: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [L

[2013-03-28 21:32] feer56 opened #400 "Contacts Application Shows Up Blank"
Every time I open the contacts application on my simulator it is blank. It has previously worked. I tried a uninstall and reinstall with no luck. Windows 7, 19.0.2, 2.0.

[2013-03-29 11:21] jincreator commented on #385
Sorry for not mentioning r2d2b2g version I'm using.
I used 3.0pre3 before, and I still can't find it in menu after install 3.0pre4.

[2013-03-29 17:08] mykmelez commented on #66
I wonder if recent changes by @rpl have resolved this issue.

[2013-03-29 17:11] mykmelez commented on #180
This was fixed in a recent change.

[2013-03-29 17:11] #180 closed, assigned to digitarald

[2013-03-29 17:13] mykmelez commented on #189
This is now happening more consistently, and when it does, I see an adb.exe process running. Killing it makes a subsequent update succeed.

[2013-03-29 17:14] mykmelez commented on #199
I think this now works, but please reopen if it doesn't!

[2013-03-29 17:14] #199 closed, assigned to nobody

[2013-03-29 17:15] mykmelez commented on #204
This is now working, although I'm not sure which change fixed it.

[2013-03-29 17:15] #204 closed, assigned to nobody

[2013-03-29 17:16] mykmelez commented on #205
@hfiguiere: are you still seeing this problem?

[2013-03-29 17:24] mykmelez commented on #215
The dialer pad now works, although dialing still doesn't do anything. But simulating dialing is another issue, so we should track that separately.

[2013-03-29 17:24] #215 closed, assigned to nobody

[2013-03-29 17:25] mykmelez commented on #216
Closing due to lack of info needed to investigate problem.

[2013-03-29 17:25] #216 closed, assigned to nobody

[2013-03-29 17:25] mykmelez commented on #218
Closing due to lack of info needed to diagnose problem.

[2013-03-29 17:28] mykmelez commented on #233
Proxy settings is issue #130. Closing this as we don't have needed info from the original reporter, and the issue has been resolved for the second reporter.

[2013-03-29 17:28] #233 closed, assigned to nobody

[2013-03-29 17:29] mykmelez commented on #245
Instead of reporting an error to the user when the app is not installed, we should simply install it.

[2013-03-29 17:30] mykmelez commented on #250
Closing due to lack of needed info from reporter.

[2013-03-29 17:30] #250 closed, assigned to nobody

[2013-03-29 17:30] mykmelez commented on #251
Closing due to lack of needed info from reporter. Please reopen if you can still reproduce!

[2013-03-29 17:30] #251 closed, assigned to nobody

[2013-03-29 17:37] mykmelez commented on #268
@doomsplayer @nfroidure Are you also using Debian, and if so, which version are you using? I'm just trying to figure out if this is a Debian-specific issue or if it affects multiple Linux distributions.

[2013-03-29 17:38] dovahcrow commented on #268
i use archlinux.
ÔÚ 2013-3-30 ÉÏÎç1:37£¬"Myk Melez" notifications@github.comÐ´µÀ£º

[2013-03-29 17:39] rpl commented on #245
we're already doing auto-reinstall if app it not found from ca50f162d9

we can simply close this issue, because simulator already behaves as
requested.

[2013-03-29 17:42] #245 closed, assigned to nobody

[2013-03-29 17:50] mykmelez commented on #279
This is fixed in the latest preview release, probably because we undid some style changes that stock B2G makes to all windows.

Regarding the enhancement request, the console in question is just the Mozilla Toolkit Error Console, so the request would be best reported to that console's issue tracker. I see that [Console²](https://addons.mozilla.org/en-us/firefox/addon/console%C2%B2/) works that way

[2013-03-29 17:50] #279 closed, assigned to nobody

[2013-03-29 17:50] mykmelez commented on #283
Closing due to lack of info needed to diagnose the problem. Please reopen if you have such info!

[2013-03-29 17:50] #283 closed, assigned to nobody

[2013-03-29 17:52] mykmelez commented on #284
Thanks for reporting this problem! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks issues with testing apps. It doesn't track other problems with Firefox OS. Report those in the [Boot2Gecko issue tracker](https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko&component=Gaia), making sure to note that you noticed the problem

[2013-03-29 17:52] #284 closed, assigned to nobody

[2013-03-29 17:55] mykmelez commented on #286
Sorry for the delay responding! This was presumably a problem with Firefox OS, not the Simulator. But since the Messaging app exposes web activities to other apps, this might affect app developers. So it's worth investigating as a Simulator issue. Nevertheless, I can't reproduce this on the latest preview build. Perhaps we fixed it in the last couple months. Therefore I'm closing the issue, but pl

[2013-03-29 17:55] #286 closed, assigned to nobody

[2013-03-29 17:56] mykmelez commented on #289
@kkraku can you reproduce on the latest preview build?

Latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi).

[2013-03-29 17:59] mykmelez commented on #294
Here are links to the latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi).

I can't reproduce this either, so I'm going to close the issue, but please reopen it if you can still reprod

[2013-03-29 17:59] #294 closed, assigned to nobody

[2013-03-29 18:03] mykmelez commented on #299
I see this in the Error Console when trying to play a video from youtube.com in the browser:

[2013-03-29 18:04] mykmelez commented on #307
Closing due to lack of info needed to diagnose problem. Please reopen if you can still reproduce with the latest preview build!

Latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi).

[2013-03-29 18:04] #307 closed, assigned to nobody

[2013-03-29 18:11] mykmelez commented on #309
Issue #198 reports this problem with the Gallery app when you view a picture, although I can't reproduce that anymore. I wonder if this was fixed when we changed a bunch of default style. In any case, closing the issue, but please do reopen if you can still reproduce on the latest preview build!

Latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.x

[2013-03-29 18:11] #309 closed, assigned to nobody

[2013-03-29 18:13] mykmelez commented on #198
I can't reproduce this anymore. First I press the Home and End keys simultaneously to create a screenshot, then I start the Gallery app and click the screenshot to view it. After which I still see the bottom bar.

I wonder if we fixed this when we undid a bunch of style that B2G adds by default. In any case, I'm closing this issue, as it appears that we resolved it. But please reopen if you can st

[2013-03-29 18:13] #198 closed, assigned to nobody

[2013-03-29 18:14] mykmelez commented on #310
I now have a Windows 8 installation and will look at this next week.

[2013-03-29 18:17] mykmelez commented on #324
I see this too. As @nickdesaulniers noted, it's probably caused by lack of support for touch events, which is #166. (It might also be a bug in everything.me, but then that is best reported in the B2G issue tracker.) Closing as a duplicate of #166, but please reopen if it still doesn't work after we resolve that issue!

[2013-03-29 18:17] #324 closed, assigned to nobody

[2013-03-29 18:19] mykmelez commented on #330
@nickdesaulniers I have Windows licenses (and VMs) for XP, Vista, 7, and 8 already, and I highly encourage you to request the same! Or at least 7 and 8 licenses. It'd be great to have a second person taking a look at these Windows-specific issues. :-)

[2013-03-29 18:25] mykmelez commented on #331
@nickdesaulniers: Can you elaborate on that latter point about unifying the testing experience? I'm not very familiar with Marionette, but it isn't clear to me how it would help app developers. I thought it was a framework for testing B2G itself.

In which case it could help Simulator developers. We already have the Add-on SDK test framework for testing the Simulator addon, but Marionette might st

[2013-03-29 18:26] mykmelez commented on #330
This looks like a dupe of #364, where folks are digging into the underlying problem; so let's track it there.

[2013-03-29 18:26] #330 closed, assigned to nobody

[2013-03-29 18:27] mykmelez commented on #333
This looks like a dupe of #364, where folks are digging into the underlying problem; so let's track it there.

[2013-03-29 18:27] #333 closed, assigned to nobody

[2013-03-29 18:31] mykmelez commented on #334
The latest build is from two days ago, so you might try that.

Latest preview build: [Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi).

Two questions:
1. Accented characters in file paths are a known pro

[2013-03-29 18:38] mykmelez commented on #206
@Jaxo no worries, we want to hear about all problems, no matter how minor! I'm not sure you're experiencing the same problem, though. The console window issue sounds like a painting problem. And the gallery issue might be the same painting problem, but it could also be something else. But neither sound like the original problem of the homescreen transition getting stuck.

I haven't noticed these n

[2013-03-29 18:41] mykmelez commented on #336
I see this too. One more reason to stop exposing the Error Console and make sure it's fun and easy to see all messages in the remote Web Console!

[2013-03-29 18:43] mykmelez commented on #349
I have a work in progress for this, although it doesn't quite behave as expected yet.

[2013-03-29 19:24] mykmelez commented on #370
Closed by pull request #376.

[2013-03-29 19:24] #370 closed, assigned to nobody

[2013-03-29 19:29] mykmelez commented on #371
This issue tracker is for reporting issues with the Firefox OS Simulator, not Firefox itself (which is what I'm guessing you mean by "Mozilla"). For help figuring out your issue, please check out [mozilla support](https://support.mozilla.org/), for example [this article about choppy video](https://support.mozilla.org/en-US/questions/940559).

[2013-03-29 19:29] #371 closed, assigned to nobody

[2013-03-29 19:29] mykmelez commented on #374
Fixed by #375.

[2013-03-29 19:29] #374 closed, assigned to nobody

[2013-03-29 19:52] mykmelez commented on #379
I see this on all platforms and multiple apps, including Gallery (when pictures are present) and Settings. I think it's a regression from removal of the B2G stylesheet.

@nickdesaulniers I think we're going to have to reintroduce that stylesheet, limiting it to the chrome of apps running in the shell, so it applies to those apps but doesn't apply to the chrome of the Simulator XUL application itse

[2013-03-29 19:55] mykmelez commented on #380
Note the other Windows 8 issue #310, although that reporter isn't experiencing a crash, so it looks like these are two different issues. I have a Windows 8 VM now and will investigate this next week.

[2013-03-29 19:56] mykmelez commented on #381
Thanks for reporting this problem! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks issues with testing apps. It doesn't track other problems with Firefox OS. Report those in the [Boot2Gecko issue tracker](https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko&component=Gaia), making sure to note that you noticed the problem

[2013-03-29 19:56] #381 closed, assigned to nobody

[2013-03-29 19:57] mykmelez commented on #382
Thanks for reporting this problem! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks issues with testing apps. It doesn't track other problems with Firefox OS. Report those in the [Boot2Gecko issue tracker](https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko&component=Gaia), making sure to note that you noticed the problem

[2013-03-29 19:57] #382 closed, assigned to nobody

[2013-03-29 19:59] mykmelez commented on #384
Thanks for reporting this problem! However, the Simulator is intended to be a test environment for app developers, and this issue tracker only tracks issues with testing apps. It doesn't track other problems with Firefox OS. Report those in the [Boot2Gecko issue tracker](https://bugzilla.mozilla.org/enter_bug.cgi?product=Boot2Gecko&component=Gaia), making sure to note that you noticed the problem

[2013-03-29 19:59] #384 closed, assigned to nobody

[2013-03-29 20:13] mykmelez commented on #385
There's a known issue with nightly builds and the stable release of the Simulator (2.0), so I pushed a 2.0.1 hotfix that is in the review queue on AMO. In the meantime, it's available from ftp.mozilla.org:

Windows: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-2.0.1-windows.xpi
Mac: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-2.0.1-mac.xpi
Linux: https://ftp.mozill

[2013-03-29 20:20] mykmelez commented on #368
I'm not sure those console messages are relevant to this problem. And the Linux issue may be a different one. We do have known issues on Windows 8, i.e. #310 and #380. So this could be one of those.

What do you see in the Error Console if you use about:config to add the preference extensions.r2d2b2g@mozilla.org.sdk.console.logLevel, give it the integer value 0, and then disable/reenable the addon

[2013-03-29 20:23] rpl commented on #379
@mykmelez @nickdesaulniers I've already prototyped reinjection of b2g
mobile stylesheets, I'm waiting to push because it depends on mutation
observers introduced in the pull request #377

[2013-03-29 20:26] mykmelez commented on #218
Reopening and updating title/description to the problem I was able to verify.

[2013-03-29 21:13] mykmelez commented on #369
The third issue is #218, which I just reopened, now that we have more information and are able to confirm the problem!

I can reproduce the fourth issue as well, but it isn't yet clear to me exactly what we should be doing about it, since I'm not sure how those buttons affect the ability for app developers to test their apps in the Simulator. If we do find that one or more of the buttons is import

[2013-03-29 21:13] #369 closed, assigned to nobody

[2013-03-29 21:19] mykmelez commented on #389
Thanks for reporting the problem, and sorry to hear the Simulator isn't working for you! Could you try installing the [latest preview build for Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi) to see if it still has the problem?

[2013-03-29 21:19] mykmelez commented on #390
I like this idea. It would certainly help to distinguish between the various apps in the list.

[2013-03-29 21:21] mykmelez commented on #391
Hi @leandroruel, thanks for reporting this problem. However, I'm not sure exactly what problem you're reporting. It sounds like you're saying that a user who forgets his password has to go through some procedure to recover it, but that doesn't sound like an issue in the Simulator. Perhaps you can explain further?

[2013-03-29 21:23] mykmelez commented on #392
I'm not very familiar with the implementation of web activities in B2G/Gaia. This behavior might be intentional, but it could also be due to bugs in B2G/Gaia, or it could be the result of bugs in Simulator. We'll need someone who knows more about web activities to dig into the problems here. Perhaps @digitarald or @nickdesaulniers.

[2013-03-29 21:24] mykmelez commented on #393
Unfortunately, the Simulator doesn't yet simulate bluetooth connections, so it isn't possible to use it to connect to a bluetooth device. Nevertheless, it should be! I'll modify this issue's title/description to turn this into a feature request for a bluetooth simulation.

[2013-03-29 21:31] mykmelez commented on #394
I have an Ubuntu 12.10 64-bit installation, and I can't reproduce this problem there on Firefox 19.0.2. But perhaps it's specific to Ubuntu 13.04? You might try the [latest preview build for Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi) to see if it fixes the problem.

[2013-03-29 21:37] mykmelez commented on #397
@xTaZe I think those console messages are unrelated. Try the [latest preview build for Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), and if you still experience the problem, then use about:config to create the preference extensions.r2d2b2g@mozilla.org.sdk.console.logLevel, set it to the integer value 0, disable/reenable the addon, restart the Simulator, and le

[2013-03-29 21:38] mykmelez commented on #400
Try the [latest preview build for Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), and let me know if the Contacts app works for you there!

[2013-03-29 22:16] mykmelez commented on #246
I'm not sure it's the same problem, but let's reopen this issue and use it to track the problem anyway. It might well be the same problem! And this issue is just sitting here, forlorn, waiting to be useful again. ;-)

So, for folks who are experiencing this problem, the first thing to try is installing the latest preview build:
- Windows: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2

[2013-03-29 22:42] qdot commented on #393
Hi. Member of the FxOS bluetooth team here.

Unfortunately BT under r2d2b2g is not gonna be possible for the moment. Bluetooth /only/ works on the phone right now, and simulating it isn't something we can polyfill because BT relies on things like the kernel being able to open sockets to pipe audio over, as well as some fairly complex protocol work that currently happens in C++.

[2013-03-29 23:22] nickdesaulniers commented on #331
@mykmelez , I believe marionette is used to test the b2g devices remotely.  If we could get the marionette to work remotely with the simulator, than we would have a unified environment where we could benefit from their existing test suite.  It would be used for us to test for regressions, not app developers (though maybe they could).  Then our tests could also be run on physical devices.  Just a t

[2013-03-29 23:50] xTaZe commented on #397
when i run the simulator , in the Firefox Error console , it show me :
![Capture](https://f.cloud.github.com/assets/3842372/319577/7a608cfa-98cb-11e2-920c-15945f74ab5d.PNG)

[2013-03-29 23:53] xTaZe commented on #397
and  always the same bugs in Simulator's Console !

[2013-03-30 00:22] jincreator commented on #385
Mozilla/5.0 (X11; Linux x86_64; rv:22.0) Gecko/20130329 Firefox/22.0
Firefox OS Simulator 3.0pre4

My nightly is localized build, so I translate some words(e.g Time, Error, Source File, Line Number, ...)

debug: r2d2b2g: XULAPP:  Firefox 22.0a1 22.0a1
debug: r2d2b2g: HAS_CONNECT_DEVTOOLS:  true
info: r2d2b2g: simulator.observe: adb-ready

Time: 2013년 03월 30일 09시 07분 21초
Error: can't access dead ob

[2013-03-30 01:10] mykmelez commented on #397
Thanks for the screenshot! From it, I notice two things:
1. b2g.exe exits with a 0 exit code; i.e. it exits cleanly, it doesn't crash.
2. You're using a version of Windows with a French localization, which means the path to your Firefox profile might contain accented characters (f.e. in your username).

We have a known issue #247 with starting the Simulator from a Firefox profile whose path contai

[2013-03-30 03:11] leandroruel commented on #391
okay, i not speak english well, but imagine the following situation, the user in a future wants lock your device, with screen lock combination or password (security), if available this resource, but...if the user forget your password or screen lock combination, he need unlock the device again with a account, and recover it, and to do this, the user need of a option on firefoxOS to create a account

[2013-03-30 03:19] feer56 commented on #400
No difference. Contacts screen is still blank.

[2013-03-30 03:26] feer56 commented on #400
Did not help;

From Console:
Timestamp: 29/03/2013 9:25:40 PM
Error: TypeError: noContacts is undefined
Source File: app://communications.gaiamobile.org/contacts/js/contacts_list.js
Line: 559

[2013-03-30 15:54] xTaZe commented on #397
i have executed the exemple ! i have created a new profile ! but always a same problem :/
i use a frensh version of Win , and i dont use accented characters !! and always the same problem :/

[2013-03-30 16:43] xTaZe commented on #397
there some avertissement !
![Sans titre](https://f.cloud.github.com/assets/3842372/320656/f259142e-9958-11e2-87fb-882f5690624d.png)

[2013-03-31 17:48] tokovenko opened #403 "Don't work event listener(click) in Google map"
In my app I use Google Map. When I run my application in browser, everything is ok,but in r2d2b2g don't work event listener(click) and balloons on map dont't open. When I run this page https://google-developers.appspot.com/maps/documentation/javascript/examples/event-simple?hl=ru like application I have the same problem.

[2013-04-01 13:44] hyvakeke opened #404 "Some applications change the simulator window size"
Starting some applications, BlockedCar for example, change the simulator window size and only way to fix this is to restart the simulator. I'm using the simulator on Windows 7.

![window_size](https://f.cloud.github.com/assets/1122993/323900/debab15a-9ad1-11e2-987d-8a6c1e10a681.png)

[2013-04-01 13:51] hyvakeke commented on #404
The problem also occurs when long pressing the home button and the app switcher is displayed.

[2013-04-01 15:41] waldyrious commented on #198
Confirmed, I can't reproduce it anymore either.

[2013-04-01 16:52] digitarald commented on #299
Video playback depends on hardware codecs and will therefor not work in the Simulator. This affects MP3, MP4 and Webm.

[2013-04-01 17:11] digitarald commented on #392
Do you see the same problems with the activities started from the Boilerplate [1](https://github.com/robnyman/Firefox-OS-Boilerplate-App) app?

[2013-04-01 20:47] LordAmit commented on #368
HI @mykmelez
I have added extensions.r2d2b2g@mozilla.org.sdk.console.logLevel in about:config as Integer type, set value to 0.
Then I have disabled the add on, several warnings were found in the error console of firefox, none were related to Firefox OS simulator IMO. However, when I enabled it - the following warnings + error were shown:

[2013-04-01 23:33] mykmelez commented on #189
It looks like we don't kill adb on any platform, not just Windows. And that's a waste of resources in addition to causing this bug. We should do so whenever we don't need that process, and definitely when unloading the addon.

[2013-04-02 02:27] digitarald opened #405 "Dashboard should warn about missing capabilities"
A common request for partner engineering is about supported codecs. Partners without device often tested upfront using the Simulator, finding that MP3 or MP4 don't work and therefor having doubts about feasibility on their app on Firefox OS.

The simulator should point out in some way that video and audio are limited to whats supported on Desktop Firefox and that Firefox OS and Android have additi

[2013-04-02 03:39] AceFubar commented on #397
I have the same problem, Yet no french localization here, something to do with my java script I think
![Simulator OS crash](https://f.cloud.github.com/assets/4032704/326759/9166b630-9b47-11e2-9f6c-052a86b18c8b.png)

[2013-04-02 11:56] nfroidure commented on #268
i use debian (squeeze) indeed :
Linux 3.2.0-0.bpo.1-amd64 #1 SMP Sat Feb 11 08:41:32 UTC 2012 x86_64 GNU/Linux

[2013-04-02 12:04] nfroidure commented on #268
xhost + also solved the problem for me

[2013-04-02 16:11] mykmelez commented on #405
The Simulator has a number of such limitations, each of which applies to only a subset of developers, so I'm wary of notifying all users about them on firstrun, as it could feel like information overload or just an annoyance that developers need to click through to get to what they want.

Nevertheless, you're absolutely right that we should let the relevant developers know about these limitations,

[2013-04-02 16:13] mykmelez commented on #268
Ok, so then the question is why a b2g process spawned by the Firefox process doesn't have access to the xserver, even though the Firefox process itself has access.

[2013-04-02 17:12] digitarald commented on #405
Having a warning in context would be great, I thought about that. Sadly the manifest doesn't give hints on codec dependencies use, except when asking for audio-context permissions.

I guess we could show it as soon as the user creates an Audio tag instance.

But as a general overview, a Help page might help. I'll go ahead and create a wiki page to start documenting: https://github.com/mozilla/r2d2

[2013-04-02 22:01] mykmelez commented on #405
I like the wiki page! Note also that don't have to restrict the validator to the manifest. We can extend it to look at other addon files, including its HTML and JS files. So we could search those for audio tags and warn the developer if we find one that the Simulator can't handle.

[2013-04-02 22:34] mykmelez commented on #349
It now behaves as expected, and I pushed it as #406.

[2013-04-02 22:34] #349 closed, assigned to mykmelez

[2013-04-03 18:39] slerknes opened #408 "Push to device doesn't work"
Push to device tends to not work when I try to Push applications to my Geeksphone Peak. It has worked a couple of times, which makes me wonder what the problem may be. Remote debugging mode is enabled, and I am using Firefox OS Simulator v3 on Ubuntu 12.10

[2013-04-03 20:18] mykmelez commented on #348
Fixed by #409.

[2013-04-03 20:18] #348 closed, assigned to nobody

[2013-04-03 20:19] mykmelez commented on #189
I think #409 has fixed this (modulo a potential race condition with Windows file deletion that could cause intermittent failure and would probably be exceedingly hard to resolve).

[2013-04-03 20:19] #189 closed, assigned to mykmelez

[2013-04-03 23:54] potch commented on #238
I'm going to do some dashboard front-end enhancements that will hopefully fall under the purview of this issue.

[2013-04-04 00:07] mykmelez commented on #379
Fixed by #402.

[2013-04-04 00:07] #379 closed, assigned to nobody

[2013-04-04 22:03] digitarald opened #412 "Validation should warn about invalid launch_path in packaged apps"
A packaged app `launch_`path pointing to `/` will not show the app but the directory listing. It should be easy to validate if the `launch_path` points to an existing file.

Same for hosted?

[2013-04-05 20:00] mykmelez commented on #166
[Bug 751147](https://bugzilla.mozilla.org/show_bug.cgi?id=751147) removed something similar from B2G a while back. Perhaps we can reuse that code.

[2013-04-05 20:06] kumar303 opened #414 "Connect a remote device to Firefox developer tools"
There's a connect button for the desktop simulator but not for remote devices. It would be nice to connect remote devices because it's not entirely straight forward to hook up devices to developer tools right now: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Debugging/Using_the_Remote_Web_Console

[2013-04-06 01:05] mykmelez commented on #408
Push To Device is still under development, and it's a complex feature, so it may well have bugs! And we're pushing improvements to it with every preview build, of which the last one was published on Wednesday, April 3.

Since it's worked a couple of times, I'll assume you've successfully configured your computer (per [Using Hardware Devices](https://developer.android.com/tools/device.html)) and de

[2013-04-07 17:03] platzhersh commented on #385
Now I see it again in 23.0a1 (2013-04-04)

[2013-04-08 17:04] nickdesaulniers commented on #385
Cool, thanks for reporting this bug anyways.  It still helps us keep track of everything.  Please don't hesitate to open any bugs in the future!

[2013-04-08 17:48] mykmelez opened #416 "Dashboard remains open after addon disabled"
If the Dashboard page is open when the addon is disabled, it remains open. It should close, since it's part of the addon's interface, and users disable addons in order to remove their interfaces (and other resources) from Firefox.

Leaving the Dashboard open also causes user confusion when the addon is reenabled (which commonly occurs after the addon is disabled during an update), because the Dash

[2013-04-08 17:49] mykmelez commented on #385
@jincreator: This particular issue is probably #416, which you should be able to work around by reloading the Dashboard page.

[2013-04-08 19:34] Pikkolo commented on #334
I m very busy and I cannot make a detailed feedback. I can just say that the last release is now working on my linux os and it is not working on windows.

[2013-04-08 22:12] mykmelez commented on #334
@Pikkolo thanks for letting us know that it works for you on Linux! I would be happy to help diagnose the problem on Windows, but I would need more information in order to do so. And I understand that you're too busy to provide it at the moment. So I'm going to go ahead and close this issue. But please do reopen it if you have time to provide more information in the future! (In particular, I would

[2013-04-08 22:19] mykmelez commented on #368
This is probably #416, which you can work around by reloading the Dashboard tab.

[2013-04-08 22:53] Pikkolo commented on #334
Hi, I have added the string ext... to the about:config page and set it to integer value 0.
What happens ( and already happened before this string added ) is that whether i flag or don't flag the console option, when I launch the os simulator from the simulator dashboard, apparently nothing happens. Neither the console nor the simulator window appear :o Hope i can help, let me know how :) Cheers

[2013-04-09 00:03] mykmelez commented on #334
Sorry, I wasn't clear, I meant to look at the Error Console in Firefox, i.e. Tools > Web Developer > Error Console. Try opening that console, then starting the Simulator, and see if any messages appear.

[2013-04-09 15:31] Pikkolo commented on #334
I opened first the error console than the simulator and tons of warnings were listed. But aftert closing firefox, restarting it and trying again, no messages have been shown :o

[2013-04-09 18:17] #416 closed, assigned to mykmelez

[2013-04-09 18:53] nickdesaulniers commented on #358
Fixed in pull request #418

[2013-04-09 18:53] #358 closed, assigned to nobody

[2013-04-09 18:59] nickdesaulniers commented on #408
I just verified push to device to a Geeksphone Peak from OSX.  I would recommend double checking ADB in Linux, since it is a little more involved to get it working within Linux.

Also, really old builds on device have adb, but not the webapp actors, which could be why a device would appear but push would fail.

[2013-04-10 00:07] mykmelez commented on #361
cc: @wbamberg, who is getting involved in Simulator documentation.

[2013-04-10 00:08] mykmelez commented on #346
@rpl: Have you made any progress looking into this?

[2013-04-10 11:27] Progi1984 opened #421 "Emulator : Make a screenshot"
A feature which will be interesting in the emulator will be the availability to make a screenshot of the current state of the emulator.

[2013-04-10 12:14] rpl commented on #346
@mykmelez it should be fixed now (it was one of the "simulated screen
refactoring" motivations)

I'll check again this use case to be sure.

[2013-04-10 14:07] jincreator commented on #385
@mykmelez Sorry, I have no Idea how to reload the Dashboard page. For now, I still can't find menuitem. Could you explain little bit more?

[2013-04-10 16:50] mykmelez opened #422 "reload app in single step from within Simulator"
It should be possible to reload an app in a single step from within the Simulator after making some changes to it, just like it's possible to reload a web page in the browser via View > Reload and the Ctrl/Cmd-R keyboard shortcut.

For a hosted app, this would just reinstall and then restart the app. For a packaged app, it would first repackage the app before reinstalling and restarting it.

The i

[2013-04-10 23:18] #378 closed, assigned to mykmelez

[2013-04-11 13:29] TDYK opened #423 "Iceweasel 22.0a.2"
Hello!
I have Iceweasel, installed on Debian Sid/Experimental from http://mozilla.debian.net/ repo.
Just installed FireFoxOS Simeulator v.3.0pre5, and can not run it. There is the output from terminal:
http://paste.debian.net/248890/
The old version (v.2) worked fine for me.

Best regards,
Dmitri.

[2013-04-11 17:29] mykmelez commented on #423
3.0pre5 uses Add-on SDK 1.14, which perhaps isn't compatible with Iceweasel anymore?

cc: @ochameau and @gozala for their thoughts.

[2013-04-11 17:36] mykmelez commented on #400
When I open the Contacts app, I see a different error:

Timestamp: 2013/04/11 10:31:57
Error: TypeError: mobileConn is undefined
Source File: app://communications.gaiamobile.org/contacts/js/contacts.js
Line: 918

But the app still has some contacts, and it seems to work. As do the "contacts tests" in the UI Tests app. So I'm not sure what's going on here.

[2013-04-11 17:47] mykmelez commented on #385
@jincreator Sorry, I misunderstood the issue you are experiencing. If you can't see the menuitem, then it probably isn't #416. The error in your log says it's happening with line 1017 in simulator.js, but that line in the 3.0pre4 build is a simple call to console.log:

[code]

And "can't access dead object" is supposed to happen when an addon tries to access a DOM object for a DOM window that has

[2013-04-11 17:50] Progi1984 opened #424 ""App Download Stopped""
After some mails with marketplace-developer-support@mozilla.org, we have found a bug.

I use the emulator in version 2.0.1, with Firefox 20.0 et Windows 8 x64.

When i download from the marketplace a package application (and not hosted apps), i have an error :
![bug](https://f.cloud.github.com/assets/1533248/369103/3141417c-a2d0-11e2-9400-92a05cd55ba2.jpg)
**in the marketplace**

[code]

**in the

[2013-04-11 17:51] mykmelez commented on #334
If you press the Errors button in the console, then it should show you only errors, which makes it easier to see if there are any actual errors instead of just a bunch of warnings. You can also do this for messages with the Messages button, and that would be particularly useful, since the Simulator writes a number of messages to the console, and it would be useful to know if it's doing that in you

[2013-04-11 17:51] rpl commented on #365
should be fixed by #375

now app with warnings are market "WARNINGS" instead of "INVALID"

I'm closing it, but please reopen if the current solution is not enough.

[2013-04-11 17:51] #365 closed, assigned to nobody

[2013-04-11 18:18] Pikkolo commented on #334
Ok, i have just done what you suggested. No messages, no errors displayed :o

[2013-04-11 18:39] rpl commented on #424
it looks like a b2g issue, and probably it's already fixed because I've
just tried
on Simulator 3.0pre6dev and ffhelios install and run correctly.

Could you retry on a recent simulator build?
- Windows:
  https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi
- Mac: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi
- Linux:
  https://ftp.mozilla.org/pub/mozill

[2013-04-11 19:25] mykmelez commented on #334
Hmm, that's strange. Even if the addon fails to start the Simulator, it should still write some messages to Firefox's Error Console once you've set that preference.

What is the filesystem path to your home directory? Does it happen to contain any accented characters (f.e. in your username)?

[2013-04-11 19:35] digitarald commented on #238
The first page contains ideas for splitting "add app" into the various app typed and mental models with better guidance: https://dl.dropboxusercontent.com/u/1864007/Mozilla/17-10-12%20-%20Simulator.pdf

[2013-04-11 19:38] Progi1984 commented on #424
Yep, perfect, that solves my bug. Thanks for your help.

[2013-04-11 19:38] #424 closed, assigned to nobody

[2013-04-11 21:07] Pikkolo commented on #334
my username is Pikkolo ... there is no accented characters at all :o i ll wait for next requests <3

[2013-04-12 03:31] mblayman opened #426 "manifest.webapp with a missing icon section caused the simulator to ignore a packaged app"
I had a packaged webapp that had a valid minimum manifest (i.e. name and description), but every time I tried to add it to the simulator via the "Add directory" button, the interface would ignore it. It did not report that the manifest was missing necessary information for packaged apps so I had no direction about what was wrong.

I looked more closely at the manifest page and noticed that package

[2013-04-12 16:17] nickdesaulniers commented on #422
+1

[2013-04-12 16:34] nickdesaulniers opened #427 "Allow for addition of default receipt for installed apps to test paid apps"
If one wants to test receipt validation for a paid app, the appRecord returned by navigator.mozApps.getSelf must have a receipts property that is an array of receipt objects.  If there are no receipts, than it should be an empty array.  Currently, for apps installed through the simulator, the receipts property exists, but is null.  So if I want to test my paid packaged app, I must use the simulato

[2013-04-12 17:00] rpl commented on #422
+1 +prototype :-)

[2013-04-12 23:06] Pikkolo commented on #334
Now I have found some messages :o:

Data e ora: 13/04/2013 01:02:52
Errore: [Exception... "'ReferenceError: self is not defined' when calling method: [nsITimerCallback::notify]"  nsresult: "0x8057001c (NS_ERROR_XPC_JS_THREW_JS_OBJECT)"  location: "native frame :: <unknown filename> :: <TOP_LEVEL> :: line 0"  data: no]

i have just been able to copy one in this message, then i went back to the cons

[2013-04-12 23:30] mykmelez commented on #334
I've been diagnosing several issues with Windows builds, and I found a couple problems, so I created a test build with fixes for them.

https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-3.0pre6dev-windows.xpi

I'm not sure this build will resolve your issue, but please try it out, and let me know how it works for you!

[2013-04-12 23:30] mykmelez commented on #310
I've been diagnosing several issues with Windows builds, and I found a couple problems, so I created a test build with fixes for them.

https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-3.0pre6dev-windows.xpi

I'm not sure this build will resolve your issue, but please try it out, and let me know how it works for you!

[2013-04-12 23:31] mykmelez commented on #380
I've been diagnosing several issues with Windows builds, and I found a couple problems, so I created a test build with fixes for them.

https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-3.0pre6dev-windows.xpi

I'm not sure this build will resolve your issue, but please try it out, and let me know how it works for you!

[2013-04-12 23:38] tobbi commented on #380
Sorry, no luck here. It still closes after a few seconds.

[2013-04-13 02:31] Pikkolo commented on #334
Just installed it and tried to start it without restarting firefox

Data e ora: 13/04/2013 04:28:55
Errore: can't access dead object
File sorgente: resource://gre/modules/XPIProvider.jsm -> file:///C:/Users/Pikkolo/AppData/Roaming/Mozilla/Firefox/Profiles/7pinr898.default/extensions/r2d2b2g@mozilla.org/bootstrap.js -> resource://r2d2b2g-at-mozilla-dot-org/addon-sdk/lib/toolkit/loader.js -> resourc

[2013-04-13 02:33] Pikkolo commented on #334
Restarted firefox and started again firefox os sim, nothing happens and nothing shown on the error console.

I m ready for new requests whenever

Cheers

[2013-04-13 03:22] mykmelez commented on #380
@tobbi Can you use about:config to create the preference extensions.r2d2b2g@mozilla.org.sdk.console.logLevel, setting it to the integer value 0, then try running the simulator again and let me know what messages appear in the Error Console? I'm particularly interested in messages about an exit code. But other messages would also be interesting.

[2013-04-13 10:09] tobbi commented on #380
@mykmelez The only really _interesting_ message I get is this one:
info: r2d2b2g: win32/b2g/b2g.exe terminated with 259 (for the first attempt). The subsequent starts show this:
http://screencast.com/t/KOY1qDL08sOr

From what I can read the second output, it suggests that this was a regular exit?

[2013-04-15 12:26] ochameau commented on #423
Oh, it looks like a bug introduced with the new compatibility per module feature.
I opened a bug about that: https://bugzilla.mozilla.org/show_bug.cgi?id=861826

[2013-04-15 21:48] mykmelez commented on #380
Yes, the second exit looks regular. Strange that it would crash the first time and then exit regularly on subsequent invocations.

Sometimes additional information is displayed when you run the Simulator from a terminal window. Can you start cmd.exe, run it from there, and let me know what gets written to the terminal window? Unfortunately, the Simulator is at a quite complex path, and you have to

[2013-04-16 12:45] jincreator opened #431 "can't find Addon when 'History' is set to ' Never remember history' in preferences"
seperate from #385 because it's absolutely different bug
### details

I have problem find Addon at Nightly 22.0a1(not nightly anymore) + FxOS Simulator 3.0pre4.
I'm now using 23.0a1 + FxOs Simulator 3.0pre6 and still confirm this issue, but seems only me.
I use Firefox with 'Never remember history' and when I change preference and restart, I can see Addon back.

It's hard to find people who set pr

[2013-04-16 12:48] jincreator commented on #385
@mykmelez I think I find the reason. I open new issue, #431
Also, I suggest to mark this issue as closed.

[2013-04-16 17:21] tobbi commented on #380
That's what I get:
 -_\- Shell.js: patch RemoteDebugger.start
###################################### forms.js loaded
############################### browserElementPanning.js loaded
 -_\- Shell.js: injectStylesheet:
######################## BrowserElementChildPreload.js loaded
[AccessFu] INFO attach
 -*- Shell.js: injectStylesheet:
###################################### forms.js loaded
############

[2013-04-16 17:22] #182 closed, assigned to mykmelez

[2013-04-16 17:27] tobbi commented on #380
I think the issue might be that adb.exe is not running for some reason. But I don't know how to restart it.

[2013-04-16 18:03] nickdesaulniers commented on #405
Just a note: you don't specify what codecs you plan on using in your manifest.  Even analyzing the source is problematic because the container format does not tell you what codec is used.  example: The ogg contaner (.ogg files) can use all of [these codecs](http://en.wikipedia.org/wiki/Ogg#Ogg_codecs).

[2013-04-17 18:27] mykmelez opened #435 ""firefox quit unexpectedly." or pegs CPU on Firefox quit while Simulator running"
When I quit FirefoxNightly while the Simulator is running on my Mac, one of two things seems to be happening fairly consistently:
- the OS informs me that "firefox quit unexpectedly";
- a "firefox" process starts pegging a CPU.

I wonder if this is related to the way we use the _subprocess_ module to kill the Simulator process on FirefoxNightly shutdown. Although I only started seeing it recently.

[2013-04-17 19:26] ochameau commented on #435
I haven't experienced anything similar with subprocess. It sounds like a crash on quit.
I'm wondering if we can plug the profiler during firefox quit? It should be easy to identify if some JS code loops or something.

[2013-04-17 20:34] kumar303 commented on #427
I don't really see how the simulator can be responsible for this. Creating a cryptographically valid receipt can only done by a signing authority such as the Marketplace (or any store).

It sounds like the Marketplace is in a better position to offer receipts for developer testing purposes. See these for progress on that:
https://bugzilla.mozilla.org/show_bug.cgi?id=855912
https://bugzilla.mozilla

[2013-04-17 22:10] mykmelez commented on #435
I used Activity Monitor to take a sample, and it generated this call graph, which does appear to show a JS code loop:

[code]

[2013-04-17 22:13] mykmelez commented on #435
I also enabled debug logging in subprocess, which looks like this at the end when Firefox quits correctly:

[code]

When Firefox hangs, however, it looks like this:

[code]

[2013-04-17 22:15] mykmelez commented on #435
I can't seem to get it to reproduce if I comment out either the call to _ADB.kill()_, which starts a new subprocess in order to kill the ADB server, or the call to kill the Simulator. I wonder if starting a new subprocess during shutdown is the problem, although then I would think I would be able to reproduce it even when I comment out the call to kill the Simulator.

That call graph might show a

[2013-04-17 22:23] ochameau commented on #435
There is no sign of FFI calls in the C++ stack trace, so ctypes doesn't seem to be involved.
And even if it appears to be long, it may not be a loop.

What about running two subprocess at the same time, is the library bulletproof to such usage??

[2013-04-17 22:38] mykmelez commented on #435
That's a great question that I don't know the answer to. Perhaps @Yoric knows!

In any case, I do find myself unable to reproduce if I wait until the simulator process is killed to start the process that kills the ADB server. So it may well be an issue with running two subprocesses simultaneously.

And that's a reasonable workaround, so I'm going to commit it, noting in a comment why the subproces

[2013-04-17 23:01] mykmelez commented on #356
Clearing assignee until @nickdesaulniers has time to look at this again, in case someone else wants to pick it up!

Also, note that @rpl modified the workflow in #436, so the workflow I described earlier in this issue may no longer be relevant.

[2013-04-18 01:09] #435 closed, assigned to nobody

[2013-04-18 02:24] mykmelez commented on #380
You shouldn't need ADB to use the Simulator. It's just for communicating with an actual device. And the Simulator should start it for you automatically, the first time you open its Dashboard (to restart it, either restart Firefox or disable/enable the addon in the Add-ons Manager).

I just pushed new preview builds ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi

[2013-04-18 02:25] mykmelez commented on #310
I just pushed new preview builds ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) which resolve this issue on Windows 8!

[2013-04-18 02:25] #310 closed, assigned to mykmelez

[2013-04-18 02:26] mykmelez commented on #334
I just pushed new preview builds ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)). They should resolve that "can't access dead object" error. But I'm not sure that's related to your problem starting the Si

[2013-04-18 02:28] mykmelez commented on #246
We're a couple more preview builds farther by now, and I haven't heard anyone else reporting this problem. So I'm going to optimistically mark it closed. But please feel free to reopen if you experience the problem again (or report a new issue if you have a similar problem but aren't sure if it's the same one)!

[2013-04-18 02:49] Pikkolo commented on #334
Hooray <3 it works :D gratz <3 all the best to you, all the best to mozilla :D

[2013-04-18 04:44] mykmelez commented on #334
Woohoo, that's great! Thanks for sticking with us through all the testing, @Pikkolo!

[2013-04-18 05:01] mykmelez commented on #380
@tobbi Just to make sure I understand correctly: after you saw that last console message ("BrowserElementChildPreload.js loaded"), the Simulator closed, and control returned to the terminal?

[2013-04-18 07:48] tobbi commented on #380
The last message was actually "There are no live subprocesses". But after that, it returned to the terminal.

[2013-04-18 07:49] tobbi commented on #380
Oh, wait, now I got "Subprocesses are still alive. Doing emergency join."

[2013-04-18 08:44] Yoric commented on #435
Which library, exactly?

[2013-04-18 08:55] ochameau commented on #435
subprocess, the jsctypes lib written originaly for enigma in order to run processes with working std IO:
https://github.com/mykmelez/jetpack-subprocess/blob/master/lib/subprocess.js

[2013-04-18 10:38] Pikkolo commented on #334
Ok bad news again :D But maybe I understood why and how to make the firefox os simulator NOT to work on windows. I have started the sim by clicking on the firefox dock button. but then i have closed the firefox simulator window without clicking on the dock button. i have then restarted firefox, and the simulator doesn't start anymore. err .. success ? :D

[2013-04-18 17:06] nickdesaulniers commented on #422
Hey, awesome to see this land in 3.0pre6!  What a nice feature!

One of the things I'm currently working on is using this [new tool](https://marketplace-dev.allizom.org/developers/test/receipts/) to install a hosted app with a valid verifiable receipt.  This requires me to host my app I'm developing behind a domain.  While I develop, I have to push my changes to my remote machine.  Then I have to

[2013-04-18 19:47] Gioyik commented on #421
You can do it, try with the buttom home + end at the same time. It will take you a screenshot.

[2013-04-18 20:15] Progi1984 commented on #421
Perfect :)

But no way to remove the button bar in the bottom ?

[2013-04-18 20:19] mykmelez commented on #380
Hmm, strange. Those messages are printed by [ContentParent::JoinAllSubprocesses](http://mxr.mozilla.org/mozilla-central/source/dom/ipc/ContentParent.cpp#347), which is called only by [PowerManagerService::restart](http://mxr.mozilla.org/mozilla-central/source/dom/power/PowerManagerService.cpp#138), which itself only seems to be called by [UpdatePrompt.restartProcess](http://mxr.mozilla.org/mozilla

[2013-04-18 20:21] Gioyik commented on #421
Buttom bar in the bottom? Could you be more speciffic or possibly show me a screenshot?

[2013-04-18 20:24] mykmelez commented on #334
By "dock button", do you mean the button in the Dashboard interface that opens in a tab when you select Web Developer > Firefox OS Simulator? If so, then it should be ok to close the Simulator window without clicking on that button. It isn't necessary to click on that button to close the Simulator.

However, if the Simulator process failed to stop for some reason, then that might explain why you c

[2013-04-18 20:24] Progi1984 commented on #421
Like this one :
![2013-04-18-22-14-11](https://f.cloud.github.com/assets/1533248/399054/fa236454-a865-11e2-9d9e-1004f7373d3e.png)

[2013-04-18 20:26] mykmelez commented on #334
cc: @ochameau for his thoughts on this one too!

[2013-04-18 20:34] Pikkolo commented on #334
As I wrote before, I am still now unable to start the simulator again. nothing happens ... just like what i described in the first post on this issue :(

[2013-04-18 20:34] Gioyik commented on #421
It's possible but i am not sure why you like remove it. However if you think that is a good function remove this bar and good to be added in the next version of the simulator, please fill other bug.

I think that the main problem (take a screenshot) in this bug was solved, so, if you have other problems or you have a suggestion, please open other issue.

Solved @mykmelez :)

[2013-04-18 20:37] Progi1984 commented on #421
Yep, exactly.

I close and open an another bug.

Thanks @Gioyik !

[2013-04-18 20:37] #421 closed, assigned to nobody

[2013-04-18 20:40] Progi1984 opened #440 "Emulator : Remove the bar from the screenshot"
Following this bug #421 , i create this ticket.

Why ? A screenshot in the emulator seems like in a real phone, so no bar. And it's more easier to make a screenshot for putting on the Marketplace.

Poke @Gioyik

[2013-04-18 20:42] Gioyik commented on #276
This is present in the version 2.0.1, i can unistall all webapps

![Captura de pantalla de 2013-04-18 15:38:14](https://f.cloud.github.com/assets/1834718/399121/11856f3c-a868-11e2-8caa-1b2e6fcdc8ee.png)

[2013-04-18 20:48] Gioyik commented on #440
I understand now the problem. I reproduce it. Well yes, take a "native screenshot" with the simulator shows you the bottom bar with the home icon. Not good :(

I think that this could be marked as "feature-request".

Ping @mykmelez

[2013-04-18 20:54] Progi1984 commented on #440
Thanks :)

[2013-04-18 21:17] mykmelez commented on #440
Indeed, a screenshot taken within the simulation shouldn't show the toolbar at the bottom of the Simulator window!

[2013-04-18 21:19] mykmelez commented on #334
@Pikkolo Did you try going to the Task Manager to see if there's a hung b2g.exe process?

[2013-04-18 21:20] Pikkolo commented on #334
Yeah. It neither appears or disappears. No sights of b2g.exe process :(

[2013-04-18 21:40] Gioyik commented on #440
So, @mykmelez Could be possible to think this as a feature in the future for the simulator? Take a creenshot without the bottom bar? :)

[2013-04-18 21:49] mykmelez opened #441 "must reconnect USB/restart "remote debugging" to connect to device after restarting Firefox"
When you quit Firefox, the addon kills the adb server; then, when you start Firefox again and open the Dashboard, it starts the adb server again. But the device doesn't reconnect to the new adb server process until you disconnect and reconnect the device (i.e. unplug and replug the USB cable) or restart remote debugging on the device by toggling the "remote debugging" checkbox.

It should simply r

[2013-04-18 21:57] mykmelez opened #442 "add make clean target"
We should have a `make clean` target that removes downloaded and generated files, including:
- B2G package and bindir (addon/data/PLATFORM/b2g/)
- ADB package and bindir (addon/data/PLATFORM/adb/)
- Gaia profile and associated files (addon/template)
- gaia/build/custom-prefs.js
- perhaps also a `make clean` in the gaia/ subdirectory

[2013-04-18 22:15] mykmelez commented on #196
Adding this to prosthesis/defaults/preferences/prefs.js should fix this, but it doesn't:

[code]

I'm not sure why that is.

[2013-04-18 22:43] mykmelez opened #443 "refresh hosted app that wasn't installed by Dashboard"
If a hosted app wasn't installed by the Dashboard, the Simulator should still have enough information about the app to reinstall and restart it, so it should do so when the user selects Refresh. That way a user who installs a hosted app directly in the Simulator, for whatever reason (f.e. @nickdesaulniers's [test app with receipt use case](https://github.com/mozilla/r2d2b2g/issues/422#issuecomment

[2013-04-18 22:43] mykmelez commented on #422
@nickdesaulniers I filed issue #443 on a solution to your problem. Please comment there about whether or not it would solve your problem!

[2013-04-18 22:47] mykmelez commented on #443
FWIW, it should be possible to refresh a directly-installed packaged app this way as well, although it would be a lower priority to make that work, since we don't have a specific use case for it (generally speaking, users might want to try installing apps on the Simulator via the Marketplace or their own server to test out the end-to-end process of installing and using an app).

[2013-04-18 22:49] mykmelez opened #444 "simulator should disable refresh button if app is not refreshable"
If an app is not refreshable, the Simulator should disable the Refresh command while that app is active. I'm thinking in particular of core apps (including the Homescreen) as well as hosted/packaged apps that the user installed directly instead of through the Dashboard (at least until we fix #443).

cc: @rpl!

[2013-04-18 22:54] nickdesaulniers commented on #443
Users won't be able to install packaged apps from their own site because packaged apps need to be signed.  Theoretically, a user could sign with their own certificate and use a custom build of the simulator with a custom build of gaia with their cert, but that's rather impractical.

But if a user installs a packaged app from the marketplace, it wont show up in the dashboard.

[2013-04-18 22:56] nickdesaulniers commented on #346
Not fixed as of 3.0pre6 :(

[2013-04-18 23:06] mykmelez opened #445 "load scripts via <script> tags in Simulator shell"
The Simulator shell has some code that looks like this:

[code]

But I bet that weird bug isn't around anymore, and we can load those scripts via regular `<script>` tags. We should do that.

[2013-04-18 23:52] nickdesaulniers commented on #445
I [just tried this](https://github.com/nickdesaulniers/r2d2b2g/commit/30337c2a59bd5e712bd8f793f3875441115f9e66) but the shell was mad broke.

[2013-04-18 23:59] mykmelez commented on #431
I see this problem with the latest nightly and the latest preview build (3.0pre6). When I set extensions.logging.enabled to true and restart Firefox from the command line, the following shows up in the terminal:

[code]

But Tools > Web Developer > Firefox OS Simulator is missing. If I load Dashboard directly by entering its URL (resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.htm

[2013-04-19 00:00] mykmelez commented on #385
@jincreator Thanks for figuring that out! I've done some testing and added some notes to the new issue. Hopefully we can resolve it soon!

[2013-04-19 00:00] #385 closed, assigned to nobody

[2013-04-19 00:04] nickdesaulniers commented on #442
Note: B2G package and bindir (`addon/data/PLATFORM/b2g/`) on OSX is `addon/data/PLATFORM/B2G.app/`

[2013-04-19 00:07] mykmelez commented on #445
That's probably because those scripts still should load after at least some of the other scripts that we load via &lt;script> tags. Also, some of them may assume that they are being loaded lazily (i.e. on ContentStart) and do things that can't be done before then. For those scripts, we need to tease out those parts and wrap them in ContentStart event listeners.

So I will reopen for some additiona

[2013-04-19 14:24] rpl commented on #346
This is really unfortunate :-(
If I correctly understand the problem, this is not happening on my system anymore,
but I've tried on a mostly empty application with an orientation attribute in the manifest.

@nickdesaulniers can u send me the app you're using to test this issue and/or a screencast
so I can better understand the issue and how to reproduce it?

[2013-04-19 16:16] jeffgca opened #448 "Error when loading new url into simulator page"
If I open the app manager, then paste a new url into the location bar I see this traceback:

Timestamp: 2013-04-19 8:27:45 AM
Error: r2d2b2g: An exception occurred.
Traceback (most recent call last):
File "resource://r2d2b2g-at-mozilla-dot-org/addon-sdk/lib/sdk/tabs/tab-firefox.js", line 69, in _onReady
this._emit(EVENTS.ready.name, this._public);
File "resource://r2d2b2g-at-mozilla-dot-org/addon-

[2013-04-19 16:18] mykmelez commented on #346
I'm unable to reproduce. My steps are:
- add the Mykzilla app: http://mykzilla.org/app/manifest.webapp
- stop the Simulator
- press the Mykzilla app's Run button in the Dashboard
- press the Rotate button in the Simulator

When I do that, the Simulator changes its orientation as expected. I'm testing with 3.0pre6 on Mac.

@nickdesaulniers Which app are you using to test, and on which OS?

[2013-04-19 16:31] mykmelez commented on #448
Oof, I see that too. We experimented with using _addon-page_ to hide the top chrome, including the location bar, to make the Dashboard look more like part of the application's interface than a web page (à la Add-ons Manager), which would reduce the risk of this happening.

But it stopped working when we moved the location of the Dashboard's HTML file in the addon source; and it exhibited other pro

[2013-04-19 16:44] mykmelez commented on #440
@Gioyik I think of it more as a bug than a feature: it isn't intended for the bottom bar to be in these screenshots, so it shouldn't be, which makes its presence a bug!

[2013-04-19 17:05] nickdesaulniers commented on #346
Oh so it is working correctly.  The app I was testing with had the values in the manifest:
"orientation": "portrait-primary"

[2013-04-19 17:07] jeffgca commented on #448
@mykmelez / @ochameau  if there are key things we need to build in Jetpack to help with this, please file bugs and cc me. I makes me sad Add-on Page hasn't gotten the love it needs to be useful, but I'm also unsure a content page is the right answer for the app manager, as opposed to a separate window?

[2013-04-19 17:16] mykmelez commented on #346
Yup, that locks the orientation, so it's expected that the orientation won't change. However, it isn't very clear why it doesn't. So there's more work to do here on the user experience. Ideas off the top of my head:
- disable the button when it isn't possible to change the orientation
- add a tooltip to the button when it's disabled that explains why the orientation can't be changed
- make the but

[2013-04-19 17:32] ochameau commented on #448
I think we are missing listeners for pagehide/pageshow here:
  https://github.com/mozilla/r2d2b2g/blob/master/addon/lib/simulator.js#L115-L118

Otherwise, I've already seen some report of the painfullness of workers going to the bfcache. I think that adding an attribute to know if a worker is reachable (not ready yet, destroyed or in bfcache) would help and also, eventually remove the exception, o

[2013-04-19 17:46] mykmelez commented on #448
@canuckistani: @ochameau and I have discussed the relative merits of implementing the App Manager as a page versus a tab in the Developer Toolbox. And @tsmuse has begun designing integration of Dev Kit functionality into the Simulator, including a mockup of some minor changes to the Simulator Dashboard in [bug 858277](https://bugzilla.mozilla.org/show_bug.cgi?id=858277) along with an idea for a pe

[2013-04-19 21:08] mykmelez commented on #346
Mmm, let's actually open new issues for the various enhancements. The better to track discrete units of work!

[2013-04-19 21:08] #346 closed, assigned to nobody

[2013-04-19 21:23] jeffgca commented on #448
@mykmelez Bill and I also struggled with this when discussing use cases last week. I agree that the UI should not be in the current devtools toolbox, so our choices are a discrete page or a discrete tab, or possibly both? I might be tempted to advocate both because I think the small-screen laptop use case might be better with a tab whereas a multi-monitor set-up might lend itself to having a discr

[2013-04-19 21:55] wbamberg opened #450 "Can't use geolocation API in web app"
When I use the geolocation API in the Simulator, I get an error like this:

[code]

This is "Permission denied" according to https://developer.mozilla.org/en-US/docs/DOM/window.navigator.geolocation.getCurrentPosition#PositionError. But I (think I) am correctly requesting the geolocation permission in my manifest, and the Simulator does not give me any warnings about the manifest having problems.

[2013-04-19 22:33] mykmelez commented on #450
@wbamberg Are you using the stable release of the Simulator by any chance? That version doesn't yet have geolocation support. But the latest preview build does ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xp

[2013-04-20 00:12] mykmelez commented on #450
Also cc: @nickdesaulniers, who implemented geolocation support, and @rpl who recently improved it, in case they have insight.

[2013-04-20 00:14] wbamberg commented on #450
I was definitely using the pre-release of the Simulator (3.0pre6) (I know this because I tried setting a custom location using the toolbar button), and Firefox could determine the position. But the mere act of you looking at the example apparently caused it to start working again.

So I suppose this is invalid, and I'm sorry for wasting your time, as well as confused.

[2013-04-20 00:14] #450 closed, assigned to nobody

[2013-04-20 00:23] mykmelez commented on #450
No worries! Who knows, maybe there's a bug here somewhere, and we just haven't figured out what it is yet. In any case, please reopen the issue if you experience the problem again!

[2013-04-20 00:31] mykmelez commented on #450
One issue that has tripped up a few developers is that an app has to pre-request the geolocation permission in its manifest. This can be unexpected for two reasons:
1. a regular web page in Firefox doesn't need to pre-request permission to use geolocation (although Firefox still asks the user to confirm the request);
2. a webapp didn't need to pre-request permission in the original security model,

[2013-04-20 00:42] mykmelez opened #451 "subtly notify developer when packaged app installation is out-of-date"
If a developer changes a packaged app and then neglects to update it (i.e. reinstall it in the Simulator), they might be confused when they start the app and don't see their changes.

The Simulator should reduce the likelihood of this happening by monitoring the status of the app's source files (including but not limited to the manifest) and subtly notifying the developer—both in the Dashboard and

[2013-04-20 00:44] mykmelez commented on #450
But even if it isn't what happened to you, it suggests that the Simulator should monitor source files, including but not limited to the manifest; and if one of them changes, the Simulator should subtly notify the developer that the app is out-of-date and give them a happy path for updating it. I have opened issue #451 on that.

[2013-04-20 14:37] benfrancis commented on #221
This has come up a few times at the Madrid app workshop. Some web servers like Rails apparently automatically add the charset to the content type header and it can be difficult to configure. The simulator is being too picky!

[2013-04-20 15:56] benfrancis commented on #221
CC @Rik

[2013-04-20 15:56] benfrancis opened #452 "When pushing app to device, app icon doesn't appear until phone rebooted"
Reproduced with Firefox OS Simulator 3.0 preview 6(?) and a Geeksphone Keon.

Reproduced by several people at Madrid app workshop.

CC @Rik

[2013-04-20 16:26] rpl commented on #452
seems like bugzilla 842725 (https://bugzilla.mozilla.org/show_bug.cgi?id=842725)
probably is not yet included in the b2g version installed on the Geeksphone Keon stock ROM.

Could you get from that phone the following data?
- Settings -> Device Information -> Software
- Settings -> Device Information -> More Information:
  - Platform Version
  - Build Identifier

[2013-04-20 17:06] mykmelez commented on #452
It would also be useful to know if you saw this with both hosted and packaged apps or only with packaged ones, since the bug that @rpl references was specific to packaged apps.

Boy, I sure hope those phones have newer ROMs. Although I also hope this problem turns out to be that bug, since the fix is then to update the phone, which hopefully is simple enough.

[2013-04-20 21:49] Gioyik commented on #440
Thanks @mykmelez

[2013-04-20 23:29] mandel99 opened #453 "Easy system uninstall - easy remove"
Go to "Settings" -> "App permissions" -> click on "System" and "Uninstall app"
restart the system.. nothing? system is gone..

[2013-04-22 12:57] ochameau commented on #334
I think that the dock icon Pikkolo is refering to are the Windows seven new task bar that is similar to the Mac dock now.
@Pikkolo Do you still see error in the JS console? If yes, may you paste them again?
I tried hard to test various random way to launch'n close firefox with the simulator and wasn't able to reproduce your issue.

[2013-04-22 13:16] Pikkolo commented on #334
When i refer to the dock, it's the Simulator Dashboard " start / stop " dock button :o

[2013-04-22 14:48] ochameau commented on #380
I confirm what you said about UpdatePrompt. Did someone on platform ever tried running b2g on win8?!

Were you able to find a free Win8 ISO to install in a VM?

[2013-04-22 14:55] ochameau commented on #179
Wouldn't it be a freeze when the xpi is unzipped in profile?

[2013-04-22 15:43] mykmelez commented on #380
Heh, I don't think anyone besides Simulator developers are testing even on Windows 7. :-/

Erm, not sure if this question was for me, but I do now have a (not free, but rather purchased) license for Windows 8, which I've installed in a VM and can use to diagnose Windows 8-specific issues.

[2013-04-22 16:03] mykmelez commented on #179
I think this is actually different from issue #83, which is about the freeze that occurs when the XPI is unzipped as part of the installation process. This freeze occurs when a user enters the URL to the XPI into the "URL for page or manifest.webapp" field of the Dashboard.

When a URL is entered into that field, the addon checks to see if the URL references a manifest; and if so, it changes the A

[2013-04-22 17:55] mykmelez commented on #448
Fixed by #454.

The toolbox has both "bottom bar" and "separate window" modes.

Generally speaking, I imagine that the toolbox's bottom bar mode is there because it puts the toolbox as close as possible to its target (i.e. the page being developed) to minimize the effort required to switch between them. And the separate window mode is available both because some developers prefer it (perhaps becau

[2013-04-22 17:55] #448 closed, assigned to nobody

[2013-04-22 18:20] wfwalker commented on #427
Can we wire up the simulator to somehow use https://marketplace.firefox.com/developers/test/receipts/ ?

[2013-04-22 20:07] mykmelez commented on #196
#457 fixed horizontal resizing. Unfortunately, it looks like we can't fix vertical resizing, or at least we haven't found a way to do so. So I'm going to close the issue, as we've gotten as close as it looks like we can get.

[2013-04-22 20:07] #196 closed, assigned to nobody

[2013-04-22 20:47] mykmelez commented on #356
Fixed by #446.

[2013-04-22 20:47] #356 closed, assigned to nobody

[2013-04-22 20:48] mykmelez commented on #343
Fixed by #456.

[2013-04-22 20:48] #343 closed, assigned to mykmelez

[2013-04-22 20:54] mykmelez commented on #221
@digitarald Is this a straightforward, low-risk fix that you could make in short order? Given that multiple folks ran into this problem at the Madrid workshop, we should get it into v3.

[2013-04-22 20:59] digitarald commented on #221
That is a simple low-risk fix! I will provide a pull request.

[2013-04-22 21:19] nickdesaulniers commented on #452
@rpl is right: the geeksphones are running 1.0.1.  The unagis running 1.1.0 do not have this problem.  At least now the geeksphones are receiving updates, but they only update to the latest 1.0.1, not 1.1.0.

[2013-04-22 21:51] nickdesaulniers commented on #442
Fixed in #447

[2013-04-22 21:51] #442 closed, assigned to nobody

[2013-04-22 22:11] mykmelez commented on #453
I'm sorry you got bit by this bug! It's another case of #276. We'll fix it, but in the meantime, the workaround to get your Simulator installation working again is to reinstall the addon.

[2013-04-22 22:11] #453 closed, assigned to nobody

[2013-04-23 00:32] mykmelez opened #459 "update ADB to use new nsIDOMTCPSocket interface"
[Bug 831107](https://bugzilla.mozilla.org/show_bug.cgi?id=831107), which landed on mozilla-central last Friday, April 19, made an incompatible change to nsIDOMTCPSocket that breaks the Simulator's use of it to communicate with devices via ADB.

We need to update the Simulator to use the new interface on Nightly (23+) while continuing to use the existing interface on Aurora and older versions of Fi

[2013-04-23 00:44] mykmelez opened #460 "Dashboard doesn't see connected device on first open"
The first time the Dashboard opens, it doesn't see a connected device. The console suggests that it starts adb but never sees the startup process complete:

[code]

The workaround is simple: reload the Dashboard, at which point the startup process completes:

[code]

This used to work. Not sure why it doesn't anymore. Perhaps it's a regression from our switch from nsIProcess to the Subprocess modu

[2013-04-23 05:03] khajafairoz opened #461 "How to change the direction (right to left) of reader."
Hi, I am developing a arabic book reader, so i have display the reader as 'rtl' (right to left) direction, i am not getting how to do it please any one can help.

[2013-04-23 07:03] wfwalker opened #462 "Settings app on simulator doesn't show same set of locale choices as b2g phone"
When I go to the Settings app on my Unagi b2g phone, I get to choose from among nearly two dozen languages; when I do the same thing from Simulator 3.0 pre6, I can choose only English, French, Chinese, and Arabic. I would like to test the Portuguese localization of my app using the simulator, but don't know how.

[2013-04-23 16:36] mykmelez commented on #462
I don't think we want to include the full two dozen languages that are on the Unagi development devices. Each language adds to the Simulator's already-significant download size, and a full set (currently 46 in Gaia's languages_all.json configuration file) adds ~3MB. But we should certainly add a few more languages to the list, including Portuguese. I hear that the following would be particularly v

[2013-04-23 21:18] mykmelez commented on #462
[Minus two stars for not having Spanish!](https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/reviews/456578/)

[2013-04-23 21:33] potch opened #464 "Make bundled adb play nicely with running system ADB"
When I start up the simulator, I run into issues where the device isn't seen, or my resident adb will no longer see connected devices. I believe they are fighting for the same ports/residency on my system. We should investigate how to either
- use a running ADB daemon, or
- possibly start on a different port (I don't know whether this is possible)

[2013-04-24 08:46] Yoric commented on #435
No clue, sorry.
I just remember that IO was tricky.

[2013-04-24 13:42] ochameau commented on #197
Opened platform bug to fix that in b2g desktop:
  https://bugzilla.mozilla.org/show_bug.cgi?id=865210
We can also fix window title in desktop as well.

[2013-04-24 14:54] ochameau commented on #197
I just submitted a patch to fix both the icon and title.

[2013-04-24 14:58] ochameau commented on #276
Ideally we would use same codepath than the one being used on device, where system apps are being processed and made non-removable on first launch:
  http://mxr.mozilla.org/mozilla-central/source/dom/apps/src/Webapps.jsm#430
So ideally, we would replace this ifdef with a preference in order to be able to run this code.

[2013-04-24 23:16] #221 closed, assigned to mykmelez

[2013-04-24 23:37] #459 closed, assigned to mykmelez

[2013-04-24 23:49] wfwalker commented on #427
see https://bugzilla.mozilla.org/show_bug.cgi?id=865498

[2013-04-25 17:55] mykmelez commented on #462
In 6657abbfbb048af8c4c96ea15623163d573164de I added a languages file with the following languages:
- عربي
- Deutsch
- English (US)
- Español
- Français
- עברית
- Hrvatski
- Magyar
- Português (do Brasil)
- 正體中文 (繁體)

That's the file I'll use to create builds like the latest preview build, which I pushed this morning.

[2013-04-25 17:55] #462 closed, assigned to mykmelez

[2013-04-25 17:56] mykmelez commented on #460
Fixed by #467.

[2013-04-25 17:56] #460 closed, assigned to mykmelez

[2013-04-25 18:00] nickdesaulniers commented on #452
@benfrancis , now that geeksphones are receiving updates... can you update your device and reopen this, if it is still a problem?

[2013-04-25 18:00] #452 closed, assigned to nobody

[2013-04-25 18:08] mykmelez commented on #361
@wbamberg drafted docs for the Simulator on the following MDN page:

https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator

Please take a look and send him comments!

He didn't include screenshots for the "push to device" feature because he doesn't have a device. So it would be very helpful for someone with a device to take that on.

[2013-04-25 18:11] nickdesaulniers commented on #414
Yeah remote debugging is some busted-ness.  If I try using the connect dev tool, it times out.  So then I run `adb forward tcp:6000 tcp:6000`, then try connect again, and I get a prompt on device, and after accepting it, I get a web console window, but it just reports a timeout error after a few seconds of not displaying anything from device.  The timeout error looks like `Connection timeout. Chec

[2013-04-25 18:14] mykmelez commented on #452
If the geeksphones are going to be on 1.0.1 for a while, then perhaps we should revisit the decision not to land the fix for [bug 842725](https://bugzilla.mozilla.org/show_bug.cgi?id=842725) on that branch. cc: @fabricedesre

[2013-04-25 18:16] nickdesaulniers commented on #361
What a nice looking MDN page, @wbamberg !  I'll take a look at it add some things.

[2013-04-25 18:18] benfrancis commented on #452
My Keon already has the latest update available, there's only been one of them. I don't know of any plans to move Keons off 1.0.1 in the forseeable future...

[2013-04-25 18:22] nickdesaulniers commented on #452
@benfrancis Right, they were on an older version of 1.0.1 when you opened this issue.  Then geeksphone released an OTA update, that kept the phone on 1.0.1 but fixed many bugs that had known fixes (including the patch that enabled push to device to work correctly, that @mykmelez referenced). cc @digitarald
@mykmelez everything should work now, the problem was geeksphones not being up to date on 1.

[2013-04-25 18:45] nickdesaulniers commented on #414
The [issue in bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=797627) is in the works by @jimblandy

[2013-04-25 19:27] digitarald commented on #452
As the fix didn't land in 1.0.1, you'll need to restart B2G until Keons get 1.1. The fastest way I found is `adb shell "stop b2g && start b2g"`

I agree with @mykmelez that this is a bad experience for a "developer phone", but as it doesn't break the experience for "normal" use I don't see how we could get TEF to revisit the bug.

[2013-04-25 19:36] benfrancis commented on #452
@nickdesaulniers The bug is still reproduceable even with the latest update because Keons still run 1.0.1 as @digitarald says.

[2013-04-25 20:22] mykmelez commented on #414
The Simulator is a devtool, so it can be both! ;-)

Indeed! However, in the short run, the Simulator is the easiest way to install ADB, connect to a device, and push apps to it. So it makes sense to enhance that functionality with the additional ability to easily connect the remote debugging tools so you can debug those apps.

[2013-04-25 20:25] mykmelez commented on #452
I don't know what the specific criteria are, but generally speaking, I presume that 1.0.1 distributors will want developers to build apps for their devices, and therefore they will consider fixing bugs that impact those developers. In any case, there's no harm in asking.

[2013-04-25 20:49] mykmelez commented on #361
@wbamberg There's an older MDN doc on the Simulator that is probably out-of-date by now:

https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Using_Firefox_OS_Simulator

It seems like we should consolidate these docs, adding info as appropriate from the older doc into the newer one and then redirecting the old one to the new one, so users always see a single page with the most up-to-date i

[2013-04-25 20:52] mykmelez commented on #361
We should probably also redirect this whole section of the Packaged Apps doc to the appropriate section of the Simulator page:

https://developer.mozilla.org/en-US/docs/Apps/Packaged_apps#Testing_packaged_app_installation_%28with_Simulator%29

Presumably we can't do this automatically (i.e. via an HTTP redirect), since it's a section of a page rather than a whole page; but we could do it manually

[2013-04-25 20:52] nickdesaulniers commented on #452
@benfrancis , @digitarald , I don't believe that's correct.  I just successful pushed to my peak, running 1.0.1.  @digitarald , we were not able to push without restart initally when the devices weren't receiving OTA updates.  After they did, we could.  @fabricedesre's patch should be in 1.0.1.  Correct me if I'm wrong, but it WFM on a 1.0.1 Peak.

[2013-04-25 20:55] nickdesaulniers commented on #361
In the [Installing the Simulator add-on section](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Installing) the link to install from is an old version because we haven't yet gotten v3 reviewed.  The old version doesn't have some of the features such as orientation change or geolocation change.

[2013-04-25 20:55] wbamberg commented on #361
@mykmelez - yes, once we're happy enough with the new page we'll replace the old one and have redirects and links to the new stuff. @a2sheppy is in town this weekend, so we can make that happen then.

When do you expect 3.0 to ship?

[2013-04-25 21:03] nickdesaulniers commented on #452
Ah, trying with a second app, I did have to restart device.  So I guess it's not in 1.0.1.

[2013-04-25 21:43] digitarald commented on #452
This only affects the first-time push, updating the app works just fine as the icon is already in place.
https://bugzilla.mozilla.org/show_bug.cgi?id=842725 is wontfix for 1.0.1 (_Tracking Flags_, listed in the lower left corner).

[2013-04-25 21:44] wbamberg commented on #361
@nickdesaulniers  - yes, I was thinking that this documentation would be "released" along with 3.0 of the Simulator, at which point the version on AMO should be correct. But maybe it would be better to link to the pre-release build and note that it currently documents a pre-release, then we can just update that when 3.0 ships...

[2013-04-25 22:12] rpl commented on #452
after the first-time push, updating the app manifest needs a device restart
to be effective (e.g. changes on the name, orientation or permission
attributes)

[2013-04-25 22:12] nickdesaulniers commented on #361
I suspect that once 3.0 ships, @mykmelez doesn't plan on having preview builds anymore, since developers need to manually update them?

[2013-04-25 22:14] mykmelez commented on #197
@ochameau I added the title to prosthesis in a03e47eca736bcf49e1d229dc4d5b7aa16978787, not just because @vingtetun doesn't want it in B2G, but also because adding it to B2G wouldn't actually add it to the Simulator, since the Simulator uses its own shell.xul, which is not merely a XUL overlay onto B2G's shell.xul but is rather a distinct XUL document that overrides B2G's version (although it reuse

[2013-04-25 22:36] nickdesaulniers commented on #389
bump @DhruvKalaria

[2013-04-25 22:36] nickdesaulniers commented on #205
bump @hfiguiere

[2013-04-25 22:42] nickdesaulniers commented on #423
The above referenced bug was marked as a [dupe of a bug](https://bugzilla.mozilla.org/show_bug.cgi?id=855651) that was marked resolved on 4/20/13.  Not sure if it has made it yet into release versions of Ice Weasel, or if we need to update our version of the Add-on SDK? @mykmelez

[2013-04-25 23:04] ochameau commented on #197
/me agree

[2013-04-25 23:04] mykmelez commented on #423
Firefox now ships with cuddlefish.js, but the Simulator also ships with its own copy of cuddlefish.js from Add-on SDK 1.14, and I'm not sure which version it prefers when both are available.

If it prefers Firefox's version, then Iceweasel will work once it pulls upstream changes from Firefox after Firefox pulls upstream changes from Add-on SDK. Otherwise, Iceweasel won't work until the Simulator

[2013-04-25 23:11] TDYK commented on #423
Hi.
IDK, if it is that thing, when i tried to make some changes in cuddlefish.js form ~/.mozilla/firefox/xwskga81.default/extensions/r2d2b2g@mozilla.org/resources/addon-sdk/lib/sdk/loader/
nothing happened, because it was
jar:file:///usr/lib/iceweasel/xulrunner/omni.ja!/modules/commonjs/sdk/loader/cuddlefish.js
in use.

[2013-04-25 23:13] ochameau commented on #423
Repacking won't have any effect on cuddlefish on Firefox/Iceweasel 21+.
Starting with 21 and when using SDK 1.14+, we always use firefox modules, even cuddlefish.
The only one file that can require a repack is bootstrap.js and eventual modification being done to the harness-option manifest.

[2013-04-25 23:16] nickdesaulniers commented on #357
Fixed in #446

[2013-04-25 23:16] #357 closed, assigned to nickdesaulniers

[2013-04-25 23:21] nickdesaulniers commented on #412
For a packaged app, the launch_path refers to a static asset that must exist.

For a hosted app, it is optional, pointing to an index asset if not specified, or a network request-able asset otherwise.

[2013-04-25 23:21] ochameau commented on #414
Until https://bugzilla.mozilla.org/show_bug.cgi?id=797627 is landed in m-c _and_ uplifted to gecko-18,
for devices, we can only connect in the system app. (As that's the only app living in the parent process, may be browser app too)
Connecting to the system app might be broken as well, but that's something we should be able to fix before bug 797627 is fixed. But do we care about providing access t

[2013-04-25 23:23] mykmelez commented on #361
I hope to ship it late next week, but I expect to ship it early the following one.

I do still plan to have preview builds, but I hope to be able to distribute them from AMO via its [beta channel](https://addons.mozilla.org/en-us/developers/docs/policies/maintenance#beta-addons), which updates them automatically. But that will require the Simulator to get full review, which will take review time a

[2013-04-25 23:26] mykmelez commented on #166
Given the issues in the pull request, it feels scary to take this at the end of a development cycle. Even though it's very important, I'd rather land it at the beginning of the next cycle. So I've removed its milestone/priority settings pending reprioritization for the next milestone.

[2013-04-25 23:40] nickdesaulniers opened #470 "Use watch position for geolocation"
The user/developer's current coordinates may change as they develop.  Use watchPosition instead of [getCurrentPoition](https://github.com/mozilla/r2d2b2g/blob/6d2b02252b55acd17485457e45cdfbd2438ba1ff/addon/lib/remote-simulator-client.js#L253).  You would then need to add an r2d2b2g:geolocation-stop request from shell on custom selection to the dbg-simulator-actors, then to remote-simulator-client.

[2013-04-25 23:42] nickdesaulniers commented on #361
In the [Managing Apps Section](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Managing_apps), where it says `It also gives us three commands:` is it too early in the page to mention the fourth, Push to device if connected?

[2013-04-25 23:45] nickdesaulniers commented on #361
In the [Running the Simulator section](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator#Running_the_Simulator) where it says `if you add or update an app, ...` should also mention if you remove an app.

[2013-04-26 00:21] mykmelez commented on #334
I'm stumped.

I tried various ways to reproduce this issue, but I haven't been successful. And without being able to reproduce it, it's very hard to resolve it. Nevertheless, it's still important to resolve, because if one person is having it, then probably many others are too. But I don't know what to do next, and it's also important to release the next version for folks who can use it.

So I'm g

[2013-04-26 00:25] mykmelez commented on #380
Without being able to reproduce this issue, it's very hard to resolve. That doesn't make it unimportant. To the contrary, if one person is experiencing it, then likely many others are too, which makes it very important to resolve! However, it's also important for us to ship the next release to the folks who can take advantage of it.

So I'm going to move this out of the v3 milestone, but I'm still

[2013-04-26 16:00] nickdesaulniers commented on #334
Maybe Pikkolo could make a video of the issue for us, since 1000 rapidly moving images are worth 1,000,000 still images, which are worth 1,000,000,000 words!

[2013-04-26 18:03] wbamberg commented on #361
@ nickdesaulniers, thanks for the comments!

I added a little box at the top explaining that this documents a preview release (I don't like piling up these little boxes, but at least this one will be gone soon!) and updated the link. I'll go back and revert that when we release 3.0.

I also added your other suggestions, which made sense to me.

[2013-04-26 20:59] mykmelez commented on #197
@vingtetun granted review on the patch in bug 865210. It hasn't landed yet, but I applied it to the b2g18 branch, rebuilt B2G with it, and then rebuilt the Simulator with the rebuilt B2G. So the latest preview release of the Simulator contains the change.

And it works on Windows and Linux. But on Mac the dock icon is still generic. So it looks like there is something more to do still.

Thus I'll

[2013-04-26 23:44] mykmelez commented on #470
We shouldn't need a timer at all after switching to watchPosition. At that point FakeGeolocationProvider can simply update its callback each time it receives an update from Firefox (when "current coordinates" is selected and the watchPosition callback gets an update) or from the shell (when "custom coordinates" is selected and the developer updates the coordinates).

[2013-04-27 00:00] mykmelez commented on #414
I don't think it's valuable to connect to the system app. But in any case I just tested with today's nightly build, and the Connect dialog doesn't show me any available tabs on my Unagi device, just the Main Process. And connecting to it doesn't show any messages in the Web Console nor available scripts in the Debugger. But the fix for bug 862142 landed several days ago. So I don't think that's th

[2013-04-27 10:13] ghost opened #472 "Simulator not being able to install App,error->badParameterType:missing directory /tmp/b2g"
I am currently running Firefox 19 and i have added the simulator as an add-on.When i try to install a App,an error pops displaying:
badParametertype:missing directory /tmp/b2g/{bunch-of-characters which changes everytime i try to install it again}

[2013-04-27 12:58] ihsaninfiyaz opened #473 "Simulator not starting properly on 12.04 ubuntu. Firefox version 20.0"
I can see the dashboard; when I toggle the button that says Running and Stopping, it changes to running, opens a small window with an animation of three red circles, and then shuts off the window suddenly before it goes too further. The next time I click the button it toggles to running as before, but now it opens the window and closes it in a snap. When I restarted my laptop and ran through the s

[2013-04-27 17:10] mykmelez commented on #473
Hmm, it sounds like the Simulator is crashing on startup. Which version of the Simulator are you using, and are you using a 32-bit or 64-bit version of Ubuntu?

I don't have an Ubuntu 12.04 installation, but I've tested with a 32-bit 11.10 and a 64-bit 12.10 installation, and the [latest preview build for Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi) seems to work

[2013-04-27 17:18] mykmelez commented on #472
Hi @SoumenG, I'm sorry to hear you're having this problem! Some additional information will help us diagnose it. Which version of the Simulator are you using, and which OS are you using it on? Also, does this happen with every app or only certain ones?

If you're using the stable release (2.0.1), you might try the latest preview build of the next version ([Windows](https://ftp.mozilla.org/pub/mozi

[2013-04-27 19:09] ghost commented on #472
I am running Simulator version 3.0pre4 on  fedora17 and yes,it does show this error everytime i try to install an Application.
I am able to create a directory in /tmp alright.
Looking forward to your reply.

[2013-04-27 19:31] mykmelez commented on #472
Please try installing the latest preview build, 3.0pre8, and let me know if you still experience the problem!

[2013-04-28 06:49] DiscoStarslayer opened #474 "mozSystem set to false when app run via dashboard"
Responses don't return and XMLHttpRequest.mozSystem returns false when I click 'run' from the dashboard and the simulator is running. If I click on the app icon itself in the simulator, mozSystem becomes true and my program gets responses.

How to reproduce:
Add systemXHR to manifest. Run this js:

var request = new XMLHttpRequest({mozSystem: true});
alert(request.mozSystem);

Install to simulator

[2013-04-29 03:13] Gioyik opened #475 "Simulator doesn't work in Nightly 23.0a1"
Hi,

I tried to install the Simulator 3.0pre8 Linux in Nightly 23.0a1, there are some problems.
- The Firefox OS simulator option in the Developer Tools menu doesn't exist or is not created after the installation
- The only way to access at the Simulator is puting in the url bar: resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html
- If i try to run the Simulator clicking on the s

[2013-04-29 07:13] mykmelez commented on #475
Hi @Gioyik, what distribution and version of Linux are you running, and is it a 32-bit or 64-bit installation? Also, if you open up the Error Console after starting Firefox, do you see any messages in the console? If not, then try using about:config to set extensions.r2d2b2g@mozilla.org.sdk.console.logLevel to the integer value 0 (zero), restarting Firefox, and checking the Error Console again. Le

[2013-04-29 09:29] MAK2013 opened #476 "Problem in settings"
When I went to settings to activate WIFI because my app requires WIFI the Simulator crashed.

[2013-04-29 15:34] Pikkolo commented on #334
Data e ora: 29/04/2013 17:29:59
Errore: TypeError: aDoc.location is null
File sorgente: chrome://fgm/content/fgm.js
Riga: 379

Data e ora: 29/04/2013 17:32:36
Errore: [Exception... "'ReferenceError: self is not defined' when calling method: [nsITimerCallback::notify]"  nsresult: "0x8057001c (NS_ERROR_XPC_JS_THREW_JS_OBJECT)"  location: "native frame :: <unknown filename> :: <TOP_LEVEL> :: line 0"

[2013-04-29 15:44] Pikkolo commented on #334
The simulator works fine now, no more strange behaviours detected :love:

Let's see if it lasts long :D

[2013-04-29 21:13] nickdesaulniers opened #477 "Open Location fails for both packaged and hosted/generated apps"
Looks like apps can be Hosted, Packaged, or Generated, but any apps that are not Packaged, you can click Open Location but nothing happens.

[2013-04-29 21:56] ghost opened #478 "Modified step-7,8 of CONTRIBUTING.md"
Hi,
I  have modified steps-7,8 of CONTRIBUTING.md.
Step-8 suggested changing to a directory and run make which didn't have a Makefile
and step-7 is modified in accordance to a Feature newly added.
I have a patch and i have sent a pull request.
Thanks.

[2013-04-29 22:35] nickdesaulniers commented on #478
Fixed in #479
Thanks @SoumenG !

[2013-04-29 22:36] #478 closed, assigned to nobody

[2013-04-29 23:42] #422 closed, assigned to nobody

[2013-04-29 23:48] mykmelez commented on #334
@Pikkolo Note that I fixed another "can't access dead object" error today in https://github.com/mozilla/r2d2b2g/commit/76c2db21ea8e52483a0b5809c7d6a5410e0ec500, and the fix made it into the 3.0 release candidate builds:

Windows: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-3.0-windows.xpi
Mac: https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-3.0-mac.xpi
Linux: https://

[2013-04-30 15:25] mykmelez commented on #361
Closing this issue, as the work is done! (There's still a bit more work to do when we release 3.0, but we're tracking that elsewhere.)

[2013-04-30 15:25] #361 closed, assigned to wbamberg

[2013-04-30 16:15] nickdesaulniers commented on #476
Duplicate of #366

[2013-04-30 16:15] #476 closed, assigned to nobody

[2013-04-30 16:46] nickdesaulniers commented on #427
Note to self, don't forget to test the case where an app is:
- hosted
- packaged
- generated

[2013-04-30 18:43] nickdesaulniers commented on #427
https://bugzilla.mozilla.org/show_bug.cgi?id=867265

[2013-04-30 19:52] kumar303 commented on #427
Currently you have to log in to the Marketplace Devhub to get a test receipt. However, we can maybe expose this with the [Marketplace API](http://firefox-marketplace-api.readthedocs.org/en/latest/). I'm half expecting @andymckay to tell me it's already there :)

[2013-04-30 19:58] andymckay commented on #427
Ok, if you insist: http://firefox-marketplace-api.readthedocs.org/en/latest/topics/payment.html#test-receipts

[2013-04-30 21:34] kumar303 commented on #427
Heh, full circle. Sorry, I was behind on bugmail.

[2013-05-01 17:12] novia713 commented on #472
im having the same issue with r2d2b2g 3.0pre8 in Fedora 18 with Firefox 2.0. see screenshot → http://imm.io/14C4a  it occurs every time i click "run" a packaged app of my own

[2013-05-01 18:03] nickdesaulniers opened #485 "Tracking: receipts"
This is a tracking bug, a to-do list of sorts, to help me keep track of features to add to receipt code, as per an irc convo with @mykmelez .  Use `~~` to strike through completed issues.
- Initially, install a valid receipt for all apps. #427
- Add UI to dashboard to specify [receipt type](http://firefox-marketplace-api.readthedocs.org/en/latest/topics/payment.html#test-receipts). #494
- Add abil

[2013-05-02 19:25] waqar1 opened #489 "simulator works only once when it was installed first time"
i installed simulator for windows  . I am using mozile firefox 20.0.1 on windows 7 64-bit. It worked for the first time after that it shows running but no simulator shows nor it works

[2013-05-03 10:09] flodolo opened #490 "Include more languages from gaia-l10n repository"
Current version (3.0) of Firefox OS Emulator add-on includes only 10 languages. Would it be possible to include more languages from https://hg.mozilla.org/gaia-l10n/?

This add-on would be a great tool to help localizers testing their localization.

[2013-05-03 13:07] GalegO commented on #475
Same thing on Windows 8 64bits using Nightly 23.0a1 (2013-05-02)...

[2013-05-03 17:00] nickdesaulniers commented on #472
@SoumenG emailed me asking to be assigned this.  I'd recommend starting out looking in addon/lib/simulator.js.  You can see [here](https://github.com/mozilla/r2d2b2g/blob/6f2c8f172e7a47e9f88ba60d60c059bf47bed7ca/addon/lib/simulator.js#L305) is where we try to create that folder.

[tempdir](https://github.com/mozilla/r2d2b2g/blob/6f2c8f172e7a47e9f88ba60d60c059bf47bed7ca/addon/lib/simulator.js#L303)

[2013-05-03 17:32] jeffgca opened #491 "Provide a changelog with each release"
The publishing platform for the simulator is currently AMO - if possible we should provide high-level changes there with a link to a full changelog if possible.

[2013-05-03 17:43] mykmelez commented on #491
I just added a link to the release announcement, which describes high-level changes, and GitHub comparisons of the Simulator and Gaia, which provide ⅔ of a full changelog (the missing ⅓ being the B2G changelog; although I suppose one might quibble with the absence of the Add-on SDK from my "changelog completeness" calculations), into the description of the addon on its [AMO listing](https://addons

[2013-05-03 17:44] #491 closed, assigned to nobody

[2013-05-03 17:45] rpl commented on #472
@mykmelez @nickdesaulniers I haven't a Fedora to give it a try, but it's possible that Firefox Desktop installed from yum is built/configured to use a different
temporary dir (named "TmpD" in the xpcom service) from b2g-desktop packaged inside the simulator addon:

e.g.
- Firefox Desktop: "TmpD" -> /var/tmp
- B2G Desktop: "TmpD" -> /tmp

@SoumenG could you try this small firefox addon http://ubik.

[2013-05-03 19:52] nickdesaulniers opened #493 "can’t access dead object"
Hey I just saw [this](https://blog.mozilla.org/addons/2012/09/12/what-does-cant-access-dead-object-mean/) blog post.  Not sure if there's already an issue open for this error we see in the error console, but I thought it was handy to share.

[2013-05-03 21:08] mykmelez commented on #178
@digitarald fixed this in #480.

[2013-05-03 21:08] #178 closed, assigned to digitarald

[2013-05-03 21:31] mykmelez commented on #143
Closing this due to lack of needed info. But please do reopen if you can provide that info!

[2013-05-03 21:31] #143 closed, assigned to nobody

[2013-05-03 21:31] mykmelez commented on #205
Closing this due to lack of needed info. But please do reopen if you can provide that info!

[2013-05-03 21:31] #205 closed, assigned to nobody

[2013-05-03 21:31] mykmelez commented on #289
Closing this due to lack of needed info. But please do reopen if you can provide that info!

[2013-05-03 21:31] #289 closed, assigned to nobody

[2013-05-03 21:32] mykmelez commented on #364
Closing this due to lack of needed info. But please do reopen if you can provide that info!

[2013-05-03 21:32] #364 closed, assigned to nobody

[2013-05-03 21:32] mykmelez commented on #389
Closing this due to lack of needed info. But please do reopen if you can provide that info!

[2013-05-03 21:32] #389 closed, assigned to nobody

[2013-05-03 21:48] mykmelez commented on #28
@kmaglione thinks this is because Firefox stats all the addon files, so we might be able to address this by moving the Simulator and Gaia profile out of the addon directory on install/update, although that would complicate the install/update experience, since it would mean that installing the addon isn't sufficient to install the Simulator, and users have to go through a second step (even if autom

[2013-05-03 21:49] mykmelez commented on #66
Now that we have a Ctrl/Cmd-R shortcut for repackaging/reinstalling/restarting an app, we might consider a Shift-Ctrl/Cmd-R shortcut that also clears the cache (à la the same shortcut in the browser).

[2013-05-03 21:58] mykmelez commented on #83
Note that the Simulator addon will never be small. A zipped Gaia v1-train profile with only core apps and no additional locales is currently 34MB, and there's not much we can do to make it smaller.

So even when we get the Simulator running on Firefox's XULRunner and stop shipping any SDK modules with the addon, such that the Simulator and addon parts of the package can be measured in the 10s to 1

[2013-05-03 22:00] mykmelez commented on #91
I don't think this is enough of a problem to be worth doing something about it anymore, now that the addon is better at tracking the subprocess and closes it when the addon gets disabled.

[2013-05-03 22:00] #91 closed, assigned to digitarald

[2013-05-03 22:02] mykmelez commented on #114
We didn't end up landing this for the release, but it'll be a top priority for the next one. Let's track it in #166, though, as it seems like this issue is just another manifestation of the problem that other issue is resolving.

[2013-05-03 22:02] #114 closed, assigned to nobody

[2013-05-03 22:07] mykmelez commented on #124
I recently landed some build system enhancements for building with additional locales. I think those enhancements satisfy the goal here of making it possible for Gaia localizers to use the Simulator to develop their locales. Here are the instructions for building, running, and packaging with all locales, which you can then modify as appropriate to do so for a single locale:

[code]

To test the bu

[2013-05-03 22:07] #124 closed, assigned to nobody

[2013-05-03 22:13] mykmelez commented on #130
@shia86 I suspect that it is ok to put 127.0.0.1 in the proxy host field, although I don't know for sure.

In any case, it sounds like this feature is supported natively in Gaia via Settings > Cellular & Data > Data settings, and that works sufficiently, so I'm going to close this issue. But please reopen if it turns out to be insufficient!

[2013-05-03 22:13] #130 closed, assigned to nobody

[2013-05-03 22:15] mykmelez commented on #171
I can still reproduce, and not only after viewing source; B2G also crashes when I context-click on a message in the console (although that could be a different crash).

I suspect the ultimate solution will be to get rid of the Error Console in favor of the Web Console (for app developers) and the new Browser Console (for Simulator developers).

[2013-05-03 22:17] mykmelez commented on #206
Closing due to lack of info, but please do reopen if you still see the problem(s) with the latest preview builds!

[2013-05-03 22:17] #206 closed, assigned to nobody

[2013-05-03 22:21] mykmelez commented on #269
Killing the app was fixed by #314. The rest of this request seems identical to #66, so let's use that issue to track it.

[2013-05-03 22:21] #269 closed, assigned to nobody

[2013-05-03 22:28] mykmelez commented on #299
Hmm, ok, then we can't fix this problem, so unfortunately we have to close the issue without resolving the problem. Note that @wbamberg has documented this limitation in his [new Simulator docs on MDC](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator). And I just added a sentence to that doc that mentions Youtube specifically:

[2013-05-03 22:28] #299 closed, assigned to nobody

[2013-05-03 22:35] mykmelez commented on #334
I'm going to close this, as @Pikkolo reports that the Simulator works for him, and I think I fixed the last "can't access dead object" bug. Whew!

[2013-05-03 22:35] #334 closed, assigned to mykmelez

[2013-05-03 22:36] nickdesaulniers commented on #334
Nice work @mykmelez , we can probably close #493 then?

[2013-05-03 22:38] mykmelez commented on #334
@nickdesaulniers Yes, I think so! But please reopen if you still experience the problem!

[2013-05-03 22:39] jeffgca commented on #491
Worth considering automating this as we go, that sounded like a distraction to pull together.

[2013-05-03 22:41] #493 closed, assigned to nobody

[2013-05-03 22:41] mykmelez commented on #359
Resolution is #272. So let's focus this issue specifically on DPI! However, I don't understand the use case well enough. Can someone explain how DPI typically varies between the kinds of devices FxOS is targeting, what DPI values we'll want to support, and how a DPI simulation might present itself to developers?

[2013-05-03 22:44] mykmelez commented on #368
The latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) fixes that "can't access dead object" problem, although you may need to restart Firefox once after installing it to completely

[2013-05-03 22:47] mykmelez commented on #380
@tobbi Any chance the latest preview builds ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) resolve this issue for you?

[2013-05-03 22:48] nickdesaulniers commented on #359
I don't know too much about DPI and devices, but it might be important since most apps don't look quite right on Peaks.  [window.matchMedia](https://developer.mozilla.org/en-US/docs/DOM/window.matchMedia) and [-moz-device-pixel-ratio](https://developer.mozilla.org/en-US/docs/CSS/Media_queries#-moz-device-pixel-ratio) might be able to help, but I cannot in good faith suggest anything that's been ve

[2013-05-03 22:50] mykmelez commented on #391
@leandroruel That's an interesting idea! But it sounds like a feature request for Firefox OS rather than the Simulator, which is just a tool for developers to test their apps in an environment that resembles the one that we'll put on Firefox OS phones. So I recommend you suggest it in the [Gaia forum](https://groups.google.com/forum/#!forum/mozilla.dev.gaia).

[2013-05-03 22:50] #391 closed, assigned to nobody

[2013-05-03 22:53] mykmelez commented on #393
Thanks @qdot. Since it isn't possible, I'm going to close this issue until such time as it becomes possible. In the meantime, @wbamberg's [new docs on MDN](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator) note that it isn't supported.

[2013-05-03 22:53] #393 closed, assigned to nobody

[2013-05-03 22:53] nickdesaulniers opened #494 "Add UI to dashboard to specify receipt type."
@potch is working on updating the dashboard UI.  With the addition of receipts, I'd like him to think about the UI for receipts.  @andymckay 's [tool](https://marketplace.firefox.com/developers/test/receipts/) features a dropdown with the receipt types of None, Valid, Expired, Invalid, Refunded, or None.  We may want to allow the dev to chose this on initial install _and_ subsequent updates.

[2013-05-03 22:54] mykmelez commented on #394
I just heard from @dholbert that Simulator 3.0 final works on his Ubuntu 13.04 installation (albeit with some painting problems), so I'm going to close this issue. But please reopen if you can still reproduce with the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi)

[2013-05-03 22:54] #394 closed, assigned to nobody

[2013-05-03 22:56] mykmelez commented on #397
@xTaZe and @AceFubar, can you try the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)) and let me know if you still experience the problem?

[2013-05-03 22:58] mykmelez commented on #403
Hi @LivingBlues, sorry for the delay responding! Is your app publicly available? It's hard to know what the problem is without being able to see the code of the app. You might also try checking the Error Console to see if a relevant error is being reported there.

[2013-05-03 22:59] ghazel commented on #393
Guys -- I never asked for simulator support or simulation of a Bluetooth connection. My original issue title and description was changed.

My initial request was about Bluetooth connections on real phones. How do you form RFCOMM connections? We have an app that runs on Android phones, and we'd love to port it over, but it requires RFCOMM connections between devices.

[2013-05-03 23:00] tobbi commented on #380
I just tried and, no, it doesn't. But maybe I just need to do a clean reinstall of the add-on. If I created a new firefox profile, would that be the equivalent of a clean reinstall?

[2013-05-03 23:03] mykmelez commented on #404
I don't see this with the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)). Can you still reproduce the problem with that build?

[2013-05-03 23:06] mykmelez commented on #408
@Pawzter Have you had better luck lately, and was any of the provided information helpful? Just trying to get a sense of whether this is still a problem for you. Also, if you haven't done so, I recommend updating to either the [latest stable release](https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/) or the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/

[2013-05-03 23:08] mykmelez commented on #423
Ok, then it sounds like the issue is with the loader in Iceweasel, which needs to pull the fix that landed a few days ago in Aurora and Beta ([bug 855651](https://bugzilla.mozilla.org/show_bug.cgi?id=855651)). So there's nothing for us to do on the Simulator side of things. Thus I'm going to close this issue.

[2013-05-03 23:08] #423 closed, assigned to nobody

[2013-05-03 23:12] qdot commented on #393
Hi greg! I've been meaning to email you for a while, heh.

We currently don't have raw bluetooth socket access available in B2G. The only features we're shipping in V1.0 are HFP and OPP based file transfer, both of which we provide managed APIs to and only allow verified apps to get at. I think we may be adding A2DP and AVRCP for v1.1, but once again, those will still be managed APIs. We are certa

[2013-05-03 23:12] mykmelez commented on #426
@mblayman Urk, that is indeed a bad user experience. I'm sorry to hear you had to suffer through it! Fortunately, the [new stable release](https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/) has a manifest validator feature written by @rpl that will tell you if your manifest is missing icons (while also successfully installing the app in the Simulator, FxOS itself doesn't require

[2013-05-03 23:12] #426 closed, assigned to nobody

[2013-05-03 23:17] mykmelez commented on #461
Hi @khajafairoz, that's a great question, but unfortunately this isn't a great place to get it answered, as there are only a small number of app developers who pay attention to this issue tracker. I recommend you try posting to the [webapps forum](https://groups.google.com/forum/#!forum/mozilla.dev.webapps) or the [Gaia forum](https://groups.google.com/forum/#!forum/mozilla.dev.gaia).

[2013-05-03 23:17] #461 closed, assigned to nobody

[2013-05-03 23:19] mykmelez commented on #464
It's a little scary to think of using a running ADB daemon, since it might not be the same version. But it's a bad user experience to kill that daemon in favor of our own, since the user probably started it for a reason. And we also don't want to get into daemon killing wars with some other process (or the user, if the user is flipping back and forth between the command line and the Simulator). So

[2013-05-03 23:20] mykmelez commented on #474
@rpl Any idea what might be different about the _run_ command that could cause this?

[2013-05-03 23:21] mykmelez commented on #475
This could be the "can't access dead object" bug that we fixed recently. Please try installing the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)), then restart Firefox and see if

[2013-05-03 23:25] nickdesaulniers commented on #336
Duplicate of Issue #171

[2013-05-03 23:25] #336 closed, assigned to nobody

[2013-05-03 23:26] mykmelez commented on #477
Hmm, I thought we intended Open Location to open a hosted/generated app in a tab. Perhaps that recently regressed?

However, I also can't open the location of a packaged app anymore. When I try, nothing happens except that a hash mark appears at the end of the URL in the location bar, and the following error appears in the Error Console:

[code]

I wonder if recent changes to the Dashboard regress

[2013-05-03 23:28] mykmelez commented on #489
Hi @waqar1, what version of the Simulator are you using? You might try installing the latest preview build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi)), restarting Firefox, and then seeing if it ma

[2013-05-03 23:30] dholbert opened #495 "Scrollbars repaint incorrectly on Firefox OS Simulator, on Ubuntu 13.04"
STR:
1. Start up Firefox OS Simulator. (I'm using 3.0 on Ubuntu 13.04 64-bit)
2. Launch settings app.
3. Scroll. (either with mousewheel, or click-and-fling)

ACTUAL RESULTS: The scrollbar repaints incorrectly, as you scroll. (until it starts to fade away, after about a second, at which point it's fully repainted correctly)

Basically, it looks like we're not invalidating enough of the scrollbar.

[2013-05-03 23:32] dholbert commented on #495
Screencast: https://people.mozilla.com/~dholbert/screenshots/scrollbar-bug.ogv

[2013-05-03 23:37] mykmelez commented on #380
Hmm, it should be, although it should also be sufficient to uninstall the addon and then restart Firefox.

[2013-05-03 23:38] mykmelez commented on #491
It only took a few minutes, but automating it would be better!

[2013-05-03 23:40] mykmelez commented on #495
The Simulator used to apply the B2G stylesheet to all frames. Now it applies them only to content frames, which includes Gaia's system app, its homescreen app, and all other Gaia apps (along with third-party apps) but does not include the XUL shell that surrounds them all.

So if the problem occurs only on the Simulator, and it doesn't occur in B2G Desktop, then that might be the reason.

[2013-05-03 23:42] mykmelez commented on #393
Ah, sorry @ghazel for misunderstanding your request! In any case, I'm glad that @qdot was able to answer your question.

[2013-05-04 00:09] nickdesaulniers opened #496 "Push receipts to device"

[2013-05-04 00:10] nickdesaulniers opened #497 "Increase the duration of validity of the receipt."
Increase the [duration of validity](https://bugzilla.mozilla.org/show_bug.cgi?id=867662) of the receipt.

[2013-05-04 00:11] nickdesaulniers commented on #485
Closed in favor of individual bugs and not having tracking labels

[2013-05-04 00:11] #485 closed, assigned to nickdesaulniers

[2013-05-04 00:29] mykmelez commented on #490
I just posted to the original thread in dev-l10n about this. Here's what I said:

On 2013/05/03 02:03, Axel Hecht wrote:

And I'm subscribed to this list! So I'm happy to chat here in addition to responding to GitHub issues.

I did recently add six more locales to the Simulator, which added about half a megabyte to the package size. And I'm not necessarily opposed to adding more. But I'm concerned

[2013-05-04 00:31] mykmelez commented on #490
So, having said all that: I think it'd be more valuable to first explore setting up localizer builds of the Simulator on a regular basis. Then, if we run into roadblocks that we can't resolve, we can consider adding more locales to the main builds as a second-best option.

[2013-05-04 00:44] dholbert commented on #495
In the latest B2G desktop build ( https://ftp.mozilla.org/pub/mozilla.org/b2g/nightly/2013-05-03-03-10-34-mozilla-central/b2g-23.0a1.multi.linux-x86_64.tar.bz2 ), I don't see any scrollbars at all, actually. (Tried both the Settings and the Browser apps.)  (to be clear: I can scroll, but there's just no visible scrollbar.)

So: assuming that the above-linked b2g desktop build is otherwise mostly c

[2013-05-04 00:51] mykmelez commented on #495
It isn't quite comparable, as the Simulator is using a build from the B2G18 branch, but the scrollbar style looks the same on the two branches:

http://mxr.mozilla.org/mozilla-b2g18/source/b2g/chrome/content/content.css#8
http://mxr.mozilla.org/mozilla-central/source/b2g/chrome/content/content.css#8

And it hides XUL scrollbars in XUL. Which explains why you don't see them in B2G Desktop, and why

[2013-05-04 00:52] mykmelez opened #498 "remove redundant stylesheet"
We have both b2g-content.css and b2g.css in the prosthesis/content/ directory. They are identical. We should remove one.

[2013-05-04 02:16] harthur opened #499 "Add Style Editor actors to simulator"
On nightly, the Style Editor can use the remote debugging protocol, but the simulator doesn't have the actors required to communicate with it. The actors are located in `toolkit/devtools/styleeditor/dbg-styleeditor-actors.js`

@mykmelez says it would be easier to get these actors in the simulator than b2g.

[2013-05-04 02:39] flodolo commented on #490
Thanks, I'll look into the process and see what I can get out of it.

[2013-05-04 05:22] Gioyik commented on #475
Hi @mykmelez

My system is Ubuntu 13.04 32 bit, using Firefox Nightly 23.0a1. I have been installed the latest build of the Simulator but it doesn't work. The Simulator option in the Developer Tools Menu is not there, i nees to put in the url bar this to access at the simulator dashboard:

resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html

And if i click on the start buttom to

[2013-05-04 05:28] Gioyik opened #500 "Orientation button doesn't work"
Hi,

I have been installed the latest version of the Simulator, and in Firefox 20.0 / Ubuntu 13.04. The orientation buttom of the simulator doesn't work. It doesn't change the orientation of the simulator, it's vertical all the time.

Regards

[2013-05-04 05:32] Gioyik commented on #475
Other problem is that it doesn't show the words in the dashboard:

No apps added yet? Add some...

I Attach an image to show the problem.

![captura de pantalla de 2013-05-04 00 30 09](https://f.cloud.github.com/assets/1834718/462142/0bb1b500-b47c-11e2-8350-5394e1fc6781.png)

[2013-05-04 06:53] tokovenko commented on #403
Now everything is ok. After update mozilla browser, event work normal

[2013-05-04 08:51] ghost commented on #472
@rpl @mykmelez @nickdesaulniers
It does use a different temp directory -> /var/tmp.But does this issue reproduce for every system running fedora?I guess fedora/yum's default config builts firefox in  /var/tmp.So,b2g has to be configured to use the default directory as used by firefox.

[2013-05-04 09:41] hyvakeke commented on #404
Cannot reproduce with 3.0 anymore.

[2013-05-04 09:41] #404 closed, assigned to nobody

[2013-05-04 09:47] white-gecko commented on #385
I also can't find the menu entry in Web Developers sub-menu.
I have Debian testing with Iceweasel 20.0 (Mozilla/5.0 (X11; Linux x86_64; rv:20.0) Gecko/20100101 Firefox/20.0 Iceweasel/20.0) and Firefox OS Simulator 4.0pre1.
I don't have History set to “Never remember history” so it is different from #431

[2013-05-04 09:56] ghost commented on #472
@rpl Could we use a symlink to /var/tmp/b2g in /tmp?

[2013-05-04 10:19] marienfressinaud commented on #472
@SoumenG > Yes, it works with a symbolic link from /tmp/b2g to /var/tmp/b2g :) thanks for idea!

[2013-05-04 10:54] LordAmit commented on #368
@mykmelez , Works better for me now! :D

[2013-05-04 12:59] rpl commented on #500
Currently the Orientation button doesn't rotate the screen if the app lock
the orientation (e.g. currently the homescreen lock the screen in portrait)

Could you try to run an app which unlock the screen? (e.g. run the gaia
browser app and click the orientation button)

Besides that we agree that the current button behavior is not
complete/clear and we're going to make it more explicit.

[2013-05-04 19:36] DiscoStarslayer commented on #474
I'm not sure, but the problem seems to be gone now that I've updated r2d2b2g.

[2013-05-04 19:36] #474 closed, assigned to nobody

[2013-05-05 10:41] winncountynews opened #501 "Won't run, Firefox 20, MacOS 10.6.8"
I can install the plugin/app in Firefox 20.0 under MacOS 10.6.8 but can't run the simulator. When I enabled it, it crashes. All other non-standard Firefox plugins disabled. Also, you really need to post some sort of guide, there's no documentation at all that I can find.

[2013-05-05 12:34] Kontrolloren commented on #408
Hi, this is the user formerly known as Pawzter. I managed to sort out my problems on Linux by adding a line to "/etc/udev/rules.d/51-android.rules" with the idVendor 05c6. Afaik there has not been published any documentation on how to to this, which seems to be necessary to debug apps on the GeeksPhone Peak. If anyone else thinks that this is needed, i could publish a short guide on how to do it.

[2013-05-05 12:50] mblayman commented on #426
Cool. I love the simulator and how easy it is to use. Thanks for the good work!

[2013-05-06 06:08] waqar1 commented on #489
thanks for your reply i installed latest version of simulator and it solved the problem for me. Thanks for your kind reply.

Date: Fri, 3 May 2013 16:28:41 -0700
From: notifications@github.com
To: r2d2b2g@noreply.github.com
CC: waqarazher@hotmail.com
Subject: Re: [r2d2b2g] simulator works only once when it was installed first time (#489)

Hi @waqar1, what version of the Simulator are you using? Yo

[2013-05-06 07:26] ztamizzen commented on #359
I think https://developer.mozilla.org/en-US/docs/CSS/resolution is preferred, using it with "dppx".
A high resolution display has 1.5dppx <del>and</del> or higher.

[2013-05-06 08:33] k5e opened #502 "Date and time display on home screen is totally weird"
The date and time display on the simulator v.3 is not as expected:
![fxos_simulator-1](https://f.cloud.github.com/assets/606885/465150/bd0ee07e-b626-11e2-9715-2b7e74465144.png).
It even spills over to the next page:
![fxos_simulator-2](https://f.cloud.github.com/assets/606885/465151/c398ee4e-b626-11e2-9618-47fc5b16ff11.png).

This is the case since v.1 of the simulator.

[2013-05-06 09:18] gudoy opened #503 "[to be deleted]"
The bug I reported is not related to the simulator but to firefox os. Please do not care.

[2013-05-06 09:38] ochameau commented on #502
@mykmelez, This issue has been fixed in gaia master via this bug:
  https://bugzilla.mozilla.org/show_bug.cgi?id=863318
I'm going to ask if this patch is upliftable.

[2013-05-06 09:41] ochameau commented on #502
If that's not upliftable, we can provide a simplier patch as the most important lines are these three additions:
https://github.com/KevinGrandon/gaia/commit/4278903c96fd9692ee091cd244b3f24e510dd699#diff-9

[2013-05-06 13:56] #503 closed, assigned to nobody

[2013-05-06 14:00] ochameau opened #504 "Lockscreen isn't disabled"
On simulator master the lockscreen isn't correctly disabled.
It is a regression in gaia v1-train, as it doesn't fail with gaia master.
For some reason, the lockscreen is displayed whereas `lockscreen.enabled` settings is reported to be false here:
https://github.com/mozilla/r2d2b2g/blob/master/prosthesis/content/lockscreen.js#L6

[2013-05-06 14:56] ochameau commented on #504
It was something wrong in v1-train. We were missing the uplift from https://bugzilla.mozilla.org/show_bug.cgi?id=836056
I just uplifted it, so that should be fixed when we update our gaia submodule.

[2013-05-06 21:36] harthur commented on #499
Hold up one second for [bug 868321](https://bugzilla.mozilla.org/show_bug.cgi?id=868321) to land.

[2013-05-06 23:53] nickdesaulniers opened #505 "Wrong this reference"
![screen shot 2013-05-06 at 4 48 53 pm](https://f.cloud.github.com/assets/1823839/468894/9d84b1e4-b6a7-11e2-930e-c87f19d3c836.png)

Noticed this in my log.  Notice how [this](https://github.com/mozilla/r2d2b2g/blob/117c6750b6b5100c82e99c1cb4db8e04102848d6/prosthesis/content/dbg-simulator-actors.js#L309) in this context will refer to req, not SimulatorActor.prototype.  A simple `let that = this;` p

[2013-05-07 00:06] nickdesaulniers opened #506 "appOrigin is not defined."
![screen shot 2013-05-06 at 5 05 33 pm](https://f.cloud.github.com/assets/1823839/468961/e9c6d242-b6a9-11e2-8187-00fd5e9c4ba9.png) from installing packaged apps in `prosthesis/content/window-manager.js`

[2013-05-07 13:20] ochameau commented on #502
Actually, the patch I was refering to has already been uplifted on 1st of May on v1-train,
so that will be fixed on the next update of gaia submodule!

[2013-05-07 16:05] ghost commented on #472
version 4.0pre2dev solves this issue.

[2013-05-07 17:19] nickdesaulniers opened #508 "ocsp lookups appear in web console"
![screen shot 2013-05-07 at 10 16 58 am](https://f.cloud.github.com/assets/1823839/472717/128d73bc-b73a-11e2-83c6-b73d7c5d976c.png)

Seems like when there is HTTPS traffic, we log the OCSP request (has something to do with cert revocation lists IIRC) which I don't think is normal.

[2013-05-07 20:27] suoko commented on #490
Do you know if adding new languages via ' plugins' as in ff browser is feasable with ffos?
That would be awesome and unique if compared to other mobile os'

[2013-05-08 17:53] harthur commented on #499
Okay, actors should be ready to uplift:

https://github.com/mozilla/mozilla-central/tree/master/toolkit/devtools/styleeditor

[2013-05-09 12:19] ltedone commented on #475
I have the same problems on Ubuntu 13.04 32 bit with the latest version of Firefox Nightly

[2013-05-09 18:39] mykmelez commented on #472
I still see this in my Fedora 17 installation.

[SpecialSystemDirectory.cpp](https://github.com/mozilla/mozilla-central/blob/168c667d3da30cba186fe25be13190591d48f108/xpcom/io/SpecialSystemDirectory.cpp#L584-L596), which determines the temp dir for Firefox, looks for the _TMPDIR_, _TMP_, and _TEMP_ environment variables on Unix, falling back to `/tmp/` if none of those are defined. And the /usr/bin

[2013-05-10 09:35] tschuxi commented on #475
Same problem on Debian Wheezy.
Since I updated to Firefox OS-Simulator 3.0 on Iceweasel 21.0a -> no Menu-Entry and unable to start over resource://r2d2b2g-at-mozilla-dot-org/r2d2b2g/data/content/index.html
Also after updated to Iceweasel 22.0a2 -> no no Menu-Entry and unable to start

[2013-05-10 09:52] tschuxi commented on #475
Ups sorry, this issue is for Nightly 23.0a1.
My problem is fixed now. I deinstalled the Simulator AddOn and deletet the directory .mozilla/b2g/. After this I reinstalled the AddOn. Now it works.

[2013-05-10 15:19] jlcfly commented on #246
This is still an issue. I am using the lastest preview build for the simulator plus the nightly build for Firefox. It appeared just fine after a fresh install of both. Then, last night I tweaked my privacy settings and set Firefox to be in private browsing mode. This morning, the menu item is gone. So, I suspect this has something to do with privacy settings.

Additionally, the simulator is still

[2013-05-10 18:01] wfwalker opened #514 "app manifest validation fails to complain about bogus value for appcache_path"
It appears the otherwise excellent manifest validation in the simulator is not checking the validity of appcache_path.

Steps to Reproduce:

git clone git://github.com/wfwalker/opensun.git
add opensun/www/online.manifest as app to Simulator
should validate successfully
change appcache_path to something bogus
expected behavior: validation error
actual behavior: validation success

[2013-05-10 22:20] mykmelez opened #515 "compile adb 64-bit for 64-bit Linux installations"
@christiekoehler noted that "push to device" didn't work on her Ubuntu 12.10 64-bit installation until she installed Ubuntu's adb package. Running the Simulator's adb manually from the command line resulting in the following error:

[code]

Which helped me figure out that the problem is that the adb executable is compiled dynamically against 32-bit libraries, so it depends on those libraries to ru

[2013-05-13 12:50] ochameau commented on #246
I'm not sure we want to make work the simulator in private windows/mode, as the guideline of the addon SDK is to avoid addon to run in private windows unless it is explicitely required or the user asked for it. (There is a plan to tune the addon manager to offer the user to allow/diallow any addon to do stuff in private windows)

Otherwise, we are facing this sdk bug: https://bugzilla.mozilla.org/

[2013-05-13 16:28] mykmelez opened #517 "simulate vibration (window.navigator.vibrate) API"
The Simulator should simulate the vibration API:

http://dev.w3.org/2009/dap/vibration/
https://developer.mozilla.org/en-US/docs/DOM/window.navigator.vibrate
http://robnyman.github.com/vibration/

@codepo8 implemented a polyfill we might be able to reuse:

https://github.com/codepo8/mozVibrate-polyfill

[2013-05-13 16:54] mykmelez commented on #261
@rpl Were you able to reproduce this?

[2013-05-13 16:59] mykmelez commented on #362
It looks like this got fixed at some point (although starting the badappcache app crashes the Simulator!).

[2013-05-13 16:59] #362 closed, assigned to nobody

[2013-05-13 17:00] mykmelez commented on #368
@lordamit Great, thanks for the update!

[2013-05-13 17:00] #368 closed, assigned to nobody

[2013-05-13 17:12] mykmelez commented on #380
@tobbi Did a clean install make any difference?

To see if it's a path issue, you might try creating a Firefox profile in your user directory and installing the Simulator into that profile, i.e. (using cmd.exe):

[code]

Then install the [latest preview build for Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi) into that Firefox profile and try starting the Simula

[2013-05-13 17:13] mykmelez commented on #392
Closing this due to lack of needed info, but please reopen it if you can still reproduce!

[2013-05-13 17:13] #392 closed, assigned to nobody

[2013-05-13 17:14] mykmelez commented on #397
Closing this due to lack of needed info, but please reopen if you can still reproduce it!

[2013-05-13 17:14] #397 closed, assigned to nobody

[2013-05-13 17:17] mykmelez commented on #400
I no longer see that error, but I now see a blank (white) screen in the Contacts app, so I can reproduce the original problem.

Even though Contacts is a Gaia app, not a Simulator feature, it exposes activities that we want app developers to be able to use, so this is a legitimate issue with the Simulator.

[2013-05-13 17:17] mykmelez commented on #403
@LivingBlues Great, thanks for the update!

[2013-05-13 17:17] #403 closed, assigned to nobody

[2013-05-13 17:25] mykmelez commented on #408
@wbamberg documented this in the [Simulator docs](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator), but please do add any additional information that would help developers like you get things working!

That's an interesting idea, and I like that it bypasses adb and its configuration challenges. Still, I suspect it'll still be easier for a developer to push their app from their

[2013-05-13 17:25] #408 closed, assigned to nobody

[2013-05-13 17:30] mykmelez commented on #473
Closing due to lack of needed info, but please reopen if you can still reproduce it!

[2013-05-13 17:33] mykmelez commented on #489
@waqar1 Great, thanks for the update!

[2013-05-13 17:33] #489 closed, assigned to nobody

[2013-05-13 17:36] mykmelez commented on #490
@flodolo has been working on l10n builds, so I'm going to close this issue for now in favor of that approach. We can always reopen it and reconsider it if that approach proves to be unfeasible.

Hmm, I don't know if language packs are feasible. You might try asking in the [dev-b2g](http://www.mozilla.org/about/forums/#dev-b2g) or [dev-gaia](http://www.mozilla.org/about/forums/#dev-gaia) forums!

[2013-05-13 17:36] #490 closed, assigned to nobody

[2013-05-13 18:08] mykmelez commented on #500
@Gioyik Can you confirm that the button works if you try it in the browser app?

[2013-05-13 18:17] mykmelez commented on #501
Hi @winncountynews, I'm sorry to hear that the Simulator is crashing for you! There are [docs on the Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator), although I doubt they are helpful in this situation.

I don't have a Mac OS 10.6 installation, but I've tested on 10.7 and 10.8 with the [latest preview build for Mac](https://ftp.mozilla.org/pub/mozill

[2013-05-13 18:25] mykmelez commented on #502
I updated Gaia to the 2013-05-08 tip in 7a229b0d80bd26d752ad418997d8792fe45ff6b7, fixing this issue. The fix will show up in the next preview build.

[2013-05-13 18:25] #502 closed, assigned to nobody

[2013-05-13 18:26] mykmelez commented on #504
I updated Gaia to the 2013-05-08 tip in 7a229b0d80bd26d752ad418997d8792fe45ff6b7, fixing this issue. The fix will show up in the next preview build.

[2013-05-13 18:26] #504 closed, assigned to nobody

[2013-05-13 18:29] mykmelez commented on #508
Is this the console for the Dashboard or a remote console connected to the Simulator? And if the latter, is it connected to shell.xul or the Main Process?

[2013-05-13 18:32] mykmelez commented on #514
Note related issue #306: when the appcache path is invalid, not only does the validator not warn you, but installation fails silently.

[2013-05-13 18:41] Gioyik commented on #500
@mykmelez The rotation works in the browser app. Now i tested in other webapps and it works good. Sorry about it, probably was something stucking my brain in that moment. Is not a bug. :)

[2013-05-13 18:46] feer56 commented on #400
Awesome, hope we can get this fixed asap.

On Monday, May 13, 2013, Myk Melez notifications@github.com wrote:

##

Warmest Regards,
Andrew

Sent from my HTC Wildfire S via gmail mobile.

PS: Vote for my pet as the Cleverest Critter:
https://apps.facebook.com/promotionshq/contests/313242/voteable_entries/66230394

[2013-05-13 18:52] mykmelez commented on #500
Thanks for the quick response, and not that this isn't your fault! The current behavior is confusing, not only for you, but also for other users. @ochameau fixed #482 to make it a bit better, and we have ideas for making it even better in #312.

[2013-05-13 18:52] #500 closed, assigned to nobody

[2013-05-13 19:25] Gioyik commented on #475
Sorry, but this problem continue for me.

[2013-05-13 19:34] christi3k commented on #515
Another workaround is to install adb from your distro's package repository. Ubuntu, for example, includes adb binaries compiled for 64-bit.

[2013-05-13 19:40] mykmelez opened #518 "Simulator not loading on Nightly"
The Simulator (both the 3.0 stable release and the tip of master) has stopped loading on Nightly, throwing two of the following when Nightly is started from the command line:

[code]

cc: folks who might know if there's been a breaking change recently to the way modules are located and loaded: @ochameau @gozala @canuckistani

[2013-05-13 20:14] ochameau commented on #518
It's not an sdk issue, but just a URL change for a devtool jsm.
Give me a minute and I'll submit a pull request against gcli module.

[2013-05-13 20:17] ochameau commented on #518
https://github.com/erikvold/gcli-jplib/pull/1

[2013-05-13 20:18] ochameau commented on #518
Actually, there is still something misleading in the SDK, the stacktrace isn't really helpfull.
It looks like loader code is printing the wrong stacktrace.

[2013-05-13 20:43] tobbi commented on #380
Interesting. I just (re-?) installed the latest version of the Simulator in a new profile, and it doesn't appear to install correctly. I don't have a Firefox OS simulator menu item (in either profile) and if I just enter file:///C:/Users/Tobbi/tempprof/extensions/r2d2b2g@mozilla.org//resources/r2d2b2g/data/content/index.html manually into the location bar, the site loads, but won't open the simula

[2013-05-13 21:14] mykmelez commented on #475
The Iceweasel issue is probably #423, which is a bug in Iceweasel itself.

The other problems sound like they might be #518, which prevents the Simulator from loading in recent builds of Nightly. Until we fix that bug, the workaround is to use an Aurora, Beta, or release build of Firefox.

[2013-05-13 21:26] mykmelez commented on #380
@tobbi and I chatted on IRC, where he reported that the Simulator now works when he starts it in the release version of Firefox, although it still doesn't work in Nightly. So it seems like we fixed his original problem, and the remaining problem he is encountering is #518. But we're going to leave this issue open until we fix that one and he confirms that the Simulator works in Nightly with that f

[2013-05-13 22:07] mykmelez commented on #472
Fixed by @SoumenG in #516, which will make it into the next preview build. Thanks @SoumenG!

[2013-05-13 22:07] #472 closed, assigned to nobody

[2013-05-13 22:46] mykmelez commented on #390
This was just fixed by @louisstow in #513, and the fix will make it into the next preview build!

[2013-05-13 22:46] #390 closed, assigned to nobody

[2013-05-13 22:47] nickdesaulniers commented on #508
remote console to main process.  Unable to verify now...

[2013-05-13 22:47] #508 closed, assigned to nobody

[2013-05-13 23:23] ssj4maiko commented on #246
Well, I have this problem, and I'm not sure what it could be.

I use Nightly both at work and home. At work I have FFOS Simulator and Remote Debugger working.
Now, at home, and it happened yesterday I think after a crash, I can't access FFOS Simulator in Nightly anymore, but "Connect..." appears, then I close it and change to Aurora, and I have FFOS Simulator, but no Connect.

I don't use Private

[2013-05-13 23:23] mykmelez opened #519 "reported geolocation doesn't change immediately after being changed by user"
The geolocation reported to apps by the geolocation simulation doesn't always change immediately after being changed by the user. Sometimes apps that check the location right after the user changes it still see the old location for some period of time.

I've seen this with my [Mykzilla test app](http://www.mykzilla.org/app/), and I've heard of it happening to other users. In fact it seems to be qu

[2013-05-13 23:37] nickdesaulniers commented on #519
Because this isn't hooked up to watch position, there is a [timer that takes a second to update](https://github.com/mozilla/r2d2b2g/blob/96bbe42e665f91401784e1d484c6e6139db4c473/prosthesis/components/FakeGeolocationProvider.js#L85) the coordinates.  I think this is a duplicate of #470 .

[2013-05-14 00:00] nickdesaulniers commented on #517
css animation of the screen shaking?

[2013-05-14 00:33] mcepl opened #520 "Doesn't show up in the Tools menu with Nightly as of 2013-05-14"
I have freshly upgraded to 0.3 version from AMO, and now I cannot start the emulator, because it is not present in the Tools/Web DEveloper/ menu.
![screenshot from 2013-05-14 02 31 17](https://f.cloud.github.com/assets/198999/499119/cf21df16-bc2d-11e2-9e73-b53403e312e3.png)

[2013-05-14 05:28] ihsaninfiyaz commented on #473
Hello there, I'm sorry, I don't remember being alerted about the first reply, but anyway, I'm using the 32bit version of ubuntu, and the Simulator's version is 3.0. After the first time of installing and opening the Simulator, unless I bookmark the page, I can't reopen it again as well.

How would I install the preview build? I got this version off the addon page, the one that pops up if you hold

[2013-05-14 08:09] codepo8 commented on #517
yes
On 14 May 2013 01:00, "Nick Desaulniers" notifications@github.com wrote:

[2013-05-14 08:43] codepo8 commented on #517
I also added the support for vibrate() instead of mozVibrate. Strangely enough vibrate() is already a stub in Firefox now but does nothing. That messes with feature detection.

[2013-05-14 09:23] gorghoa opened #521 "cpu overload"
Hi,

On ubuntu 13.04, firefox simulator seems to need a lot of cpu. I have an intel core i5.

I have always one of the 4 cpu cores taken by FFOS simulator. Is this a normal behavior ?

This power loss does not let me work in the train, as my battery get discharged too quickly!

Regards.

[2013-05-14 09:39] rpl commented on #261
Unfortunately debian sid is not a release but a moving target (it's the codename of the debian unstable repo),
I've tried on Debian 7.0 "Wheezy" 64bit (which should be the last release spawned by sid) and I'm not able
to reproduce the problem on Firefox 18.0 / 18.0.1 / 20

Follows logs collected to better define the test accomplished:

**RESULT:** Unable to reproduce

**LSB_RELEASE:**
  Distributo

[2013-05-14 10:17] mounirlamouri commented on #517
Did you file a bug on this?

[2013-05-14 15:46] mykmelez commented on #497
@nickdesaulniers: do you plan to work on this in the near future? If so, let's assign this to you. Otherwise, let's move it out of the v4 milestone. Your pick!

[2013-05-14 15:47] mykmelez commented on #496
@nickdesaulniers: do you plan to work on this in the near future? If so, let's assign this to you. Otherwise, let's move it out of the v4 milestone. Your pick!

[2013-05-14 15:47] mykmelez commented on #494
@nickdesaulniers: do you plan to work on this in the near future? If so, let's assign this to you. Otherwise, let's move it out of the v4 milestone. Your pick!

[2013-05-14 15:55] mykmelez opened #522 "remote data unescaped when updating cached manifest"
In his AMO review of v3, @kmaglione notes that the Simulator "generate(s) HTML fragments from remote data without escaping it in simulator.js:_updateCachedManifest(), which I suspect opens up a privilege escalation vulnerability when a manifest is served with a properly crafted content-type header or malformed JSON."

I'm not sure there's actually a vulnerability, but we should confirm that and fi

[2013-05-14 16:00] mykmelez opened #524 "reassure AMO reviewers that setting port value is safe"
Code like the following made @kmaglione nervous in his AMO review of v3:

[code]

@kmaglione suggests that we "at least escape the port with something like JSON.stringify(port)". There's no actual vulnerability, since we generate the port value and know that it's an integer. But we should do something to reassure future AMO reviewers of that fact.

[2013-05-14 16:04] ochameau commented on #514
Note that appcache isn't supported for packaged app. In PR #523, I'm displaying a warning when we try to use appcache in packaged app.

Wouldn't it be interesting to introduce two modes for "Add directory" where we could select either hosted or packaged app type? The packaged app type would be the existing behavior. The hosted would be something similar to gaia DEBUG=1 mode, where we would automag

[2013-05-14 16:16] xantares commented on #520
Same here with latest stable and latest emulator plugin version.

[2013-05-14 16:28] nickdesaulniers commented on #524
we should use [parseInt](https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/parseInt) with an explicit radix of 10 and pass that to [isNaN](https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/isNaN).

[2013-05-14 20:13] mykmelez commented on #520
This sounds like a duplicate of #518.

[2013-05-14 20:13] #520 closed, assigned to nobody

[2013-05-14 23:20] javiersgithub opened #526 "Firefox OS Simulator does not startup"
First things first, i have downloaded the addon but it just doesn't starts and i have not found any error messages, so i can't really provide any useful information. Said that, i don't mind looking for better error messages i i'm told were to look.

The steps:
- Installed the stable 3 version from the add-on when doing a search in the integrated addon manager on firefox. This didn't start up (no n

[2013-05-14 23:31] kmaglione commented on #524
If you want to use parseInt, I'd prefer:

[code]

[2013-05-15 07:27] past commented on #414
The console and debugger actors are not present in device builds for security reasons (bug 797627), so remote debugging the main process is pointless IMHO.

[2013-05-15 13:46] andharikarsanket commented on #526
apparently, it doesn't start with Private browsing enable. (dont know if this is intentional) disable the private browsing, restart firefox and it should work. you might need to switch back n forth every time if u want to use both the simulator and private browsing.

[2013-05-15 14:55] kumar303 commented on #414
My understanding is that the remote debugger will be available on device builds but disabled by default. Developers will have to dig into settings to enable them, just like on Android.

[2013-05-15 18:31] javiersgithub commented on #526
Currently not using private mode.

I have been looking around into thee mozilla files and I'm not sure if what I have found is related or not, but at least is curious.
I have located the folder: $(HOME)/.mozilla/firefox/9x5m60gb.default/extensions/r2d2b2g@mozilla.org/resources/r2d2b2g/data/linux64/b2g, don't know is the executable file `b2g` is the actual simulator or not, but when trying to launc

[2013-05-15 20:40] #524 closed, assigned to mykmelez

[2013-05-15 21:32] nickdesaulniers opened #530 "Push to Device should verify files exist before push"
I originally installed the app in the dashboard as a packaged app by clicking Add Directory then navigating to the local manifest.webapp.  That listed it in the dashboard.  I could run it in the simulator or push to device.  After deleting the containing folder, and by extension the manifest.webapp for the app, without first removing it from the dashboard listing, I could still run it in the simul

[2013-05-16 17:11] #522 closed, assigned to mykmelez

[2013-05-17 14:30] javiersgithub commented on #526
Still doesn't work with firefox 22.

[2013-05-17 15:34] mykmelez commented on #526
Hi @javiersgithub, I'm sorry you're having this problem. Here's some info to help diagnose it.

I published a new preview build yesterday, so the next thing to try is installing the new build ([Windows](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi), [Mac](https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi), and [Linux](https://ftp.mozilla.org/pub/mozil

[2013-05-17 17:05] mykmelez commented on #514
I like that idea a lot! I would just be careful to distinguish between the "Gaia DEBUG=1" use case and the "third-party developer of hosted app" use case.

"Gaia DEBUG=1" is a mode in which a packaged app is served from a web server as if it was a hosted app, which seems pretty unique to Gaia development and isn't particularly useful in the Simulator, given that the Simulator knows how to package,

[2013-05-17 17:06] mykmelez commented on #514
Fixed by #523.

[2013-05-17 17:06] #514 closed, assigned to nobody

[2013-05-17 17:06] mykmelez commented on #306
Fixed by #523.

[2013-05-17 17:06] #306 closed, assigned to nobody

[2013-05-17 17:09] mykmelez commented on #261
@rpl Thanks for testing!

@ousado Are you still experiencing this problem, and if so, what versions of Debian and Firefox are you now using? It would also be helpful to know if you're using a Mozilla build of Firefox or a Debian build of IceWeasel and whether you're using a 32-bit or 64-bit installion of the OS.